<!DOCTYPE HTML>
<html data-ng-app="angularblank">
<head>
 <title>GMT24</title>
    <link rel="icon" type="image/png" sizes="32x32" href="https://thegmt24.com/app/assets/images/fav.png">
    <!--<meta charset="utf-8">-->
    
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     
     
     

     <div ng-if="lang=='1'">
    <link href="app/assets/css/bootstrap.min.css" rel="stylesheet">

    
	<link  href="app/assets/css/style.css" rel="stylesheet">
    </div>
    <div ng-if="lang=='2'">
        <link  rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css" integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz" crossorigin="anonymous">
        <link  href="app/assets/css/style_rtl.css" rel="stylesheet">
    </div>
	<link href="app/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link href="app/assets/css/jquery.countdownTimer.css" rel="stylesheet"> -->

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600" rel="stylesheet"> 
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
	<link rel="stylesheet" href="app/assets/css/jquery.bxslider.css"/>
	
	<link rel="stylesheet" href="app/assets/css/flexslider_css.css"/> <!--flipclock css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js">
      
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.33.1/dist/sweetalert2.all.min.js"></script>
<!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script> 

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  
    <script src="app/app.js"></script>
    <script src="app/config.constant.js"></script>
    


    <!-- Global Module in app.js -->
    <script src="bower_components/oclazyload/ocLazyLoad.min.js"></script>
    <script src="bower_components/angular-breadcrumb/dist/angular-breadcrumb.min.js"></script>
<!--    <script src="bower_components/ngmap/build/scripts/ng-map.min.js"></script>
    <script src="http://maps.google.com/maps/api/js"></script>-->
    <script src="app/Controllers/RootScopeCtrl.js"></script>
    <script src="app/Controllers/headerCtrl.js"></script>
    <script src="app/Controllers/footerCtrl.js"></script>
    <script src="app/Controllers/sidebarCtrl.js"></script>
    <script src="app/filters/dateFilter.js"></script>
    <script src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
    <script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script> 
    <script src="app/service/userService.js"></script>
    <script src="app/service/cmsService.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
     <!--<script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>-->
      <!-- <script src="app/assets/js/map.js"></script>  -->
         <script src="app/assets/js/ng-map/ng-map.min.js"></script> 
<!--             <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
    </script>-->

          <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-datepicker/2.1.23/angular-datepicker.js"></script> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-datepicker/2.1.23/angular-datepicker.css"/>

      <link rel="stylesheet" href="app/assets/css/ng-rating.css" />
      
      <link rel="stylesheet" href="app/assets/css/angular-tooltips.css" />
      <script src="app/assets/js/angular-tooltips.min.js"></script>
      
<script src="app/assets/js/ng-rating.js"></script>
<script src="app/assets/js/jquery-2.0.3.min.js"></script>

<!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <!--<script src="daypilot-all.min.js" type="text/javascript"></script>-->
    <!--spandan-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.0.1/rzslider.min.css" rel="stylesheet" />
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.0.1/rzslider.min.js"></script>-->

    <script src="node_modules/angularjs-slider/src/rzslider.js"></script>
    
    
    <!-- slide -->
    
  <!--<link rel="stylesheet" href="//cdn.jsdelivr.net/flexslider/2.2.2/flexslider.css">
  <script src="//cdn.jsdelivr.net/flexslider/2.2.2/jquery.flexslider-min.js"></script>
  <script src="//cdn.jsdelivr.net/flexslider/2.2.2/jquery.flexslider.js"></script>
  <script src="app/assets/js/angular-flexslider.js"></script>-->

<!-- 

    <script src="app/assets/themes/jquery.easing.1.3.js"></script>
<link rel="stylesheet" href="app/assets/themes/jquery.photocradle-0.4.3.min.js" />-->
    
  <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.8.0/lodash.js" data-semver="3.8.0" data-require="lodash.js@3.8.0"></script>
    <!-- slide -->
    <script src="https://code.angularjs.org/1.2.0rc1/angular-animate.min.js"></script>
    <script src="https://code.angularjs.org/1.2.0rc1/angular-touch.min.js"></script>
<meta name="description" content="Simple Map">
<meta name="keywords" content="ng-map,AngularJS,center">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<!--<script src="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places"></script>-->
<script data-require="angular-load@*" data-semver="0.2.0" src="https://rawgit.com/urish/angular-load/0.2.0/angular-load.min.js"></script>
    <script data-require="jquery@*" data-semver="2.2.0" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script data-require="jquery-easing@*" data-semver="0.1.3" src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.js"></script>
<script src="https://apis.google.com/js/client:plusone.js" type="text/javascript"></script>
</head>


<body click-capture ng-controller="RootScopeCtrl" id="RootScopeCtrls"  ng-class="lang == '2' ? 'rtls hold-transition skin-blue sidebar-mini' : 'hold-transition skin-blue sidebar-mini'" ng-cloak>

<!--<div ng-if="lang=='2'">
<body  ng-controller="RootScopeCtrl" class="hold-transition skin-blue sidebar-mini" dir="rtl" ng-cloak>
</div>-->
    <!--<body ng-if="lang== 1" ng-controller="RootScopeCtrl" class="hold-transition skin-blue sidebar-mini" ng-cloak>-->
<!--<body  ng-controller="RootScopeCtrl" ng-cloak style="background: #f8f8f8;">-->
<!--    <body  ng-controller="RootScopeCtrl" ng-cloak style="background: #f8f8f8;">-->

    <div id="default_loader" class="loading" style="display:none;">Loading&#8230;</div>
    <div ui-view id="app"></div>

  
  
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     
      <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.css" rel="stylesheet">
      <!-- Include all compiled plugins -->
       <script src="app/assets/js/jquery.min.js"></script>
        <script src="app/assets/js/popper.min.js"></script>
        <script src="app/assets/js/bootstrap.min.js"></script> 


       
      <script>
	$('.grid-list li').on('click',function(e) {
    if ($(this).hasClass('grid')) {
        $('.list-item').removeClass('list').addClass('grid');
    }
    else if($(this).hasClass('list')) {
        $('.list-item').removeClass('grid').addClass('list');
    }
    //alert('ok');
	});
</script>
<script src="app/assets/js/jquery.bxslider.js" type="text/javascript"></script>

<script type="text/javascript"> 
	$(document).ready(function(){
		$('.bxslider').bxSlider({
			minSlides: 1,
			maxSlides: 5,
			slideWidth:200,
			slideMargin: 11,
			auto: true,
			autoControls: true,
			pager: false
		});
	});
</script>
<!--<script src="app/assets/js/directive1.js"></script> -->

</body>


</html>
