<style>
  .clorochange,
  .clorochange:hover {
    background: #011529 !important;
  }
</style>
<script>
  $(document).ready(function () {

    $('.radios').click(function () {
     
     if ($(this).is(':checked'))
          {
          if($(this).val() == 1){
              $('#vendoradd').removeClass("clorochange");
          $('#useradd').addClass("clorochange"); 
          }
          if($(this).val() == 2){
            $('#useradd').removeClass("clorochange");
          $('#vendoradd').addClass("clorochange"); 
          }
      }
    });


  });



</script>
<section class="footer-bottom py-2">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="#/cms/1">{{language.about_us}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#/cms/9">{{language.Legal_details}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#/cms/6">{{language.Data_Privacy_Policy}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#/cms/7">{{language.FAQ_Help}}</a>
    </li>
  </ul>
  <span>{{language.copyright}}</span>
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mx-auto" id="exampleModalLabel">{{language.signup}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="registerForm" ng-submit="registerForm.$valid && signup(user)" novalidate>
          <div class="form-group text-center">
            <label for="name">{{language.as_a}}:</label>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <!--<button class="btn btn-block btn-primary">Vendor</button>-->
                <div class="btn btn-block btn-primary position-relative cust-radio n-cust-radio" id="useradd">
                    <input type="radio" value="1" ng-model="user.type" name="type" class="position-absolute radios" required>
                  <span>{{language.User}}</span>
                </div>
              </div>
              <div class="col-6">
                <!--<button class="btn btn-block btn-primary">User</button>-->
                <div class="btn btn-block btn-primary position-relative cust-radio n-cust-radio" id="vendoradd">
                    <input type="radio" value="2" ng-model="user.type" name="type" class="position-absolute radios" required>
                    <!--<span>{{language.Vendor}}</span>-->
                    <span>{{language.Vendor}}</span>
                </div>
              </div>
              <!--<span style="color:Red" ng-if="!registerForm.type.$error"> {{language.please}} {{language.Choose}} {{language.Vendor}} {{language.or}} {{language.User}} </span>-->
              <span style="color:Red" ng-show="registerForm.$submitted && registerForm.type.$error.required"> {{language.please}} {{language.Choose}} {{language.Vendor}} {{language.or}} {{language.User}} </span>
              <span>
                <div ng-if="user.type == '1'">{{language.signup}} {{language.as_a}} {{language.User}}</div>
              </span>
              <span>
                <div ng-if="user.type == '2'">{{language.signup}} {{language.as_a}} {{language.Vendor}}</div>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="name">{{language.first_name}}</label>
            <input type="text" class="form-control" id="name" aria-describedby="name" ng-pattern="/^[a-z A-Z]+$/" placeholder="Enter First name"
              ng-model="user.fname" name="fname" required>
            <span style="color:Red" ng-show="registerForm.$submitted && registerForm.fname.$error.required">{{language.fname_check}}</span>
            <span style="color:Red" ng-show="registerForm.fname.$dirty && registerForm.fname.$error.pattern">{{language.only}} {{language.Letters}} {{language.allowed}}</span>
          </div>
          <div class="form-group">
            <label for="name">{{language.last_name}}</label>
            <input type="text" class="form-control" id="name" aria-describedby="name" ng-pattern="/^[a-z A-Z]+$/" placeholder="Enter last name"
              ng-model="user.lname" name="lname" required>
            <span style="color:Red" ng-show="registerForm.$submitted && registerForm.lname.$error.required">{{language.lname_check}}</span>
            <span style="color:Red" ng-show="registerForm.lname.$dirty && registerForm.lname.$error.pattern">{{language.only}} {{language.Letters}} {{language.allowed}}</span>
          </div>
          <div class="form-group">
            <label for="name">{{language.country}}</label>
            <select class="form-control" name="country" ng-model="user.country" ng-change="state(user.country)" required>
              <option value="">{{language.select}} {{language.country}}</option>
              <option ng-repeat="countrylists in countrylist" value="{{countrylists.id}}">{{countrylists.name}}</option>
            </select>
            <span style="color:Red" ng-show="registerForm.$submitted && registerForm.country.$error.required">{{language.select}} {{language.country}}</span>
            <!--<span style="color:Red" ng-show="registerForm.lname.$dirty && registerForm.lname.$error.pattern">Only Letters Allowed</span>-->
          </div>
          <div class="form-group">
            <label for="number">{{language.mobile_number}}</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text2">
                  +{{phonecode}}
                </span>
              </div>
              <input type="text" class="form-control" ng-blur="getotp(user.phone,user.country)" id="number" placeholder="Mobile number"
                ng-pattern="/^\d+$/" name="phone" ng-model="user.phone" required>
            </div>
            <span style="color:Red" ng-show="registerForm.$submitted && registerForm.phone.$error.required">{{language.mobileno_check}}</span>
            <span style="color:Red" ng-show="registerForm.phone.$dirty && registerForm.phone.$error.pattern">{{language.only}} {{language.numbers}} {{language.allowed}}</span>
          </div>
          <div class="form-group">
            <label for="email">{{language.email_address}}</label>
            <input type="email" class="form-control" id="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" placeholder="Enter email"
              name="email" ng-model="user.email" required>
            <span style="color:Red" ng-show="registerForm.$submitted && registerForm.email.$error.required">{{language.enter}} {{language.valid}} {{language.email_address}}</span>
            <span style="color:Red" ng-show="registerForm.email.$dirty && registerForm.email.$error.pattern">{{language.enter}} {{language.valid}} {{language.email_address}}</span>
          </div>
          <div class="form-group">
            <label for="attachment">{{language.password}}</label>
            <input type="password" class="form-control" ng-pattern="/^.{6,}$/" name="password" id="attachment" placeholder="Password"
              ng-model="user.password" required>
            <span style="color:Red" ng-show="registerForm.$submitted && registerForm.password.$error.required">{{language.pass_check}}</span>
            <span style="color:Red" ng-show="registerForm.password.$dirty && registerForm.password.$error.pattern">{{language.pass_check2}}</span>
          </div>
          <div class="form-group">
            <label for="attachment">{{language.confirm_password}}</label>
            <input type="password" class="form-control" name="confirm_password" id="attachment" placeholder="Confirm Password" ng-model="user.confirm_password"
              ng-change="checkpassword(user.confirm_password,user.password)" required>
            <span style="color:Red" ng-show="registerForm.$submitted && registerForm.confirm_password.$error.required">{{language.password_match_error_mobile_1}} </span>
            <span style="color:Red" ng-if="!okpassword">{{language.password_match_error_mobile}}</span>
          </div>
          <div class="form-check form-group">
            <input type="checkbox" class="form-check-input" ng-model="selectVal" id="exampleCheck1" name="exampleCheck1" required>
            <a href="#/cms/5">
              <label class="form-check-label" for="exampleCheck1">{{language.i_accept_terms_condition}}</label>
            </a>
            </br>
            <span style="color:Red" ng-show="registerForm.$submitted && registerForm.exampleCheck1.$error.required"> ({{language.please_accept_terms_condition}}) </span>
          </div>
          <div class="form-group">
            <button type="submit" ng-if="loader" ng-click="checkoptions()" class="btn btn-block btn-primary">{{language.register}}</button>
            <div ng-if="!loader" class="loaderfooter"></div>
          </div>
        </form>
        <p class="or">{{language.or}}</p>
        <ul class="social-login">
          <li class="facebook">
            <a class="fa fa-facebook flogin"></a>
          </li>
          <li class="googleplus">
            <a class="fa fa-google-plus" onclick="google_login()"></a>
          </li>
        </ul>
        <div class="footer">
          <p>{{language.Already_have_account}}
            <a href="#" data-toggle="modal" data-target="#login" data-dismiss="modal">{{language.Sign_In}}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mx-auto" id="exampleModalLabel">{{language.login}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="loginForm" ng-submit="login(user)" novalidate>
          <div class="form-group">
            <label for="name">{{language.email_address}}</label>
            <input type="text" class="form-control" id="name" aria-describedby="name" ng-model="user.email" placeholder="Enter name">
          </div>
          <div class="form-group eye-p mb-3">
            <label for="number">{{language.password}}</label>
            <input type="{{inputType}}" class="form-control" id="number" placeholder="Password" ng-model="user.password">
            <div class="eye">
              <i class="fa fa-eye" ng-click="hideShowPassword()"></i>
            </div>
          </div>
          <!-- <div class="form-check form-group text-right mb-4">
                  <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
                     <label class="form-check-label" for="exampleCheck2">{{language.show_password}}</label>
                     
                   </div> -->
          <div class="form-check form-group">
            <input type="checkbox" class="form-check-input" id="exampleCheck2">
            <label class="form-check-label" for="exampleCheck2">{{language.remember_me}}</label>
            <a href="#" data-toggle="modal" data-target="#forget" data-dismiss="modal" class="forgot-password pull-right">{{language.forgot_password}} ?</a>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-block btn-primary" ng-disabled="loginForm.$invalid">{{language.Sign_In}}</button>
          </div>
          <div class="form-group">
            <!--<a   class="btn btn-block btn-primary" href="#" data-toggle="modal" data-target="#loginvendor" data-dismiss="modal">{{language.vendor_login}}</a>-->
          </div>
        </form>
        <p class="or">{{language.or}}</p>
        <ul class="social-login">
          <li class="facebook">
            <a class="fa fa-facebook flogin"></a>
          </li>
          <li class="googleplus">
            <a class="fa fa-google-plus" onclick="google_login()"></a>
          </li>
        </ul>
        <div class="footer">
          <p>{{language.dont_have_an_account}}
            <a href="#" data-toggle="modal" data-target="#exampleModal" data-dismiss="modal">{{language.signup}}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="loginvendor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mx-auto" id="exampleModalLabel"> {{language.vendor_login}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="loginForm" ng-submit="login(user)" novalidate>
          <div class="form-group">
            <label for="name">{{language.email_address}}</label>
            <input type="text" class="form-control" id="name" aria-describedby="name" ng-model="user.email" placeholder="Enter name">
          </div>
          <div class="form-group mb-1">
            <label for="number">{{language.password}}</label>
            <input type="password" class="form-control" id="number" placeholder="Password" ng-model="user.password">
          </div>
          <div class="form-check form-group text-right mb-4">
            <input type="checkbox" class="form-check-input" id="exampleCheck2">
            <label class="form-check-label" for="exampleCheck2">{{language.remember_me}}</label>
            <a href="#" data-toggle="modal" data-target="#forget" data-dismiss="modal" class="forgot-password pull-right">{{language.forgot_password}} ?</a>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-block btn-primary" ng-disabled="loginForm.$invalid">{{language.Sign_In}}</button>
          </div>
        </form>
        <p class="or">{{language.or}}</p>
        <ul class="social-login">
          <li class="facebook">
            <a class="fa fa-facebook flogin"></a>
          </li>
          <li class="googleplus">
            <a class="fa fa-google-plus" onclick="google_login()"></a>
          </li>
        </ul>
        <div class="footer">
          <p>{{language.dont_have_an_account}}
            <a href="#" data-toggle="modal" data-target="#exampleModal" data-dismiss="modal">
            {{language.signup}}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="forget" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mx-auto" id="exampleModalLabel">{{language.forgot_password}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="forgetForm" ng-submit="forget(user)" novalidate>
          <div class="form-group">
            <label for="name">{{language.email_address}}</label>
            <input type="email" class="form-control" id="name" aria-describedby="name" ng-model="user.email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-block btn-primary" ng-disabled="forgetForm.$invalid">{{language.Send}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<style>
  .loaderfooter {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
<script>
  /*************** Sign Up Facebook ***********************/
  $.getScript('//connect.facebook.net/en_US/all.js', function () {
    FB.init({ appId: '330093867579675' });
    $(".flogin").on("click", function (e) {


      e.preventDefault();
      FB.login(function (response) {
        // FB Login Failed //
        console.log('facebook', response);
        if (!response || response.status !== 'connected') {
          alert("Given account information are not authorised", "Facebook says");
        } else {
          // FB Login Successfull //
          FB.api('/me', { fields: ['email', 'name'] }, function (fbdata) {
            // alert(fbdata) ;    
            angular.element(document.getElementById('RootScopeCtrls')).scope().fblogin(fbdata);
            //scope().fblogin(fbdata);

            /*-  var name1 = fbdata.name;
              var name = name1.split(' ');
              var fb_user_id = fbdata.id;
              var fb_first_name = name[0];
              var fb_last_name = name[1];
              var fb_email = fbdata.email;
              var fb_username = fbdata.username;
              var password = "123456";*/
            //fb_usertype = 'S';

            //alert(fb_email);

            //console.log(fb_email);

            /*  $.ajax({
                  url: 'https://thegmt24.com/webservice/index.php/fblogin',
                  dataType: 'json',
                  type: 'post',
                  data: {"data": {"User": {"email": fb_email, "full_name": fb_first_name + ' ' + fb_last_name, "facebook_id": fb_user_id, "is_active": 1, "is_admin": 0,"password":password}}},
                  success: function (data) { 
                      //console.log('Arunava',data);alert(data.status);
                      if (data.status)
                      {
                          //alert('data.url');
                          window.location.href = data.url;
                          //$(this).closest('form').find("input[type=text]").val("");
                          //showSuccess('Registration successfull.');
                          //$('.email_error').hide();
                          //$('.sign-up-btn').removeAttr('disabled');
                      }
                      else
                      {
                          //alert('hi');
                          window.location = '';
                          //showError(data.message);
                          //showError('Internal Error. Please try again later.');
                          // $('.email_error').show();
                          //$('.sign-up-btn').attr('disabled','disabled');
                      }
                  }
              }); */


          })
        }
      }, { scope: "email" });


    });



  });


</script>
<script>
  (function () {
    var po = document.createElement('script');
    po.type = 'text/javascript';
    po.async = true;
    po.src = 'https://apis.google.com/js/client:plusone.js?onload=googleonLoadCallback1';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(po, s);
  })();

  function googleonLoadCallback1() {
    //alert('1');
    gapi.client.setApiKey('AIzaSyAqcMlE-u-_UDCLaFI0JncRGVOofOZiVuQ'); //set your API KEY
    gapi.client.load('plus', 'v1', function () {
    });//Load Google + API
  }

  function google_login() {
    var myParams = {
      'clientid': '627992241899-3cejrr6no3lgr8le455i2scp3c114bcj.apps.googleusercontent.com', //You need to set client id
      'cookiepolicy': 'single_host_origin',
      'callback': 'googleloginCallback', //callback function
      'approvalprompt': 'force',
      'scope': 'https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/plus.profile.emails.read'
    };
    gapi.auth.signIn(myParams);
  }

  function googleloginCallback(result) {
    // console.log("aruresult",result);
    if (result['status']['signed_in']) {
      //alert('3');

      // alert("Login Success");
      gapi.client.load('plus', 'v1', function () {

        var request = gapi.client.plus.people.get({
          'userId': 'me'
        });

        request.execute(function (resp) {
          //console.log('aruresp',resp);
          var email = '';
          if (resp['emails']) {
            for (i = 0; i < resp['emails'].length; i++) {
              if (resp['emails'][i]['type'] == 'account') {
                email = resp['emails'][i]['value'];
                resp['created_email'] = email;
              }
            }
          }
          console.log('arunava', resp);
          angular.element(document.getElementById('RootScopeCtrls')).scope().googlelogin(resp);
          /* var name1 = resp['displayName'];
           var name = name1.split(' ');
           var first_name = name[0];
           var last_name = name[1];
           var google_id = resp['id'];
           $.ajax({
               url: 'users/googlelogin123',
               dataType: 'json',
               type: 'post',
               data: {"data": {"User": {"email": email, "full_name": first_name + ' ' + last_name, "google_id": google_id, "is_active": 1, "is_admin": 0}}},
               success: function (data) { //console.log(data);alert(data.url);alert(data.status);
                 // console.log('Arunava',data);
                  if (data.status)
                   {
 
                       window.location.href = data.url;
 
                       //$(this).closest('form').find("input[type=text]").val("");
                       //showSuccess('Registration successfull.');
                       //$('.email_error').hide();
                       //$('.sign-up-btn').removeAttr('disabled');
                   }
                   else
                   {
                       window.location = '';
                       //showError(data.message);
                       //showError('Internal Error. Please try again later.');
                       // $('.email_error').show();
                       //$('.sign-up-btn').attr('disabled','disabled');
                   }
                   
               }
           });*/

        });
      });


    }

  }
   /* function addclass(){
       $('#vendoradd').removeClass("clorochange");
       $('#useradd').addClass("clorochange"); 
     //$(this).css("background","rebeccapurple");
   }
    function addclass2(){
      
       $('#useradd').removeClass("clorochange");
       $('#vendoradd').addClass("clorochange"); 
       
     //$(this).css("background","rebeccapurple");
   } */
</script>