<form  ng-submit="searchsubmit(search)">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
         <a class="navbar-brand" href="#"><img class="img-fluid spmenu" src="app/assets/images/logo.png" alt="" /></a>
         <div class="input-group col-lg-6 ml-auto drop-down-wrap">
            <input type="text" class="form-control dropdown-toggle" style="color:white"  placeholder="{{language.search}} {{language.your}} {{language.product}}" ng-change="autofield(search.brandName)" ng-model="search.brandName" id="brandname" aria-label="Recipient's username"  aria-describedby="basic-addon2" autocomplete="off" data-toggle="dropdown"> 
            <div class="input-group-append">
               <!--            <button ng-if="$state.current.name != 'frontend.productlisting'" class="btn btn-outline-secondary" type="button" ng-click="getbrandname()"><i class="fa fa-search"></i></button>-->
               <button  class="btn btn-outline-secondary bbttn spmenu" type="submit"><i class="fa fa-search"></i></button>
            </div>
            <div ng-show="myVarhide" class="dropdown-menu nn-dp">
               <ul class="dropdown-menu2 list-unstyled" ng-if="isExistsfield==1">
                  <li ng-repeat="bradslst in autofieldlist">
                     <a class="dropdown-item" ng-click="selectvalue(bradslst.field)" href="javascript:void(0)">{{bradslst.field}} </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </nav>
</form>
<nav class="navbar navbar-expand-lg navbar-light bg-gary fixed-top mt-5">
   <div class="container nav-icon py-2">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
         <ul class="navbar-nav">
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {{language.brands}}
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <ul class="dropdown-menu1">
                     <li role="presentation">
                        <div class="input-group input-group-sm search-control"><span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                           <input type="text" class="form-control" placeholder="{{language.brands}} {{language.Name}}" ng-model="query">
                        </div>
                     </li>
                     <li ng-repeat="bradslst in brandsList | filter:query" class="spmenu">
                        <a class="dropdown-item" href="#/productlisting/{{bradslst.id}}">{{bradslst.name}} </a>
                        <!--                    
                           </li>
                           <!--                     <li><a  class="dropdown-item" href="#/searchListing/">{{language.services}} </a></li>
                           <li><a  class="dropdown-item" href="#/searchListing/">{{language.shops}} </a></li>
                           <li><a  class="dropdown-item" href="#/searchListing/">{{language.offers}} </a></li>-->
                     </li>
                  </ul>
               </div>
            </li>
            <!--            <li class="nav-item" ng-if="current_user_login=='1'">
               <a class="nav-link" href="#/my_account">{{language.your_GMT24}}</a>
               </li>-->
            
            <li class="nav-item spmenu" >
               <a  class="nav-link" href="#/productlisting/" >{{language.watches}}</a> 
            </li>
            <li class="nav-item spmenu">
               <a class="nav-link" href="#/searchListing/" >{{language.auction}}</a> 
            </li>
            
            <li class="nav-item spmenu">
               <a  class="nav-link" href="#/latestdeal">{{language.latest}} {{language.deals}}</a>
            </li>
            
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {{language.shops}}
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                  <ul class="dropdown-menu1">
                     <li role="presentation">
                        <div class="input-group input-group-sm search-control"><span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                           <input type="text" class="form-control" placeholder="{{language.shop}} {{language.Name}}" ng-model="query">
                        </div>
                     </li>
<!--                     <li><a class="dropdown-item" href="#/allshopDetails/">{{language.all_shops}}</a></li>-->
                         <li><a class="dropdown-item spmenu" ng-click="allshop()" href="javascript:void(0)">{{language.all_shops}}</a></li>
                         <li ng-repeat="vendor in vendorlist | filter:query" class="spmenu">
                        <a class="dropdown-item" href="#/shopDetails/{{vendor.id}}">{{vendor.name}} </a>
                     </li>
                  </ul>
               </div>
            </li>
            
            <!--            <li class="nav-item">
               <a class="nav-link" href="#/searchListing/">{{language.gift_cards}}</a>
               </li>
               <li class="nav-item">
               <a class="nav-link" href="#/searchListing/">{{language.sell}}</a>
               </li>-->
            <!--<li class="nav-item">
               <a class="nav-link" href="#/searchListing">Buy</a>
               </li>-->
         </ul>
         <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" ng-if="current_user_login=='1'">
               <a href="javascript:void(0);" class="nav-link user-afterlogin dropdown-toggle" id="navbarDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <img src="{{sidebar_image}}" alt="">
               </a>
               <div class="dropdown-menu spmenu" aria-labelledby="navbarDrop">
                  <a ng-if="current_user_type=='2'" class="dropdown-item" href="#/vendordashboard">{{language.my}} {{language.dashboard}}</a>
                  <a class="dropdown-item" href="#/my_account">{{language.view}} {{language.profile}}</a>
                  <a class="dropdown-item" style="cursor:pointer" ng-click="logout();">{{language.logout}}</a>
               </div>
            </li>
            <li class="nav-item icon-link spmenu" ng-if="current_user_login=='1'" >
               <a href="#/notifications" class="nav-link">
               <i class="ion-android-notifications"></i>
               <span ng-if="headernotificmsg>0" class="ng-binding ng-scope">{{headernotificmsg}}</span>
               </a>
            </li>
            <!--            <li class="nav-item icon-link" ng-if="current_user_login=='1' && current_user_type=='1'">
               <a href="#/cart" class="nav-link"><i class="ion-bag"></i></a>
               <span class="ng-binding ng-scope" ng-if="headerCartCount>0">{{headerCartCount}}</span>
               <span class="ng-binding ng-scope" ng-if="headerCartCount==0">0</span>
               </li>-->
            <li class="nav-item" ng-if="current_user_login!='1'">
               <a  class="nav-link" href="javascript:void(0)" data-toggle="modal" data-target="#login">{{language.login}}</a>
            </li>
            <li class="nav-item" ng-if="current_user_login!='1'">
               <a  class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">{{language.signup}}</a>
            </li>
            <!--            <li class="nav-item dropdown" >
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               USA (USD) <img src="app/assets/images/map.png" alt="" />
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                  <div class="dropdown-item" ng-click="selectedlaguage('english')" style="color:grey;">German</div>
                  <div class="dropdown-item" ng-click="selectedlaguage('arabik')" style="color:grey;">Spanish</div>
                  <a class="dropdown-item" href="#">Services</a>
                     <a class="dropdown-item" href="#">Shops</a>
                     <a class="dropdown-item" href="#">Offers</a>
               </div>
               </li>-->
           
            <li class="nav-item dropdown" >
               <!--               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  USA (USD) <img src="app/assets/images/map.png" alt="" />
                  </a>-->
               <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {{selectedCurr}}
               </a>
               <div class="dropdown-menu dmdiv spmenu" aria-labelledby="navbarDropdownMenuLink1">
                  <a class="dropdown-item" ng-click="selectedCurrency('')" href="javascript:void(0)">KWD
                  <img src="app/assets/images/kwd.jpg" alt="">
                  </a>
                  <a class="dropdown-item" ng-click="selectedCurrency('AED')" href="javascript:void(0)">
                  AED  <img src="app/assets/images/uae.jpg" alt="">
                  </a>
                  <a class="dropdown-item" ng-click="selectedCurrency('BHD')" href="javascript:void(0)">
                  BHD  <img src="app/assets/images/bhd.jpg" alt="">
                  </a>
                  <a class="dropdown-item" ng-click="selectedCurrency('OMR')" href="javascript:void(0)">
                  OMR  <img src="app/assets/images/omr.jpg" alt=""> 
                  </a>
                  <a class="dropdown-item" ng-click="selectedCurrency('QAR')" href="javascript:void(0)">
                  QAR <img src="app/assets/images/qar.jpg" alt="">
                  </a>
                  <a class="dropdown-item" ng-click="selectedCurrency('SAR')" href="javascript:void(0)">
                  SAR <img src="app/assets/images/sar.jpg" alt="">
                  </a>
                  <a class="dropdown-item" ng-click="selectedCurrency('USD')" href="javascript:void(0)">
                  USD <img src="app/assets/images/usd.jpg" alt="">
                  </a>
                  <a class="dropdown-item" ng-click="selectedCurrency('EUR')" href="javascript:void(0)">
                  EUR <img src="app/assets/images/euro.png" alt="">
                  </a>
                  <a class="dropdown-item" ng-click="selectedCurrency('GBP')" href="javascript:void(0)">
                  GBP <img src="app/assets/images/en.gif" alt=""> 
                  </a>
               </div>
            </li>
            
             <li class="nav-item dropdown" >
               <!--               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  USA (USD) <img src="app/assets/images/map.png" alt="" />
                  </a>-->
               <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {{selectedlanguage}}
               </a>
               <div class="dropdown-menu spmenu" aria-labelledby="navbarDropdownMenuLink1">
                  <a class="dropdown-item" ng-click="selectedlaguage('1')" href="javascript:void(0)">English</a>
                  <a class="dropdown-item" ng-click="selectedlaguage('2')" href="javascript:void(0)">Arabic</a>
                  <!--<a class="dropdown-item" href="#">Services</a>
                     <a class="dropdown-item" href="#">Shops</a>
                     <a class="dropdown-item" href="#">Offers</a>-->
               </div>
            </li>
         </ul>
      </div>
   </div>
</nav>


<script>
   $(document).ready(function() {
    
    $('.spmenu').click(function(){        
        $('#navbarNavDropdown').removeClass('show');
        
    });

   
}); 
    
</script>



<style>
   .dropdown-menu1,
   .dropdown-menu2{
   max-height: 300px; /*Provide height in pixels or in other units as per your layout*/
   overflow-y: auto; /*Provide an auto overflow to diaply scroll*/
   }  
</style>
<!--      <div class="input-group col-lg-6 ml-auto">
   <input type="text" ng-model="stateName" placeholder="USA State Name. Try 'a' or 'n'" auto-complete="autoCompleteOptions" />
   
   
    <div class="input-group-append">
       <button ng-if="$state.current.name != 'frontend.productlisting'" class="btn btn-outline-secondary" type="button" ng-click="getbrandname()"><i class="fa fa-search"></i></button>
     <button ng-if="$state.current.name == 'frontend.productlisting'" class="btn btn-outline-secondary" type="button" ng-click="searchListing()"><i class="fa fa-search"></i></button>
    </div>
   </div>-->