
                                    <div class="left-bar mb-4">
						<div class="p-3 p-lg-4 align-items-center left-bar-top">
							<div class="user-image position-relative">
								<img src="{{sidebar_image}}" alt="" class="rounded-circle" >
                                                                 <input type="file" class="sidbar_upload"  style="display:none" ng-model="picFile" name="file" onchange="angular.element(this).scope().uploadFile(this.files)">
                                                        
								<div class="edit-button position-absolute rounded-circle">
									<i class="ion-edit" ng-click="open_uploader()"></i>
								</div>
							</div>
							<div class="user-info">
								<h6 class="mb-0 mt-2 text-light">{{sidebar_fname}} {{sidebar_lname}}</h6>
								<p class="mb-0 location"><i class="ion-location"></i> {{sidebar_address}}</p>
							</div>
						</div>
						<ul class="sidebar-menu list-unstyled mb-0">
							<li class="active"><a href="#/my_account"><span><i class="ion-ios-person"></i></span>{{language.my_gmt24}}</a></li>
                                                        <li><a href="#/change_password"><span><i class="ion-ios-person"></i></span> {{language.change_password}}</a></li>
                                                        
                                                        
                                                        <li ng-if="current_user_type=='1'"><a href="#/myLoyalty"><span><i class="ion-ios-person"></i></span> {{language.My_Loyalty}}</a></li>
                                                        
                                                         <li><a href="#/addProduct/"><span class="right"><i class="fa fa-plus"></i></i></span> {{language.add_product}}</a></li>
                                                         
                                                         
                                                         
                                                         <li><a href="#/myProduct"><span><i class="ion-android-watch"></i></span> {{language.my_product}}</a></li>
                                                         
                                                         
                                                         <li ng-if="current_user_type=='2'"><a href="#/expiredProduct"><span><i class="ion-android-watch"></i></span> {{language.Last}} {{language.Expired}} {{language.Products}}</a></li>
                                                         
                                                         
                                                         
                                                         
                                                         
                                                         <li ng-if="current_user_type=='1'"><a href="#/wishlist"><span><i class="ion-heart"></i></span> {{language.favorite_or_wishlist}}</a></li>
							<!-- <li ng-if="current_user_type=='2'"><a href="#/addAuction"><span><i class="fa-gavel"></i></span> Add Auction</a></li> -->
							<li><a href="#/myAuction"><span class="right"><i class="fa fa-gavel"></i></span> {{language.my_auction}}</a></li>
<!--                                                        <li ng-if="current_user_type=='2'"><a href="#/ListOrderSeller"><span><i class="fa-gavel"></i></span> List Order</a></li>
                                                         <li ng-if="current_user_type=='1'"><a href="#/ListOrderBuyer"><span><i class="fa-gavel"></i></span> List Order</a></li>-->

                                                         <li><a href="#/ListOrderBuyer"><span class="right"><i class="fa fa-ban"></i></span> {{language.Purchased_or_Won_Auction}} </a></li>

                            <li ng-if="current_user_type=='2'"><a href="#/purchaseSubscription"><span><i class="ion-thumbsup"></i></span> {{language.subscriptions}}</a></li>   
                            
                            
                            <li ng-if="current_user_type=='2'"><a href="#/SubscribedList"><span><i class="ion-thumbsup"></i></span> {{language.subscribed_list}}</a></li> 
                            
                            
                            
							<li><a href="#/interestin"><span><i class="ion-thumbsup"></i></span> {{language.My_Interest}}</a></li>
						
                                                        
                                                        <li><a href="#/interested"><span><i class="ion-thumbsup"></i></span> {{language.potential_buyers}}</a></li>
                                                        
							<li><a href="#/filterbylocation"><span><i class="ion-location"></i></span> {{language.filter_by_location}}</a></li>
							<li><a href="#/notifications"><span><i class="ion-android-notifications"></i></span>{{language.notifications}} </a></li>
							<li><a href="#/notification_settings"><span><i class="ion-android-settings"></i></span> {{language.notification_settings}}</a></li>
							<li><a href="#/messagelisting"><span><i class="ion-ios-email"></i></span>{{language.messages}}</a></li>
							<!--<li><a href=""><span><i class="ion-android-settings"></i></span> Settings</a></li>-->
							<li><a ng-click="logout();"><span><i class="ion-log-out"></i></span>{{language.logout}} </a></li>
						</ul>
					</div>
			