body{font-size: .875rem;font-family: 'Poppins', sans-serif;}

@font-face {
	font-family: "Kirvy-Bold";
	src: url("../fonts/Kirvy-Bold.eot");
	src: url("../fonts/Kirvy-Bold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Kirvy-Bold.woff") format("woff"),
	url("../fonts/Kirvy-Bold.ttf") format("truetype"),
	url("../fonts/Kirvy-Bold.svg#Kirvy-Bold") format("svg");
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: "Kirvy-Light";
	src: url("../fonts/Kirvy-Light.eot");
	src: url("../fonts/Kirvy-Light.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Kirvy-Light.woff") format("woff"),
	url("../fonts/Kirvy-Light.ttf") format("truetype"),
	url("../fonts/Kirvy-Light.svg#Kirvy-Light") format("svg");
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.btn-outline-primary{border-color: #ffffff;color:#fff;border-radius: 0;text-transform: uppercase;padding:10px 20px}
.btn-outline-primary:hover{background: #fff;color:#000;border-color: #ffffff;}

.btn-primary{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#777777+0,595959+100 */
background: rgb(119,119,119); /* Old browsers */
background: -moz-linear-gradient(top, rgba(119,119,119,1) 0%, rgba(89,89,89,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(119,119,119,1) 0%,rgba(89,89,89,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(119,119,119,1) 0%,rgba(89,89,89,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#595959',GradientType=0 ); /* IE6-9 */
border:0;border-radius: 30px;font-size:14px;text-shadow: none;color:#ffffff;
}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#595959+0,777777+100 */
background: rgb(89,89,89); /* Old browsers */
background: -moz-linear-gradient(top, rgba(89,89,89,1) 0%, rgba(119,119,119,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(89,89,89,1) 0%,rgba(119,119,119,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(89,89,89,1) 0%,rgba(119,119,119,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#777777',GradientType=0 ); /* IE6-9 */}

.navbar-dark.bg-dark{background:#0f0f0f !important}
.navbar-brand{padding: 0}
.navbar-dark.bg-dark .form-control{background: #1c1c1c;border:1px solid #282828;border-radius:  0 50px 50px 0 ;font-size: 14px;padding:7px 20px }
.navbar-dark.bg-dark .input-group-append button{border:0;color:#030303;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#828282+0,636363+100 */
background: #828282; /* Old browsers */
background: -moz-linear-gradient(top, #828282 0%, #636363 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #828282 0%,#636363 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #828282 0%,#636363 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828282', endColorstr='#636363',GradientType=0 ); /* IE6-9 */ 
border-radius:  50px 0px 0px 50px !important;width:50px;font-size: 20px}



.navbar-light.bg-gary{background: #232323}
.navbar-light.bg-gary .navbar-nav .nav-link{color:#999999}
.navbar-light.bg-gary .navbar-nav .nav-item.show .nav-link{color:#fff}
.navbar-light.bg-gary .dropdown-menu{background: #303030;}
.navbar-light.bg-gary .dropdown-menu a{color: #aeadad;font-size: .875rem;}
.navbar-light.bg-gary .dropdown-menu ul{list-style: none;padding: 0}
.navbar-light.bg-gary .dropdown-menu ul > li > a{padding: 0 15px}
.navbar-light.bg-gary .dropdown-menu > ul > li > {display: none;}
.navbar-light.bg-gary .dropdown-menu > ul > li:hover > .dropdown-menu {display: block;position: absolute;left: 163px;top:0;}
.navbar-light.bg-gary .dropdown-menu h5{color: #fff;font-size: .875rem;padding: 0 15px 5px;border-bottom:1px solid #3e3e3e}
.navbar-light.bg-gary .dropdown-item:hover{background: none;color:#fff}
.navbar-light.bg-gary .dropdown-item{position: relative;}
.navbar-light.bg-gary .dropdown-item.child:after{content: "\f105";font-family: FontAwesome;right:15px;position: absolute;}

.user-afterlogin img{width:26px;height:26px;object-fit:cover;border-radius:100%;margin-right: 5px}
.user-afterlogin{color:#fff !important}


.carousel-control-prev span,.carousel-control-next span{background: #999999;font-size: 40px;color: #000000;padding: 5px 15px}
.carousel-item{position: relative;}
.carousel-item .slider-text{position: absolute;top:50%;z-index: 1;color:#fff;width:570px;transform: translateY(-50%);left:0;width:100%;}
.carousel-item .slider-text h1{font-family: "Kirvy-Light";}
.carousel-item .slider-text .border-left{padding-left:30px}
.carousel-item img{height: auto !important; transform: scaleX(-1);}

section{overflow: hidden;}
.brand,.topmodels{padding: 40px 0}
.brand h1,.topmodels h1,.collection h1{font-family: "Kirvy-Bold";display: table;margin: 0 auto;position: relative;padding-bottom: 15px}
.brand h1:after,.topmodels h1:after,.collection h1:after{position: absolute;content: "";width:78px;height:1px;background: #000000;bottom:0;left:50%;transform: translateX(-50%)}

/*.brand ul{list-style: none;padding: 15px 0;width:100%;overflow-x: scroll;}
.brand ul li{padding: 0 20px}
.brand ul li img{display: block;height: 60px}*/


.new-collection ul{
    display: block;
	width: 100%;
	list-style: none;
	padding: 0;
}
.new-collection ul li{
    width: 33.33%;
	height: 400px;
	float: left;
	position: relative;
}
.new-collection ul li img{
    width: 100%;
	height: 100%;
	object-fit: cover;
}
.new-collection ul li ul{
	display: flex;
    flex-direction: column;
}
.new-collection ul li ul li{
    width: 100%;
    height: 200px;
}
.new-collection ul li ul li img{
	object-fit: cover;
}
.new-collection ul li ul li:nth-child(1) img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.collection-text {
	position: absolute;
	z-index: 1;
	bottom: 0;
	color: #fff;
	margin: 30px;
	border-left: 2px solid #fff;
	padding-left: 30px
}

.collection-text h2 {
	font-family: "Kirvy-Bold";
	font-size: 32px;
}
.new-collection ul li ul li .collection-text {
	border: 0;
	padding: 0;
	margin: 0;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%
}

.topmodels h4{color: #777777;display: block;text-align: center;font-size: 16px;margin: 15px 0}
.modal-body .forgot-password.pull-right{float: left;}
.model-box{border:1px solid #fff;border-bottom:1px solid #ddd;text-align: center;padding: 15px 0}
.model-box img{width:100%;height:276px;object-fit:contain;}
.model-box p{font-family: "Kirvy-Bold";font-size: 18px;display: block;text-align: center;color: #555555;margin:15px 0}
.model-box ul{margin: 0;list-style: none;padding: 0;overflow: hidden;display: flex;}
.model-box ul li{width:50%;}
.model-box ul li b{font-size:18px}
.model-box ul li i{color: #ffba00}
.model-box .hover-option{display: flex;width:164px;justify-content:space-between;position: absolute;bottom:30px;background: #ffffff;left:50%;transform: translateX(-50%);display: none}
.model-box .hover-option a{display: block;width:40px;height: 40px;border:1px solid #acacac;color:#777777;font-size:18px;line-height: 35px;text-decoration: none;}


.model-box:hover{border:1px solid #000;}
.model-box:hover .hover-option{display: flex;}
/*.model-box:hover p,.model-box:hover ul{opacity: 0;}*/

.collection{width:100%;height:auto;background-image: url('../images/background.jpg');padding: 60px 0;background-position: center;background-attachment: fixed;background-size: cover;}
.collection{color: #fff;text-align: center;}
.collection h1:after{background: #fff}
.collection h4{color: #fff;display: block;text-align: center;font-size: 16px;margin: 15px 0;text-transform: uppercase;}

.footer-top{background: #2b2a2a;color: #fff;padding: 35px 0;}
.footer-top h4{color: #d7d5d5;font-size:18px;display: block;text-align: center;margin-bottom: 30px}
.footer-top p{color: #909090;font-size:14px;display: block;text-align: center;}

.footer-top .form-control{border:0;background: #373636;font-size:14px;border-radius:  0 30px 30px 0;padding: 7px 20px; color: #fff;}
.footer-top .input-group .btn{background: #373636;border-radius: 30px 0 0 30px;color: #999999}
.footer-top .social{display: flex;}
.footer-top .social a{
	display: block;width:40px;height: 40px;border:1px solid #777777;color:#777777;font-size:18px;line-height: 35px;text-decoration: none;text-align: center;
}
.footer-top .download .btn{width:100%;text-transform:none;font-size:14px;padding-right: 0}
.footer-top .download .btn i{display: inline-block;width: 40px;margin-left: 15px;border-left: 1px solid #fff;}
/*.footer-top .border-right{border-right: 1px solid #787878 !important;}*/

.footer-bottom{background: #0f0f0f;text-align: center;}
.footer-bottom span{color: #929191;font-size:12px}
.footer-bottom .nav-link{color: #b6b5b5;font-size:13px;position: relative;}
.footer-bottom .nav-link:after{content: "|";color: #5a5a5a;position: absolute;left:0}
.footer-bottom .nav-item:last-child .nav-link:after{content: "";}

/*******************************/
.modal-content{background-image: url('../images/modal-bg.jpg');background-size: cover;}
.modal-dialog{max-width: 400px;}
.modal-header{border:0;padding-bottom: 0}
.modal-header h5{font-size: 22px;text-transform: uppercase;}
.modal-header .close{position: absolute;right: 15px;}
.modal-content label{font-size: 14px;}
.modal-content .form-control{font-size: 14px;box-shadow: none;border:1px solid #cacaca}
.modal-body{padding: 15px 30px;}
.modal-body .footer{text-align: center;border-top:1px solid #aaaaab;padding-top: 15px;margin-top: 15px}
.modal-body .footer p{margin-bottom: 0}
.modal-body .footer p a{color:#333;text-decoration: underline;}
.modal-body .forgot-password{color:#333;text-decoration: underline;font-size: 13px}

.form-check-label{color:#686969;font-size: 13px; margin-right: 5px;}

.or{width:100%;position: relative;text-align: center;}
.or:before{content: "";width: 43%;height: 1px;background: #aaaaab;position: absolute;left: 0;top: 10px;}
.or:after{content: "";width: 43%;height: 1px;background: #aaaaab;position: absolute;right: 0;top: 10px;}

.social-login{list-style: none;display: table;margin: 0 auto;padding: 0}
.social-login li {float:left;width:38px;height:38px;border-radius:100%;margin: 0 6px}
.social-login li a{color: #fff !important;font-size:20px;text-align: center;display: block;line-height: 38px}
.social-login li.facebook{background: #193d80}
.social-login li.googleplus{background: #c63405}

/***************************************************************************************/
.innerbody{width:100%;height: auto;overflow: hidden;background: #f1f1f1;padding:25px 0 35px;margin-top: 155px !important;}
.breadcrumb{padding: 0;background: none;font-size:12px}
.breadcrumb a{color:#3a3939}
.breadcrumb-item + .breadcrumb-item::before {content: ">"}

.widte-bg{background: #fff;box-shadow: 0px 0px 2px 0px #cecaca !important;}
.search-header .form-control,.search-header select{background-color: #f7f7f7;border-radius:20px;font-size: 14px;height: 38px;border:1px solid #e1e1e1;padding-left: 20px}
.search-header .input-group-text{border: 0;border-radius:0 20px 20px 0;background: #f7f7f7;border:1px solid #e1e1e1;}
.search-header .input-group-text i{color:#999999}

.filter h3{font-size:18px;font-weight: normal;text-transform: uppercase;border-bottom: 1px solid #e1e1e1;pointer-events: none;
}
.filter .card-link{display: block;font-size:16px;color:#222222;line-height: 40px;position: relative;}
.filter .card-link:after{content: "\f106";font-family: FontAwesome;left:0;position: absolute;}
.filter .card-link.collapsed:after{content: "\f107";font-family: FontAwesome;right:0;position: absolute;}

.filter .filter-holder{border-bottom: 1px solid #e1e1e1}
.view-all{display: block;color:#000000;font-size:14px;line-height: 30px;}
.filter .form-check{padding: 5px 1.5rem 5px 0;}
.filter .fa.fa-star{font-size:12px;color:#bbbbbb}
.filter .fa.fa-star.active{color:#ff9958}

.header-list{overflow: hidden;border-bottom:1px solid #e7e6e6}
.header-list label,.header-list .form-control{font-size:14px;color: #2f2f2f}
.grid-list{list-style: none;padding: 0;margin: 0;text-align: center;}
.grid-list li{border:1px solid #ddd;float:left;width:36px;height: 36px;margin-left:8px;}
.grid-list li i{color:#ababab;font-size:18px;display: block;line-height: 34px; cursor: pointer;}
.grid-list li.active{background: #000000;}
.grid-list li.active i{color: #fff;}

.list-item .card{padding: 8px;border:1px solid #e1e1e1;border-radius: 0}
.list-item .card img.card-img-top{border-radius: 0;height:180px;object-fit:cover;width:100%}
.list-item .card .card-body{
	padding: 5px 0 5px 0;
	/* justify-content: center;
    display: flex;
    flex-wrap: wrap; */
}
.list-item .card .card-body h5{font-size: 18px;margin: 0}
.list-item .card .card-body p{font-size: 14px;margin: 0;color: #222222}
.list-item .card .card-body p span{color: #888888}
.list-item .card .card-body ul{list-style: none;padding: 0;margin: 7px 0;}
.list-item .card .card-body ul li{margin: 2px 0}
.list-item .card .card-body ul img{margin-right:5px}
.list-item .card .card-body .btn-primary{padding: .375rem 1.2rem;}
.gridview .card .card-body{
	display: flex !important;
	flex-wrap: wrap !important;
}
.gridview .card .card-body a{
	margin: auto !important;
}
.top-product{position: absolute;top:18px;left:18px;z-index: 99;}
.pagination{margin: 15px auto 0;display: table;}
.pagination .page-item a.page-link{color: #222222}
.pagination .page-item.active a.page-link{background: #000000;border-color:#000;color:#fff;}

.list-item.list .col-md-4{width:100%;flex: 1 auto;max-width: 100%}
.list-item.list .card img.card-img-top{width:46%;float:left}
.list-item.list .card{display: block;overflow: hidden;}
.list-item.list .card .card-body{width:50%;float:right}

/*=============== Added By Soumen =============*/

.navbar-light .navbar-toggler{border-color: rgba(255,255,255,0.3); color:#fff !important; background-color: rgba(255,255,255,0.3)}
.custom-radio-button{width:100%; height:100%;left:0; top:0; opacity: 0; cursor: pointer;}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {color: #fff;background-color: #595959;border-color: #575757;}

.navbar-nav .icon-link{position: relative; padding-left: 5px; padding-right: 5px}
.navbar-nav .icon-link a{font-size:20px; padding-top: 3px; padding-bottom: 3px}
.navbar-nav .icon-link:after {content: "|"; display: inline-block; position: absolute; right: 0; top: 45%; transform: translateY(-50%); color:#555;}
.icon-link span {align-items: center;background: #fcfcfc; border-radius: 100%; color: #000; display: flex; font-size: 10px; height: 18px; justify-content: center; position: absolute; right: 2px; top: 0px; width: 18px;}

.cust-radio{height:34px; cursor: pointer;}
.cust-radio input[type="radio"]{width:100%; height:100%; left:0; top:0; opacity: 0; cursor: pointer;}

/***************** Cart ***************/
.qut_box {float: left;margin-left: 10px; margin-top: 0;}
.qtysectionbox {border: solid 1px #CCC;height: 30px;width: 54px;line-height: 30px;}
.qtysectionunit {height: 30px;width: 30px;text-align: center;}
.l {float: left;}
.qtysectionunit {text-align: center;}
.qtysectionnav {border-left: solid 1px #CCC;height: 30px;width: 22px;text-align: center;}
.qtysectionnavplus {float: left;}
.qtysectionnavplus a {border-bottom: solid 1px #CCC;height: 15px; width: 22px;text-align: center;display: block; text-decoration: none; line-height: 15px; font-size: 11px;}
.qtysectionnavminus a {height: 15spx; width: 22px;text-align: center;display: block;text-decoration: none; line-height: 15px; font-size: 11px;}
.cart-list p{font-size: 14px;margin-bottom: 10px !important;}
.cart-list .row{border-bottom:1px solid #eee}
.cart-list .row:last-child{border-bottom:0}
.qty{clear: both;margin-bottom: 10px;overflow: hidden;font-size: 14px;line-height: 30px;}


.OrderSummary{border:1px solid #e1e1e1}
.sub_total_box01 {padding: 10px; overflow: hidden;}
.st_title {font-size: 14px;}
.st_title {float: left;font-size: 15px;color: #333333;font-weight: 300;}
.st_total {float: right;font-size: 15px;color: #333333;}
.sub_total_box {background-color: #f2f2f2;border-top: 1px solid #EEEEEE;border-bottom: 1px solid #EEEEEE;padding: 11px; overflow: hidden;}
.gt_total {float: right;font-size: 20px;color: #333333;}
.btn-checkout {background-color: #589d3e;border: medium none;border-radius: 0;color: #fff;float: right;font-size: 12px;height: 55px;line-height: 15px; position: relative; text-align: center; text-decoration: none; text-transform: uppercase; transition: background-color 0.25s ease 0s; width: 50%;}
.full-btn {width: 100%;}
.cart-list .all-info .cancel{position: absolute; right:-5px; top:0; color:red; font-size:18px}

.pay-list li{ margin-bottom: 15px; border-bottom: #eee 1px solid; padding-bottom: 15px;}

/***************** Order List ***************/

.thead-inverse th {color: #fff; background-color: #212529;}
.square-img{height: 60px; width: 60px; object-fit:cover}

/***************** Order-details  *************/

.detail_lists {margin-bottom: 30px; padding: 0; list-style-type: none}
.order-details-pic{width: 100px; height: 100px; overflow: hidden; border-radius: 100%;}
.order-details-pic img{width: 100%; min-height: 100px;}

/*************** Vendor Dashboard *****************/

.dash-box-container{position: relative;
	background: rgb(119,119,119); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(119,119,119,1) 0%, rgba(89,89,89,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(119,119,119,1) 0%,rgba(89,89,89,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(119,119,119,1) 0%,rgba(89,89,89,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#595959',GradientType=0 ); /* IE6-9 */
	color:#ffffff;
	height:110px;
}
.box-counter {
    position: absolute;
    right: -10px;
    top: -10px;
    background: #fff;
    color: #555;
    border: #bbbbbb 2px solid;
    font-weight: 700;
    border-radius: 100% !important;
    width: 32px;
    height: 32px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dash-box-container i{font-size:52px; margin-top: 5px; display: inline-block;}
.dash-box-container .info {
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 35px;
}
.dash-box-container p{position: absolute;left: 10px;bottom: 10px; margin: 0}
.dash-box-container:hover{opacity: 0.8; text-decoration: none; color:#fff}
.dash-box-container:hover i{
    transform: rotate(83deg);
    -moz-transform: rotate(83deg);
    -webkit-transform: rotate(83deg);
    -o-transform: rotate(83deg);
    font-size: 140px;
    opacity: 0.2;
}
.dash-box-container:hover .info{font-size: 56px;
	transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg); opacity: 0.2;}
.dash-box-container i, .dash-box-container .info{
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
}

.rtls {
    direction: rtl !important;
}




/*******rtl slider section******/
.rtls .slider_n{
    border: 0 solid #FFFFFF;
	border-radius: 5px;
	height: auto;
	margin: 0 auto;
	position: relative;
	width: 100%;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-ms-perspective: 1000px;
	-o-perspective: 1000px;
	perspective: 1000px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.rtl .new_slider_n {
	height: 170px
}

.rtl .new_slider_n img {
	width: 100%;
	height: 100%;
	object-fit: cover
}

/* .slider_n img {
    max-width: 100%;
} */

.rtls .nav_n {
    margin: 0 auto;
	padding: 1em 0 0.8em;
	position: absolute;
	left: 0%;
	text-align: center;
	width: 100px;
	z-index: 5;
	top: -16px;
	display: inline-block;
	align-items: center;
	justify-content: center;
	height: 515px;
	overflow: hidden;
}
.rtls .nav_n li.active {
    border: 2px solid #FFFFFF;
}

.rtls .nav_n li {
	border: 2px solid #ececec;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	height: 100px;
	margin: 0 8px;
	position: relative;
	width: 100px;
}
.rtls .nav_n li img {
	width: 100%;
}
.rtls .auction-details-pade .details-top{
	height: auto !important;
	min-height: 515px !important;
}
.rtls .auction-details-pade .details-top img {
	background-size: contain;
	object-fit: contain !important;
	width: 500px;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
}

.rtls .auction-details-pade .details-top {
    position: relative;
	/*height: 400px;*/
	/* height: 425px; */
	overflow: hidden;
}
.pd-16 {
    padding: 1rem !important;
}
.rtls .details-top {
    background: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.rtls .details-top .like {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #777;
    z-index: 5;
}

.rtls .auction-details-pade .like-links li a {
    background: #5d5c5c;
}

.rtls .auction-details-pade .details-top .like {
    background: #363636;
    border-radius: 3px;
    padding: 3px 6px;
}

/*******rtl slider section******/



/************************** Dashboard **********************/

.user-dashboard .form-control{font-size:14px}
.left-bar, .edit-pro{border:1px solid #ececec; background: #fff;box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05); border-radius: 3px}
.left-bar{overflow:hidden}
.left-bar .user-image {width:94px; height:94px; margin: 0 auto}
.left-bar .user-image img{width:100%; height:100%; object-fit:cover; border: 2px solid #aaaaaa}
.left-bar p.location{font-size: 13px; color: #999; font-weight: 300}
.left-bar .left-bar-top{background:url('../images/leftbar-bg.jpg') no-repeat top left #151515; text-align: center;}
.left-bar .left-bar-top .edit-button{background: #797979; text-align: center; width:26px; height:26px; right:1px; bottom:1px; color:#fff; line-height: 26px;}

.left-bar .left-bar-top .edit-button i:before{line-height: 26px;}
.sidebar-menu li{border-top: 1px solid #efefef; position: relative;}
.sidebar-menu li:first-child{border-top: 0;}
.sidebar-menu li a{color:#555; padding: 10px 15px; display: block;}
.sidebar-menu li a span{width:15px; display: inline-block;}
.sidebar-menu li a:hover, .sidebar-menu li.active a{color: #fff; text-decoration:none; background: #555; transition: ease all 0.2s}
.common-title{
background: rgb(119,119,119); /* Old browsers */
background: -moz-linear-gradient(top, rgba(119,119,119,1) 0%, rgba(89,89,89,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(119,119,119,1) 0%,rgba(89,89,89,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(119,119,119,1) 0%,rgba(89,89,89,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#595959',GradientType=0 ); /* IE6-9 */
border:0;border-top-left-radius: 3px; border-top-right-radius: 3px;font-size:20px;color:#ffffff;}

.form-control {font-size: 14px;box-shadow: none; border: 1px solid #cacaca;}
.edit-pro .form-control {font-size: 14px;box-shadow: none; border: 1px solid #cacaca; border-radius:50px; background: #f5f5f5}
.edit-pro label{margin-bottom: 0.4rem; font-size: 14px;}
.edit-pro select.form-control{appearance:none; -moz-appearance:none; -webkit-appearance:none; background: url('../images/drop-arrow.png') no-repeat 6% 50% #f5f5f5 !important;}

/************************** Wishlist **********************/

.wish-list{padding: 0; list-style-type: none;}
.wish-list li {
    background: #faf9f9;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 0;
    margin-right: 4px;
    max-width: 32%;
    margin-bottom: 10px;
}
.wish-list li:last-child{margin-bottom: 0px}
.wish-list li .wishlist-image{background: #fff; border: 1px solid #ededed; width:124px; height:180px;margin-bottom: 15px;}
.wish-list li .wishlist-image img{width:100%; height:100%; object-fit:cover}
.wish-list li .wishlist-content {
    /* flex: 1; */
    height: auto;
   /* overflow-y: auto;
    overflow-x: hidden;*/
}
.wish-list li h6{padding-left: 15px; position: relative; color: #000; font-weight: 600}
.wish-list li h6 span{position: absolute; right:0; color:#777}
.wish-list li p{font-weight: 300}
.wish-list li b{font-size:16px}

.btn-dark{
	background: rgba(116,116,116,1);
	background: -moz-linear-gradient(top, rgba(116,116,116,1) 0%, rgba(62,62,62,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116,116,116,1)), color-stop(100%, rgba(62,62,62,1)));
	background: -webkit-linear-gradient(top, rgba(116,116,116,1) 0%, rgba(62,62,62,1) 100%);
	background: -o-linear-gradient(top, rgba(116,116,116,1) 0%, rgba(62,62,62,1) 100%);
	background: -ms-linear-gradient(top, rgba(116,116,116,1) 0%, rgba(62,62,62,1) 100%);
	background: linear-gradient(to bottom, rgba(116,116,116,1) 0%, rgba(62,62,62,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#747474', endColorstr='#3e3e3e', GradientType=0 );
}
.btn-dark:hover,.btn-dark:active,.btn-dark:focus{
	background: rgba(62,62,62,1);
	background: -moz-linear-gradient(top, rgba(62,62,62,1) 0%, rgba(116,116,116,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(62,62,62,1)), color-stop(100%, rgba(116,116,116,1)));
	background: -webkit-linear-gradient(top, rgba(62,62,62,1) 0%, rgba(116,116,116,1) 100%);
	background: -o-linear-gradient(top, rgba(62,62,62,1) 0%, rgba(116,116,116,1) 100%);
	background: -ms-linear-gradient(top, rgba(62,62,62,1) 0%, rgba(116,116,116,1) 100%);
	background: linear-gradient(to bottom, rgba(62,62,62,1) 0%, rgba(116,116,116,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e3e3e', endColorstr='#747474', GradientType=0 );
}

.text-secondary {color: #777777!important;}
.border-secondary {border-color: #dfdfdf!important;}
a{color: #000}
.btn{padding: .375rem 1rem;}

/**************** Details ****************/

.details-wrap{background: #fff; box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16); border-radius: 4px;}
.details-top{background: #fff; box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1); border-radius: 2px;}
.details-top .like{position: absolute; right:5px; top: 5px; color:#777}
.details-left p i{color: #ff6102}

.like-links li a{width:28px; height:28px;box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); text-align: center; font-size:16px; color:#444}
.like-links li a i:before{line-height: 28px;}

.star-list li:before{content: '\f4b3'; font-family:Ionicons; left: 0; top:0; position: absolute; color:#555}

.accordion .card-header:after {font-family: 'FontAwesome';   content: "\f068"; float: left; }
.accordion .card-header.collapsed:after {/* symbol for "collapsed" panels */content: "\f067";}

.reviews-holder .media-object{width:70px; height:70px; object-fit:cover}
.reviews-holder .media-heading{font-size: 14px}
.reviews-holder .media-heading span.date{color:#999}
.reviews-holder .media-heading span.rating{color:#fc6c03}
.reviews-holder .media{border-bottom:1px solid #e1e1e1; margin-bottom: 15px}

.related-prod-slider .carousel-inner{display: block}
.related-prod-slider .carousel-inner .carousel-item{border: 1px solid #e1e1e1; width:19%;}
.related-prod-slider .bx-wrapper .bx-prev {left: -18px;background: url('../images/arrow-left.png') no-repeat 0px 0px;}
.related-prod-slider .bx-wrapper .bx-next {right: -18px;background: url('../images/arrow-right.png') no-repeat 0px 0px;}
.related-prod-slider .bx-wrapper .bx-next:hover {background-position: 0px 0px;}
.related-prod-slider .bx-wrapper .bx-controls-direction a{width:13px; height:24px;}

.card-header.collapsed{cursor: pointer;}

/******************* Top Seller ******************/

.list-grid-option a{color: #b1b4b8; display: inline-block;font-size:20px; border: 1px solid #d6d6d6; border-radius: 3px; width:28px; height:28px; text-align: center;}
.list-grid-option a.active{color: #fff; background: #000000}
.list-grid-option a i:before{line-height: 28px}

.grid{padding:0; margin: 0; list-style-type: none; display: flex; flex-wrap:wrap;  margin-left: -7px; margin-right: -7px}
.grid li{padding:15px 8px; margin:8px; width:23%;border:1px solid #e1e1e1; position: relative; text-align: center;}
.grid li .seller-logo{margin: 0 auto; width:118px; height:118px;}
.grid li .seller-logo img, .list li .seller-logo img{width:100%; height:100%; object-fit:cover}
.grid li .rating span, .list li .rating span{color:#fc6c03}
.grid li aside{margin-top: 10px}
.grid li .trusted, .list li .trusted{font-size:0.75rem;}
.grid li h6, .list li h6{font-weight: 600}
.grid li .tag, .list li .tag{position: absolute; left: 0; top:0}


.list{padding:0; margin: 0; list-style-type: none; display: flex; flex-wrap:wrap;}
.list li{padding:15px; margin:8px 0; width:100%;border:1px solid #e1e1e1; position: relative; display: flex}
.list li aside{margin-left: 10px; flex:1}
.list li .seller-logo{width:118px; height:118px;}


/*===== 08-03-2018 ======*/

.google-map{}
.ng-scope > nav.navbar.navbar-expand-lg.navbar-light.bg-gary.fixed-top.mt-5.ng-scope {
    margin-top: 97px !important;
    z-index: 111;
}
.scroller-container {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
}
.scroller-container a {
    display: block;
    text-align: center;
    font-size: 48px;
    animation: .7s down infinite alternate;
    -webkit-animation: .7s down infinite alternate;
}
.scroller-container a:before {
    color: #f7f7f7;
}
@keyframes down{0%{transform:translateY(0)}
100%{transform:translateY(20px)}}
@-webkit-keyframes down{0%{-webkit-transform:translateY(0)}
100%{-webkit-transform:translateY(20px)}}

.new_mt{
	margin-top: 7rem;
}
.scroller-container > a{
	cursor: pointer;
}

.navbar-nav .dropdown-menu{
    left: auto;
    right: auto;
}
.topmodels .row div.ng-scope{
    float: right;
    width: 25%;
}
.message-list .media-body span *{margin: 0 5px}
.message-list{background: #fff;}

.dmdiv a {
    display: flex !important;
    justify-content: space-between !important;
}
.filter-holder .rzslider .rz-pointer {
    border-radius: 50px;
    background: rgb(119, 119, 119);
    background: -moz-linear-gradient(top, rgba(119, 119, 119, 1) 0%, rgba(89, 89, 89, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(119, 119, 119, 1) 0%, rgba(89, 89, 89, 1) 100%);
    background: linear-gradient(to bottom, rgba(119, 119, 119, 1) 0%, rgba(89, 89, 89, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#595959', GradientType=0);
    border: 0;
    color: #fff;
    width: 1.2em;
    height: 1.2em;
    top: -4px;
}
.filter-holder .rzslider .rz-bar {
    height: 0.6em;
    border-radius: 30px;
    margin-bottom: 15px;
}
.filter-holder .rzslider .rz-selection {
    background: #9e9e9c;
}
.rtls .auction-details-pade {
	margin-top: 135px !important;
}

.rtls .auction-details-pade .details-top .nav_n li img {
    height: 100% !important;
    object-fit: cover!important;
}
.new-detaildiv h5 {
    font-size: 17px;
    text-transform: capitalize;
    padding: 10px 8px;
    background-color: #eeeeee;
    color: #6e6e6e;
    font-weight: 500;
    margin-bottom: 0px;
    word-wrap: break-word;
}
.rtls .seller-info h5.pp1 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 25px;
    color: #464040 !important;
    direction: ltr;
    word-wrap: break-word;
}
.seller-info .pp {
    font-size: 29px;
    font-weight: 600;
    color: #5d5959 !important;
}
.rtls .seller-info .pp, .seller-info span.disclaimer {
    float: right;
    display: inline-block;
}
.seller-info span.disclaimer {
    background-color: #c0bbb6;
    padding: 3px 11px;
    border-radius: 50%;
    color: #ffffff;
    margin: 6px 5px;
}
.left {
    padding-right: 275px !important;
}

/*------ Modal -------*/
.ng-scope .modal-dialog {
    margin: 0.1rem auto;
}
#myModal .modal-dialog {
    max-width: 600px;
    width: 100%;
}
#myModal .modal-content {
    background: #1e1e1e;
}
#myModal .modal-body {
    max-height: 100vh;
    overflow: auto;
    padding: 15px 10px;
    text-align: center;
    min-height: 80vh;
    z-index: 999999;
}
#myModal button.close {
    top: 9px;
    position: absolute;
    right: 11px;
    color: red;
    opacity: 1;
    border: 0;
    box-shadow: none;
    text-shadow: none;
    background: #eee;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.top-bar-part {
    display: table;
    width: 93%;
    clear: both;
    vertical-align: baseline;
    margin-top: -4px;
}
.left-count {
    text-align: left;
    float: left;
    width: 90px;
}
.right-icon-btn {
    float: right;
    width: 80px;
    text-align: right;
}
.rtls #myModal .modal-body p {
    margin-bottom: 0;
    color: #fff;
    font-weight: 600;
    direction: ltr;    
}
.left-count span {
    margin-left: 5px;
    display: inline-block;
    font-weight: 300;
}
.right-icon-btn span {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: red;
    display: inline-block;
    text-align: right;
    color: #ffffff;
}
.my-imagepart {
    overflow: hidden;
    height: auto;
    image-rendering: -webkit-optimize-contrast;
    filter: brightness(2);
    -webkit-filter: brightness(2);
    -moz-filter: brightness(2);
}
.rtls #myModal .modal-body h5 {
    font-size: 15px;
    margin: 0 auto;
    line-height: 17px;
    color: #fff;
    font-weight: 300;
    direction: ltr;    
}
#myModal hr {
    border-top: 1px solid #777;
}
#myModal .modal-body h5 small {
    display: block;
    color: #777;
    line-height: 29px;
}
#myModal .modal-body h6 {
    font-size: 14px;
    margin: 5px auto;
    line-height: 15px;
    color: #fff;
    font-weight: 300;
}
.time-to .ng-isolate-scope {
    /* color: #fff !important; */
    font-family: 'digital-7regular';
    font-size: 26px !important;
    margin-top: 12px;
    display: block !important;
}
.btn-round {
    border-radius: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 40px;
    height: 40px;
    text-align: center;
}
.modal-content .form-control {
    font-size: 14px;
    box-shadow: none;
    border: 1px solid #cacaca;
}
#myModal .modal-body img {
    min-width: 120px;
}
.my-imagepart img {
    object-fit: cover;
    width: 300px;
}
.rtls .modal-body figure{
	margin-bottom: 0;
    margin-top: -14px;	
}
.mdl-p{
	float: left;
}
.rrtl{
    float: left;
    width: 100%;	
}

.countru-menu a:nth-child(2) img{
    width: 90px;
}
.countru-menu a:nth-child(3) img{
    width: 76px;
}
.countru-menu a:nth-child(4) img{
    width: 62px;
}
.countru-menu a:nth-child(5) img{
    width: 40px;
}
.countru-menu a:nth-child(6) img{
    width: 21px;
}
.flag-menu a img{}
.flag-menu a:nth-child(2) img{
    width: auto;
}
.flag-menu a:nth-child(3) img{
    width: auto;
}
.flag-menu a:nth-child(4) img{
    width: auto;
}
.flag-menu a:nth-child(5) img{
    width: auto;
}
.flag-menu a:nth-child(6) img{
    width: auto;
}
.new-close {
	background: #232323;
	padding: 5px 5px;
	border-radius: 50%;
	color: white;
	font-size: 10px !important;
	display: flex !important;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	position: absolute !important;
	top: -4px !important;
	left: 10px !important;
}
.fa-search {
    position: relative !important;
    top: 0;
    right: 0;
    left: 0;
}
p.adprod {
    border-radius: 50px;
    padding: 8px 16px;
    border: 1px solid #dddddd;
    cursor: pointer;
    background-color: #f5f5f5;
    float: left;
    width: 100%;
}
.currency {
    padding: 8px 23px !important;
    height: 40px;
}
.relative .currency img {
    right: 77%;
    margin: 4px;
    position: absolute;
    width: 20px;
}
.edit-pro label {
	margin-bottom: 0.4rem;
	font-size: 14px;
}
.input-group-text {
    background-color: #F5F5F5;
    border: 1px solid #ced4da;
    border-radius: 1.25rem;
}
.countru-menu {
	width: 100%;
	padding: 5px 10px;
	margin: 0;
	z-index: 9;
	right: 0 !important;
	left: auto !important;
}
.countru-menu a {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}
.certifiedvendor {
	position: absolute;
	width: 50px;
	top: 0;
	left: 1px;
}
.star-new{}
.star-new img {
	width: auto !important;
	height: 17px;
	max-width: 100% !important;
}

.currency .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-left: .3em solid transparent;
    border-bottom: 0;
    border-right: .3em solid transparent;
}
.sidebar-menu .fa {
    left: 6% !important;
    top: 29% !important;
}
 .sidebar-menu .right .fa {
    right: 6% !important;
    top: 29% !important;
}
.btn2{
	background: #001530;
    border-radius: 20px;
    font-size: 14px;
    padding: 5px 15px;
    display: inline-block;
    color: #fff;
}
.brand-new ul{list-style: none;padding: 0;margin: 0;display: flex;justify-content: center;
flex-wrap: wrap;margin-top:25px;align-items: center;}

.brand-new ul li{
    width:13.5%;margin: 4px}
.brand-new ul li img{
    width: 145px;
    object-fit: cover;
    display: block;
    height: auto;
    margin: 15px auto;
    height: auto;
}
.brand-new ul li p{display: block;text-align: center;margin-bottom: 5px}
.rzslider .rz-pointer:after{
    display: none;
}
input.gg {
    border: 1px solid #001530;
    background: #001530;
    color: #fff;
    padding: 6px 15px;
    border-radius: 5px;
    position: absolute;
    left: 29px;
}

.overlay-img {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.3);
    width: 100%;
    height: 100%;
}
.ng-rating-star--active {
    color: #001530;
}


/*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }*/
  
  .rtls .item {
	position: relative;	
	overflow: hidden;
	width: 485px;
  }
  .rtls .item img {
	max-width: 100%;
	
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
  }
  .rtls .item:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
  }

  .grid-list {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.grid-list li {
	border: 1px solid #ddd;
	float: left;
	width: 36px;
	height: 36px;
	margin-left: 8px;
    justify-content: center;
}

.grid-list li i {
	color: #ababab;
	font-size: 18px;
	display: block;
	line-height: 34px;
	cursor: pointer;
}

.grid-list li.active {
	background: #000000;
}

.grid-list li.active i {
	color: #fff;
}

.list-item .card {
	padding: 8px;
	border: 1px solid #e1e1e1;
	border-radius: 0;
        height: 100%;
}

.list-item .card img.card-img-top {
	border-radius: 0;
	height: 180px;
	object-fit: contain;
	width: 100%
}

.list-item .card .card-body {
	padding: 10px 0 5px 0
}

.list-item .card .card-body h5 {
	font-size: 18px;
	margin: 0
}

.list-item .card .card-body p {
	font-size: 14px;
	margin: 0;
	color: #222222
}

.list-item .card .card-body p span {
	color: #888888
}

.list-item .card .card-body ul {
	list-style: none;
	padding: 0;
	margin: 7px 0;
}

.list-item .card .card-body ul li {
	margin: 2px 0
}

.list-item .card .card-body ul img {
	margin-right: 5px
}


.list-item .col-md-4.listview .card {  
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.list-item .col-md-4.listview .card img.card-img-top{
    max-width: 232px !important;
    margin-right: 0 !important;
}

.col-md-4.listview{
	flex: 0 0 100%;
    max-width: 100%;
}



.list-item{ margin-left: 0 !important; margin-right: 0 !important;}
.list-item .listview{ padding: 0 !important;}



/* .toggle-filter.navbar-collapse.collapse {
    display: block !important;
} */

.top-product123 { background: #001530 !important;}

.slider.horizontal .range {background: #9e9e9c;}
.slider.horizontal .handle {
    border-radius: 50px;
    background: rgb(119, 119, 119);
    background: -moz-linear-gradient(top, rgba(119, 119, 119, 1) 0%, rgba(89, 89, 89, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(119, 119, 119, 1) 0%, rgba(89, 89, 89, 1) 100%);
    background: linear-gradient(to bottom, rgba(119, 119, 119, 1) 0%, rgba(89, 89, 89, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#595959', GradientType=0);
    border: 0;
    color: #fff;
}

.filter-box{
	display: none;
}

.navbar-light .nav-icon .navbar-toggler-icon{
	background-image: url(../images/nav-down.png) !important;
	width: 24px;
    height: 24px;
}
.navbar-light .navbar-toggler{
	background-color: #232323 !important;
    border: 0 !important;
}

.my-h3{
	width: 100%;
}


























/**************** Responsive Style ****************/
@media screen and (max-width:1199px){
    .footer-top .download .btn span{
        font-size:11px !important;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
	
	.toggle-filter.navbar-collapse.collapse {
    display: block !important;
}
	.border-left{
		width:40%;
		margin-left: 55%;
	}
	.container {
    padding-right: 5px !important;
    padding-left: 5px !important;

}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
	 padding-right: 5px !important;
    padding-left: 5px !important;
}
.form-inline .form-group {
    width: 48% !important;
}
.custom-select{
	width:60% !important;
}
.btn {
    font-size: 14px !important;
}
.footer-top .download .btn{
    font-size:11px;
}
	.grid li {
		width: 47.5%;
	}
	.nav_n li {
		height: 20px;
		width: 30px;
		border: none !important;
	}
	.item img{
		text-align: left !important;
		float: left !important;
	}
	.new-detaildiv .new-ul li span {font-size: 17px !important;}
                .pd-16{
                padding:0 0 15px 0 !important;
        }
	.nav_n {
            right: 6px;
            top:8px;
        }

	.new-detaildiv h5 {
            font-size: 12px;
            text-align: center;
            }
	.details-top.py-3{
		padding: 5px 5px 15px !important;
	}
	
	.item{
		width:100% !important;
                
	}        
	.new-detaildiv .new-abtn {
   	   padding: 5px 4px;
   	   font-size: 12px !important;
    }
	.ng-rating{
		font-size:12px;
		text-align: center;
	}
	.form-inline .form-group{
		width: 100%;
	}
	.filter h3{
		font-size: 14px;
		pointer-events: auto !important;
	}
	.filter .card-link{
		font-size: 14px;
	}
	
	.widte-bg.py-3{
		padding-top: 10px !important;
		padding-bottom: 10px !important;
	}
	
.model-box p{
	font-size: 14px !important;
	margin: 10px 0 !important;
}
.brand, .topmodels {
  padding: 20px 15px 10px;
}
.model-box{
	padding:0;
}
.model-box img {

    width: 100%;
    height: 80px;
    object-fit: cover;

}
.carousel-item img{
	height: calc(100vh - 666px) !important;
}
.navbar-brand img{
	height: 62px !important;
	width: auto !important;
}
	.ng-scope>nav.navbar.navbar-expand-lg.navbar-light.bg-gary.fixed-top.mt-5.ng-scope {
	margin-top: 78px !important;
	z-index: 200;
}
	.drop-down-wrap{
		position: absolute;
		z-index: 1000;
		top: 21px;
		right: auto;
                left:30px;
		width: calc(100% - 300px);
	}
	.footer-top h4 {
		margin: 15px 0
	}
	.new-collection ul li {
		width:33.33%;
		height: 230px !important;
		/* margin: 10px auto;
		float: none; */
	}
	.new-collection ul li ul li{
		height: 115px !important;
    	margin: 0 auto !important;
	}
	.carousel-item .slider-text h1,
	.brand h1,
	.topmodels h1,
	.collection h1,
	.collection-text h2 {
		font-size: 25px
	}
	.carousel-item .slider-text p {
		display: none;
	}
	.navbar-dark .navbar-brand {
		margin: 0;
	}
	.btn-outline-primary {
		padding: 5px 10px;
		font-size: 14px
	}
	.navbar-toggler {
		padding: 0;
		background: #fff;
		border-radius: 0
	}
	.wish-list li .wishlist-image {
		width: 75px;
		height: 85px
	}
	.reviews-holder .media-object {
		width: 50px;
		height: 50px;
	}
	.grid {
		margin: 0
	}
	.grid li {
		padding: 10px 8px;
		margin: 8px 0;
		width: 100%;
	}
	.list li .seller-logo {
		width: 90px;
		height: 90px;
	}
	.cust-radio {
		margin-bottom: 6px
	}
	.innerbody {
		margin-top: 125px !important
	}
	.carousel-item img {
		width: auto !important;
	}
	.innerbody{
		padding:15px 0 !important;
	}
	.w-100{
		width:100% !important;
	}
	.list-item .card .card-body p {
    	font-size: 12px;
    	white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
	}
	
    .form-check-label {
        font-size: 11px;
    }
.ng-binding{
	font-size: 11px;
}
.brand-new ul{
	display: block !important;
}
.brand-new ul li{
	float: left;
	width: 13%;
	margin: 5px 0 5px 0 !important;
	height: 100px;
	display: flex;
	align-items:center;
        padding: 0 10px !important;
}
.brand-new ul li:last-child{
	margin-right: 0;
}
.brand-new ul li img{
	width: 100%;
	height: auto;
	line-height:100px;
	vertical-align: middle;
	text-align: center;
}
.footer-top .border-right{
	border-right:0 !important;
	padding: 0 10px;
}
.slider_n {
    height: auto !important;
    width: 100% !important;
    float: left !important;
}
.nav_n{
	width: 90px !important;
	height: auto !important;
	right:auto;
	border: none;
}
.nav_n li img {
	width: 100px !important;
	height: 100px !important;
}
.seller-info h5.pp1{
	font-size: 18px;
}
.seller-info .pp{
	font-size: 20px;
}
.form-inline.pull-left{
    width:100%;
}
.edit-pro .form-group .row{
    margin:0 0;
}
#dvMap{
    width:100%;
    max-width:100%;
}
    .rtls .item {    
        max-width: 100%;
        padding-left: 90px;
    }
   .brand-new ul li{
    width: 25%;
    padding: 0 10px !important;
    align-self: baseline;
}
.brand-new ul li img{
    max-width:100%;
    width:auto;
}

}
@media (max-width: 900px) {
.list-item .card img.card-img-top{
	object-fit: contain;
} 
}

@media (min-width: 768px) and (max-width: 991px) {
	.grid li {
		width: 46%;
	}		
}


@media (min-width: 768px){
	.toggle-filter.navbar-collapse.collapse{
		display: block !important;
	}	
}


@media (max-width: 767px) {
	.brand-new ul li img {
		max-width: 100%;
		width: auto;
	}

	.navbar-collapse{
    	overflow-y: scroll;
	}

	.sticky + .col-md-9 {
		padding-top: 0px;
}
	  .list-item .col-md-4.listview .card {           
		 
		  flex-direction: row !important;
	  }

	  .list-item .col-md-4.listview .card img.card-img-top {
		width: 130px;
    	margin-left: 10px !important;
	}
	.list-item .card .card-body .btn-primary {
		padding: 5px 10px;
		font-size: 12px;
	}
	.col-md-4.listview{
		padding-left: 0;
		padding-right: 0; 
	}
  
	  .col-md-4.gridview {

	  max-width: 50%;
	  flex: 0 0 50%;
	  padding: 0 5px;

	  }
	  .col-md-4.gridview .card img.card-img-top{
		  height: 95px !important;
	  }
	  /* .col-md-4.gridview .card .card-body{
		  display: flex;
		  flex-wrap: wrap;
	  } */
	  .col-md-4.gridview .card .card-body .fix{
		  min-height: 104px;
	  }
	  .col-md-4.gridview .card .card-body p{
		  font-size: 12px;
		  line-height: 16px;
	  }
	  .list-item .card .card-body ul{
		margin: 3px 0;
	}
	  .col-md-4.gridview .card .card-body b{
		  font-size: 12px;
	  }
	  .col-md-4.gridview .card .card-body .btn-primary{
		  font-size: 12px;
		  display: block;
	  }

	.nav_n li {
		height: 20px;
		width: 30px;
		border: none !important;
	}
	.item img{
		text-align: left !important;
		float: left !important;
	}
	.new-detaildiv .new-ul li span {font-size: 17px !important;}
	.pd-16{
	padding:0 0 15px 0 !important;
}
	.nav_n {
    right: 6px;
    top: -8px;
}
.border-right{
    border: 0 !important;
}

	.new-detaildiv h5 {
    font-size: 12px;
    text-align: center;
    }
	.details-top.py-3{
		padding: 5px 5px 15px !important;
	}
	.auction-details-pade .details-top{
		height: auto !important;
		min-height: inherit !important;
	}
	.item{
		width:100% !important;
	}
	.new-detaildiv .new-abtn {
   	   padding: 5px 4px;
   	   font-size: 12px !important;
    }
	.ng-rating{
		font-size:12px;
		text-align: center;
	}
	.form-inline .form-group{
		/* width: 100%; */
	}
	.filter h3{
		font-size: 14px;
	}
	.filter .card-link{
		font-size: 14px;
	}
	
.widte-bg.py-3 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.sticky {
    position: fixed;
    top: 122px;
    width: 100% !important;
    z-index: 99;
    padding: 0 !important;
}
.filter h3 {
	font-size: 14px;
	pointer-events:auto !important;
}
	.dropdown-menu1 .form-control{
		border-radius: 0 !important;
		background-color: #ccc;
	}
	.navbar-dark.bg-dark .input-group-append button{
		background: transparent;
		color:#ccc;
	}
	.navbar-dark.bg-dark .form-control{
		background: transparent;
	}
	.carousel-item .slider-text h1, .brand h1, .topmodels h1, .collection h1, .collection-text h2{
		font-size: 16px !important;
    	line-height: 20px;
	}
.model-box p{
	font-size: 14px !important;
	margin: 10px 0 !important;
}
.brand, .topmodels {
  padding: 20px 15px 10px;
}
.brand-new ul li{
    width: 25%;
    padding: 0 10px !important;
    align-self: baseline;
}
.brand-new ul li img{
    max-width:100%;
    width:auto;
}
.model-box{
	padding:0;
}
.model-box img {

    width: 100%;
    height: 80px;
    object-fit: cover;

}
.carousel-item img{
	height: calc(100vh - 169px) !important;
}
.navbar-brand img{
	height: 50px !important;
	width: auto !important;
}
	.ng-scope>nav.navbar.navbar-expand-lg.navbar-light.bg-gary.fixed-top.mt-5.ng-scope {
	margin-top: 86px !important;
	z-index: 200;
}
	.drop-down-wrap{
		position: absolute;
		z-index: 1000;
		top: 82px;
		left: 0px;
		width: calc(100% - 50px);
	}
	.footer-top h4 {
		margin: 15px 0
	}
	.new-collection ul li {
		width: 33.33%;
		height: 230px !important;
		/* margin: 10px auto;
		float: none; */
	}
	.new-collection ul li ul li{
		height: 115px !important;
    	margin: 0 auto !important;
	}
	
	.carousel-item .slider-text h1,
	.brand h1,
	.topmodels h1,
	.collection h1,
	.collection-text h2 {
		font-size: 25px
	}
	.carousel-item .slider-text p {
		display: none;
	}
	.navbar-dark .navbar-brand {
		margin: 10px auto;
	}
	.btn-outline-primary {
		padding: 5px 10px;
		font-size: 14px
	}
	.navbar-toggler {
		padding: 0;
		background: #fff;
		border-radius: 0
	}
	.wish-list li .wishlist-image {
		width: 75px;
		height: 85px
	}
	.reviews-holder .media-object {
		width: 50px;
		height: 50px;
	}
	.grid {
		margin: 0
	}
	.grid li {
		padding: 10px 8px;
		margin: 8px 0;
		width: 100%;
	}
	.list li .seller-logo {
		width: 90px;
		height: 90px;
	}
	.cust-radio {
		margin-bottom: 6px
	}
	.innerbody {
		margin-top: 135px !important
	}
	.carousel-item img {
		width: 100% !important;
	}
	.innerbody{
		padding:15px 0 !important;
	}
        .seller-info h5.pp1{
            font-size:20px;
        }
        .seller-info .pp {
            font-size: 22px;
        }
        .seller-info span.disclaimer {            
            padding: 1px 11px;
        }
        .edit-pro .form-group .row{
            margin:0 0;
        }
        #dvMap{
            width:100%;
            max-width:100%;
        }
        .footer-top .download .btn{
            display: block;
            max-width: 300px;
            font-size: 14px;
            margin: 5px auto;
        }
        .navbar-expand-lg > .container{
            position: relative;
        }
         .rtls .item {    
            max-width: 100%;
            padding-left: 90px;
        }
        .rtls .nav_n {
            margin: 0;            
            right: auto;          
            top: 8px;           
            left: 0;
            width: 75px;
        }
        .rtls .slider_n{
            height: auto;
        }
        .social.justify-content-between {
            justify-content: space-around !important;
		}
		.grid-list li{
			width: 32px;
			height: 32px;
		}
		.grid-list li i{
			font-size: 15px;
			line-height: 27px;
		}
		.form-group .btn-primary{
			font-size: 12px;
			padding: 7px 10px;
		}
}

@media (max-width: 900px) {
	.logo img {
		width: 60%;
	}
	.slider_n {
		height: 312px;
		width: 500px;
	}
	.slider_n .slide {
		width: 100%;
	}
        
}

@media (max-width: 550px) {
	.topmodels{
		padding-left: 0;
    	padding-right: 0;
	}
	.carousel-item img {
		height: calc(100vh - 437px) !important;
		height: auto !important;
	}
	.brand-new ul {
		flex-wrap: nowrap !important;
		overflow-x: auto;
		overflow-y: hidden;
		padding-bottom: 14px;
	}
	.logo img {
		width: 60%;
	}
	.slider_n {
		height: auto;
		width: calc(100% - 20px);
	}
	.slider_n .slide_n {
		width: 100%;
	}
	.nav_n {
		height: 100%;
		width: 30px;
	}
	.nav_n li {
		height: 20px;
		width: 30px;
	}
	.my-h3 {
		border-bottom: 0 !important;
		background-color: #dddddd;
		padding: 10px 10px;
		border-radius: 2px;
    	width: 48% !important;
	}
	.filter-box{
		width: 48%;
		display: initial;
	}
	.sort-by{
		display: none;
	}
	.collapse.show{
		height: 73vh;
	}
}

@media (max-width: 360px){
	.topmodels{
		padding-left: 0;
    	padding-right: 0;
	}
	.carousel-item img {
		/* height: calc(100vh - 437px) !important; */
		height: auto !important;
	}
	.brand-new ul {
		flex-wrap: nowrap !important;
		overflow-x: auto;
		overflow-y: hidden;
		padding-bottom: 14px;
	}
	.brand-new ul li img {
		max-width: 60px;
		margin: 0 5px;
	}
    
}

.edit-pro span.disclaimer {
    background-color: #c0bbb6;
    padding: 3px 11px;
    border-radius: 50%;
    color: #ffffff;
    margin: 6px 5px;
}