
	<section class="innerbody">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4"  data-ng-include=" 'app/views/partials/sidebar.html' " ></div>
				<div class="col-lg-9 col-md-8">
					<h5 class="common-title p-3 mb-0">Add Product</h5>
					<div class="edit-pro p-3">
						<div class="row">
							<div class="col-lg-7 col-md-12">
								<form name="addProductForm" ng-submit="addProductForm.$valid && addProduct(user2)" novalidate>
									 <div class="form-group">
										<label for="staticEmail"> Movement*</label>
                                                                                <select class="form-control" name="movement" ng-model="user2.movement"  required>
                                                                                    <option value="" selected>Please choose a movement</option>
                                                                                    <option value="Automatic Movement">Automatic</option>
                                                                                    <option value="Quartz Movement">Quartz</option>
                                                                                    <option value="Other Movement">Other</option>
										</select>
										<!--<input type="text" class="form-control" id="" value="" ng-model="user2.movement" ng-pattern="/^[a-z A-Z]+$/" name="movement" required>-->
                                                                                <span style="color:Red" ng-show="submitted && addProductForm.movement.$error.required"> This Field Is Required! </span>
                                                                                
									</div>

									 
            <div class="form-group">                                                        
                <label for="staticEmail">{{language.gender}}*</label>                                                  <div class="row m-0">    
         <div class="custom-control custom-radio col-sm-4">
            <input type="radio" id="customRadio1" name="gender" class="custom-control-input" value="Male" ng-model="user2.gender" required>
            <label class="custom-control-label" for="customRadio1">{{language.male}}</label>
          </div> 
            <div class="custom-control custom-radio col-sm-4">
            <input type="radio" id="customRadio2" name="gender" class="custom-control-input" value="Female" ng-model="user2.gender" required>
            <label class="custom-control-label" for="customRadio2">{{language.female}}</label>
          </div> 
            <div class="custom-control custom-radio col-sm-4">
            <input type="radio" id="customRadio3" name="gender" class="custom-control-input" value="Unisex" ng-model="user2.gender" required>
            <label class="custom-control-label" for="customRadio3">Unisex</label>
          </div> 
                    <span class="icon"></span>
                                                </br><span style="color:Red" ng-show="submitted && addProductForm.gender.$error.required"> Please Choose Your Gender </span>
            </div>
            </div>                                                            
                                                                    
<!--                                                                    <div class="form-group">
<label for="staticEmail">{{language.gender}}</label>
<input type="radio" class="input-field"  name="gender" value="Male" ng-model="user2.gender" required>
<span>{{language.male}}</span>
<input type="radio" class="input-field"  name="gender" value="Female" ng-model="user2.gender" required>
<span>{{language.female}}</span>
<input type="radio" class="input-field"  name="gender" value="Unisex" ng-model="user2.gender" required>
<span>Unisex</span>
			              		
			              		<span class="icon"></span>
                                                </br><span style="color:Red" ng-show="submitted && addProductForm.gender.$error.required"> Please Choose Your Gender </span>
									</div>-->
                                                                    
                                     <div class="form-group">
										<label for="staticEmail"> Reference Code*</label>
										<input type="text" class="form-control"  value="" ng-model="user2.reference" name="reference" required>
                                                                                <span style="color:Red" ng-show="submitted && addProductForm.reference.$error.required"> This Field Is Required! </span>
                                                                               
<!--                                                                                <span style="color:Red" ng-show="addProductForm.reference.$dirty && addProductForm.reference.$error.pattern">Only Number Allowed</span>-->
									</div>
									<div class="form-group">
										<label for="staticEmail">Date of Purchased</label>
										<input type="date" class="form-control" max="{{preferred_date}}" id="" value="" placeholder="" ng-model="user2.date_of_purchase" name="date_of_purchase">
                                                                                
                                                                                
                                                                                
									</div>
                                                                    
                                                                    <div class="form-group">
										<label for="staticEmail"> Status of the watch*</label>
                                                                                
										<select class="form-control" name="status" ng-model="user2.status"  required>
                                                                                    <option  ng-repeat="status_list in statuslist" value="{{status_list.name}}">{{status_list.name}} 
                                

                           </option>
										</select>
                                                                                
                                                                                <span style="color:Red" ng-show="submitted && addProductForm.status.$error.required">Please Choose A Status</span>
									</div>
                                      







<!--								<div class="form-group">
								   <label for="exampleInputEmail1">Status of the watch*</label>
								 
								    <div class="dropdown select-dropdown">
                                      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Choose watch status
                                      <span class="caret"></span></button>

                                      <ul class="dropdown-menu">
                                      			

<li ng-repeat="status_list in statuslist"><label> <input type="checkbox" name="" value=""><span>{{status_list.name}}</span>
        <span ng-bind-html="status_list.rating"></span>
    </label></li>

                                      </ul>
                                    </div>
								</div>-->
							













<!--                                                                        <div class="form-group">
										<label for="staticEmail"> Status of the watch</label>
										<input type="text" class="form-control" id="" value="" ng-model="user2.status" name="status" required>
                                                                                <span style="color:Red" ng-show="submitted && addProductForm.status.$error.required"> This Field Is Required! </span>
                                                                                
                                                                                
									</div>-->
									
									<div class="form-group">
										<label for="staticEmail">Owner Number*</label>
                                       <input type="text" class="form-control" id="Owner_number"  ng-model="user2.owner_number" ng-pattern="/^[1-9][0-9]*$/" name="owner_number"  required>
                                       <span style="color:Red" ng-show="submitted && addProductForm.owner_number.$error.required"> This Field Is Required! </span>
                                                                                
                                                                                <span style="color:Red" ng-show="addProductForm.owner_number.$dirty && addProductForm.owner_number.$error.pattern">Only Number Allowed</span>
									</div>
                                                                    <div class="form-group">
										<label for="staticEmail">Country*</label>
                                                                                
										<select class="form-control" name="country" ng-model="user2.country" ng-change="state(user2.country)" required>
											<option  ng-repeat="country_list in countrylist" value="{{country_list.id}}">{{country_list.name}}</option>
										</select>
                                                                                <span style="color:Red" ng-show="submitted && addProductForm.country.$error.required">Please Choose A Country</span>
									</div>




                                                                        <div class="form-group">
										<label for="staticEmail">Governorate*</label>
                                                                                
										<select class="form-control" name="state" ng-model="user2.state" ng-change="city(user2.state)" required>
											<option  ng-repeat="statelists in statelist" value="{{statelists.id}}">{{statelists.name}}</option>
										</select>
                                                                                <span style="color:Red" ng-show="submitted && addProductForm.state.$error.required">Please Choose A State</span>
									</div>

<!--                                                                        <div class="form-group">
										<label for="staticEmail">City*</label>
                                                                                
										<select class="form-control" name="city" ng-model="user2.city"  required>
											<option  ng-repeat="citylists in citylist" value="{{citylists.id}}">{{citylists.name}}</option>
										</select>
                                                                                <span style="color:Red" ng-show="submitted && addProductForm.city.$error.required">Please Choose A City</span>
									</div>-->








<!--									<div class="form-group">
										<label for="staticEmail">Country</label>
										<input type="text" class="form-control" id="" value="" ng-pattern="/^[a-z A-Z]+$/" placeholder="" ng-model="user2.country" name="country" required>
                                                                                <span style="color:Red" ng-show="submitted && addProductForm.country.$error.required">  This Field Is Required!</span>
                                                                                
                                                                                <span style="color:Red" ng-show="addProductForm.country.$dirty && addProductForm.country.$error.pattern">Only Letters Allowed</span>
									</div>-->
                                                                    <div class="form-group">
										<label for="staticEmail">Size*</label>
										<input type="text" class="form-control" id="" value="" ng-pattern="/^[1-9][0-9]*$/" placeholder="" ng-model="user2.size" name="size" required>
                                                                                    <span style="color:Red" ng-show="submitted && addProductForm.size.$error.required">This Field Is Required! </span>                                                                          
                                                                                <span style="color:Red" ng-show="addProductForm.size.$dirty && addProductForm.size.$error.pattern">Only Number Allowed</span>
									</div>
                                                                    
                                                                    
                                                                       <!-- <div class="form-group">
										<label for="staticEmail">Base Auction Price</label>
										<input type="text" class="form-control" id="" value="" placeholder="" ng-model="user2.baseauctionprice" name="baseauctionprice" required>
									</div>
                                                                     <div class="form-group">
										<label for="staticEmail">Threshold Price</label>
										<input type="text" class="form-control" id="" value="" placeholder="" ng-model="user2.thresholdprice" name="thresholdprice" required>
									</div>-->
									 <div class="form-group">
										<label for="staticEmail">Location</label>
										<input type="text" class="form-control" id="" value="" placeholder="" ng-pattern="/^[a-z A-Z]+$/" ng-model="user2.location" name="location" >
                                                                                
                                                                                <span style="color:Red" ng-show="addProductForm.location.$dirty && addProductForm.location.$error.pattern">Only Letters Allowed</span>
									</div>

									<div class="form-group">
										<label for="staticEmail">Work Hours</label>
										<input type="text" class="form-control" id="" value="" placeholder="" ng-model="user2.work_hours"  name="work_hours">
                                                                                
                                                                               <!-- <span style="color:Red" ng-show="addProductForm.work_hours.$dirty && addProductForm.work_hours.$error.pattern">Only Letters Allowed</span>-->
									</div>

									   <label>Upload the image*</label>

                                                                           <div>
									   <div class="form-group">
										<div class="btn btn-primary" accept="image/*" name="image" ngf-select ng-model="user2.image" ngf-multiple="true" ngf-max-files="5" ngf-fix-orientation="true">Add Photos
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-3" ng-repeat="f in user2.image">
<!--												{{f.name}} 
												<i ng-click="f = null" ng-show="f" class="fa fa-times" aria-hidden="true"></i> 
												 <img ng-show="myForm.location.files.$valid" ngf-thumbnail="f" class="thumbnail img-responsive" style="height: 150px;"> -->
			
                                                                                                <a class="deleteHandle" ng-click="deleteFile($index)"><i class="fa fa-close"></i></a>
												<img style="width: 150px; height: 100px;" ng-show="addProductForm.user2.image.$valid" ngf-thumbnail="f" ngf-resize="{width: 100, height: 100}" class="thumbnail">
                                                                                                
												<!--<video style="width: 150px; height: 100px;" controls ngf-src="f" ng-show="myForm.location.files.$valid" class="thumbnail"></video>-->

											</div>
										</div>
									</div>
                                                                               <span style="color:Red" ng-show="addProductForm.image.$error.maxFiles">Can upload only two images.</span>
                                                                           </div>


<!--                                          <div ng-if="ptype == 2">
						
                                             <div class="btn btn-default" ngf-select ng-model="user2.image" name="image" ngf-pattern="'image/*'" ngf-accept="'image/*'"  ngf-min-height="100" ngf-validate="{ height: {min:420}, width: {min:420}}" ngf-resize="{width: 100, height: 100}" required>Browse</div>
                                                      <span style="color:Red" ng-if="addProductForm.movement.$error.required && !user2.image" >Upload Image with Minimum Height:420 And Minimum Width:420</span>
                                                      
                        <img class="thumbnail_upload_img" ngf-thumbnail="user2.image"  style="width:50px;height:50px;">
                            
                                      </div>  -->
                                                                
									<button ng-if="loader" class="btn btn-primary" ng-click="submitted=true">Save</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
<div class="modal fade" id="subscription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title mx-auto" id="exampleModalLabel">Attention!</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        	        
			  <div class="form-group">
			    
                              {{msg}}
			  </div>
			  
			  
			  <div class="form-group">
			  	<button type="submit" class="btn btn-block btn-primary">Ok</button>
			  </div>
			
			
	      </div>
	    </div>
	  </div>
	</div>
<div ng-if='!loader' class="loading">Loading&#8230;</div>


<div ng-if='!loader' class="content">Wait for a while..</div>
<style>
   /* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
    .fa{
        position: absolute;
left: 18%;
top: 3%;
    }
</style>