<style>
   .ovr {
   text-decoration: line-through;
   }    
</style>
<section class="innerbody">
   <div class="container">
      <div class="row">
         <div class="col-lg-3 col-md-4" data-ng-include=" 'app/views/partials/sidebar.html' " ></div>
         <div class="col-lg-9 col-md-8">
            <h5 class="common-title p-3 mb-0">{{language.add_product}}</h5>
            <div class="edit-pro p-3">
               <div class="row">
                  <div class="col-lg-7 col-md-12">
                     <form name="addProductForm" ng-submit="addProduct(user2)" novalidate>
                        <div class="form-group">
                           <label for="staticEmail">{{language.please}} {{language.select}}*</label>
                           <select class="form-control" id="cobSRQ2" ng-model="drpmodel" ng-change="cobchange()" required>
                              <option value="0" selected="selected">{{language.please}} {{language.select}}</option>
                              <option value="1" >{{language.product}}</option>
                              <option value="2">{{language.auction}}</option>
                           </select>
                        </div>
                        <div class="form-group" >
                           <label for="staticEmail">{{language.brands}}*</label>
                           <select class="form-control" name="brand" ng-model="user2.brand" ng-change="sub(user2.brand)"  required>
                              <option value="" selected="selected">{{language.please_choose_a_brand}}</option>
                              <option ng-repeat="brandlists in brandlist" value="{{brandlists.id}}">{{brandlists.name}}</option>
                              <option value="OTHER">{{language.OTHERS}}</option>
                           </select>
                           <span style="color:Red" ng-show="submitted && addProductForm.brand.$error.required"> {{language.please_choose_a_brand}} </span>
                        </div>
                        <div class="form-group" ng-if="user2.brand == 'OTHER'">
                           <label for="staticEmail">{{language.other_brand_name}} *</label>
                           <input type="text"  class="form-control"  id="" value="" placeholder="Enter Your Brand Name" ng-model="user2.otherbrand" name="otherbrand" required>
                           <span style="color:Red" ng-show="submitted && addProductForm.otherbrand.$error.required">{{language.this_field_is_required}}! </span>
                           <!--<span style="color:Red" ng-show="myaccountForm.ibanno.$dirty && myaccountForm.ibanno.$error.pattern">Only Numbers Allowed</span>-->
                           <!--<span style="color:Red"  ng-show="((addProductForm.otherbrand.$error.minlength ||addProductForm.otherbrand.$error.maxlength) && addProductForm.otherbrand.$dirty) && !addProductForm.ibanno.$error.pattern">IBAN No must be between 20-34 digits.</span>-->
                           <!--<span style="color:Red" ng-show="addProductForm.otherbrand.$dirty && addProductForm.otherbrand.$error.pattern">{{language.only}} {{language.english_word}} {{language.allowed}}</span>-->
                        </div>
                        <div class="form-group" ng-if="user2.brand != 'OTHER'">
                           <label for="staticEmail">{{language.category}}*</label>
                           <select class="form-control" name="category" ng-model="user2.cat_id"  required>
                               <option value="" selected="selected">{{language.Please_Choose_A_Category}}</option>
                              <option  ng-repeat="categorylists in categorylist" value="{{categorylists.id}}">{{categorylists.name}}</option>
                           </select>
                           <span style="color:Red" ng-show="submitted && addProductForm.category.$error.required"> {{language.Please_Choose_A_Category}} </span>
                        </div>
                        <div class="form-group" ng-if="user2.brand == 'OTHER'">
                           <label for="staticEmail"> {{language.other_category_name}} *</label>
                           <input type="text"  class="form-control"  id="" value="" placeholder="Enter Your Category Name" ng-model="user2.othercategory" name="otherbrand" required>
                           <span style="color:Red" ng-show="submitted && addProductForm.othercategory.$error.required">{{language.this_field_is_required}}! </span>
                           <!--<span style="color:Red" ng-show="myaccountForm.ibanno.$dirty && myaccountForm.ibanno.$error.pattern">Only Numbers Allowed</span>-->
                           <!--<span style="color:Red"  ng-show="((addProductForm.othercategory.$error.minlength ||addProductForm.othercategory.$error.maxlength) && addProductForm.othercategory.$dirty) && !addProductForm.ibanno.$error.pattern">IBAN No must be between 20-34 digits.</span>-->
                           <!--<span style="color:Red" ng-show="addProductForm.othercategory.$dirty && addProductForm.othercategory.$error.pattern">{{language.only}} {{language.english_word}} {{language.allowed}}</span>-->
                        </div>
                        <!--<input ng-if="user2.brand == 'OTHER'" type="text" ng-model="user2.othercategory">-->
                        <!--  <div class="form-group">
                           <label for="staticEmail">Subcategory</label>
                           <select class="form-control" name="subcategory" ng-model="user2.subcat_id" required>
                            <option  value="">Please Select</option>  
                                                                                                         
                                                                                                        <option  ng-repeat="subcategorylists in subcategorylist" value="{{subcategorylists.subcat_id}}">{{subcategorylists.name}}</option>  
                           </select>
                                                                                                 <span style="color:Red" ng-show="submitted && addProductForm.subcategory.$error.required"> {{language.please}} {{language.Choose}} A Subcategory </span>
                           </div> -->
                        <!--                                                                    <div class="form-group">
                           <label for="staticEmail">{{language.bracelet}} Type*</label>
                           <select class="form-control" name="breslet_type" ng-model="user2.breslet_type" required>
                            <option  value="">Please Select</option>  
                                                                                                         
                                                                                                        <option   value="M">{{language.metal}}</option>  
                                                                                                         <option   value="L">{{language.leather}}</option>  
                           </select>
                                                                                                 <span style="color:Red" ng-show="submitted && addProductForm.breslet_type.$error.required"> {{language.please}} {{language.Choose}} A Bracelet Type </span>
                           </div>-->
                        <div class="form-group" >
                           <label for="staticEmail">{{language.Bracelet_Type}}*</label>
                           <select class="form-control" name="breslet_type" ng-model="user2.breslet_type" required>
                              <option  value=""> {{language.please_select}}</option>
                              <option ng-repeat="braceletlists in braceletlist" value="{{braceletlists.id}}">{{braceletlists.type}}</option>
                           </select>
                           <input type="hidden" name="braselet">
                           <span style="color:Red" ng-show="submitted && addProductForm.breslet_type.$error.required"> {{language.please}} {{language.Choose}} {{language.a}} {{language.bracelet}} {{language.type}} </span>
                        </div>
                        <div class="form-group" >
                           <label for="staticEmail">{{language.Model_Year}}*</label>
                           <select class="form-control" name="model_year" ng-model="user2.model_year"  required>
                              <option  value="">{{language.please_select}}</option>
                              <option  ng-repeat="year in YearsList" value="{{year}}">{{year}}</option>
                              <!--  <option  ng-repeat="subcategorylists in subcategorylist" value="{{subcategorylists.subcat_id}}">{{subcategorylists.name}}</option>  -->
                           </select>
                           <span style="color:Red" ng-show="submitted && addProductForm.model_year.$error.required"> {{language.please_Choose_model_year}} </span>
                        </div>
                        <div class="form-group relative">
                           <label class="ng-binding">{{language.Preferred_Currency}}* <span class="disclaimer" tooltips tooltip-template="These are approx conversions as taken from 'currencyconverterapi.com'" tooltip-side="top">?</span></label>
                           <p for="staticEmail" class="adprod dropdown-toggle currency" data-toggle="dropdown">
                              {{statuswatch}}    <img  src="app/assets/images/{{image}}" alt="">
                           </p>
                           <div class="dropdown-menu countru-menu flag-menu">
                              <div>
                                 <a href="javascript:void(0)" ng-click="selectedcurrency('{{currencylists.code}}','{{currencylists.image}}')" ng-repeat="currencylists in currencylist">
                                 <span class="ng-binding d-inline">{{currencylists.code}}</span>
                                 <img src="app/assets/images/{{currencylists.image}}" alt="">
                                 </a>
                                 <!--                                 <a ng-click="selectedcurrency('KWD')" href="javascript:void(0)">
                                    <span class="ng-binding d-inline">KWD</span>
                                    
                                       <img src="http://178.62.61.183/app/assets/images/kwd.jpg" alt="">
                                    
                                    </a>
                                    <a ng-click="selectedcurrency('AED')" href="javascript:void(0)">
                                    <span class="ng-binding">AED</span>
                                    
                                       <img src="http://178.62.61.183/app/assets/images/uae.jpg" alt="">
                                    
                                    </a>
                                    <a ng-click="selectedcurrency('OMR')" href="javascript:void(0)">
                                    <span class="ng-binding">OMR</span>
                                    
                                       <img src="http://178.62.61.183/app/assets/images/omr.jpg" alt="">
                                    
                                    </a>
                                    <a ng-click="selectedcurrency('QAR')" href="javascript:void(0)">
                                    <span class="ng-binding">QAR</span>
                                    
                                       <img src="http://178.62.61.183/app/assets/images/qar.jpg" alt="">
                                    
                                    </a>
                                    <a ng-click="selectedcurrency('SAR')" href="javascript:void(0)">
                                    <span class="ng-binding">SAR</span>
                                    
                                       <img src="http://178.62.61.183/app/assets/images/sar.jpg" alt="">
                                    
                                    </a>
                                    <a ng-click="selectedcurrency('BHD')" href="javascript:void(0)">
                                    <span class="ng-binding">BHD</span>
                                    
                                       <img src="http://178.62.61.183/app/assets/images/bhd.jpg" alt="">
                                    
                                    </a>
                                    <a ng-click="selectedcurrency('USD')" href="javascript:void(0)">
                                    <span class="ng-binding">USD</span>
                                    
                                       <img src="http://178.62.61.183/app/assets/images/usd.jpg" alt="">
                                    
                                    </a>
                                    <a ng-click="selectedcurrency('EUR')" href="javascript:void(0)">
                                    <span class="ng-binding">EUR</span>
                                    
                                       <img src="http://178.62.61.183/app/assets/images/euro.png" alt="">
                                    
                                    </a>
                                    <a ng-click="selectedcurrency('GBP')" href="javascript:void(0)">
                                    <span class="ng-binding">GBP</span>
                                    
                                       <img src="http://178.62.61.183/app/assets/images/en.gif" alt="">     
                                    
                                    </a>-->
                              </div>
                           </div>
                           <input type="hidden" class="form-control" id="" value="" ng-model="user2.currency" name="currency23" required>
                              <span style="color:Red" ng-show="addProductForm.$submitted && addProductForm.currency23.$error.required">{{language.this_field_is_required}}! </span>
                        </div>
                         <!--                  <div class="form-group">
                           <label for="staticEmail">{{language.currency}}*</label>
                           <select class="form-control" name="currency" ng-model="user2.currency"  required>
                            <option  ng-repeat="currencylists in currencylist" value="{{currencylists.code}}">{{currencylists.name}}</option>
                           </select>
                                                                                                 <span style="color:Red" ng-show="submitted && addProductForm.currency.$error.required">{{language.please}} {{language.Choose}} {{language.currency}}</span>
                           </div>-->
                        <div class="form-group" ng-if="drpmodel=='2'">
                           <label for="staticEmail">{{language.auction_date}} *</label>
                           <!--<input type="text" class="form-control" id="datepicker" value="" placeholder="" ng-model="user2.preferred_date" name="preferred_date" required>-->
                           <!--<input type="text" class="form-control" ng-model="user2.preferred_date" date="{{listAuctionDtates}}" name="preferred_date" required datepicker />-->
                           <!--                                                                                <datepicker date-format="yyyy-MM-dd" selector="form-control" ng-click="getAuctionTime(user2.preferred_date)" date-enabled-dates="{{listAuctionDtates}}">-->
                           <datepicker date-format="yyyy-MM-dd" selector="form-control" ng-click="getAuctionTime(user2.preferred_date)" date-enabled-dates="{{listAuctionDtates}}" datepicker-mobile="true">
                              <input class="form-control" ng-model="user2.preferred_date" name="preferred_date" required placeholder="Choose a date" readonly/>
                              <span style="color:Red" ng-show="drpmodel=='2' && submitted && addProductForm.preferred_date.$touched && addProductForm.preferred_date.$error.required"> {{language.this_field_is_required}}! </span>
                              <span style="color:Red" ng-show="drpmodel=='2'&& submitted && addProductForm.preferred_date.$error.required"> </span>
                              <span style="color:Red" ng-show="drpmodel=='2'&& submitted && addProductForm.preferred_date.$error.required"> {{language.this_field_is_required}}!</span>
                           </datepicker>
                        </div>
                         
                        <!-- <div>&nbsp;</div> -->
                        <div class="form-group" ng-if="drpmodel=='2' && timeslot ">
                           <label for="staticEmail"> {{language.auction_Timing}} *</label>
                           <span>
                              <div ng-repeat="time in timeslot" >
                                 <div ng-if="time.status== 0">   
                                    {{time.start_time}}&nbsp; To &nbsp;{{time.end_time}} &nbsp; <input class="input-field"  type="radio"  id="" value="{{time.id}}" ng-model="user2.time_slot_id" name="time_slot_id"  required>
                                 </div>
                                 <div class="ovr" ng-if="time.status== 1">   
                                    {{time.start_time}}&nbsp; To &nbsp;{{time.end_time}} &nbsp; 
                                 </div>
                              </div>
                           </span>
                           <span ng-if="drpmodel=='2'" style="color:Red" ng-show="addProductForm.time_slot_id.$touched && addProductForm.time_slot_id.$error.required"> {{language.this_field_is_required}}! </span>
                           <span ng-if="drpmodel=='2'" style="color:Red" ng-show="submitted && addProductForm.time_slot_id.$error.required">{{language.this_field_is_required}}</span>
                           <!--<span style="color:Red" ng-show="addProductForm.name.$dirty && addProductForm.name.$error.pattern">Only Letters Allowed</span>-->
                        </div>
                        <div class="form-group">
                           <label for="staticEmail">{{language.description}}</label>
                           <textarea type="text" class="form-control"   ng-model="user2.description" name="description" ></textarea>
                           <!--                                                                                <span style="color:Red" ng-show="submitted && addProductForm.description.$error.required"> {{language.this_field_is_required}}! </span>-->
                        </div>
                        <div class="form-group"  ng-if="drpmodel=='2'">
                           <label for="staticEmail">IBAN {{language.number}}</label><span class="disclaimer" tooltips tooltip-template="Details will be used for transfer of funds" tooltip-side="top">?</span>*
                           <input type="text"   ng-minlength="20" ng-maxlength="34" class="form-control" ng-pattern="/^[A-Za-z0-9_][A-Za-z0-9\d_]*$/" id="" value="" placeholder="IBAN {{language.number}}" ng-model="user2.ibanno" name="ibanno" required>
                           <span style="color:Red" ng-show="submitted && addProductForm.ibanno.$error.required">{{language.this_field_is_required}}! </span>
                           <!--<span style="color:Red" ng-show="myaccountForm.ibanno.$dirty && myaccountForm.ibanno.$error.pattern">Only Numbers Allowed</span>-->
                           <span style="color:Red"  ng-show="((addProductForm.ibanno.$error.minlength ||addProductForm.ibanno.$error.maxlength) && addProductForm.ibanno.$dirty) && !addProductForm.ibanno.$error.pattern">{{language.iban_error}}</span>
                           <span style="color:Red" ng-show="addProductForm.ibanno.$dirty && addProductForm.ibanno.$error.pattern">{{language.only}} {{language.english_word}} {{language.allowed}}</span>
                        </div>
                        <div class="form-group">
                           <label for="staticEmail">{{language.price}}*</label>
                           <input type="text" class="form-control" id="" value="" placeholder="" ng-model="user2.price" name="price"  ng-pattern="/^[0-9]{0,6}(\.[0-9]{1,2})?$/" required>
                           <span style="color:Red" ng-show="submitted && addProductForm.price.$error.required">{{language.this_field_is_required}}! </span>
                           <span style="color:Red" ng-show="addProductForm.price.$dirty && addProductForm.price.$error.pattern">{{language.only_numbers_allowed}}</span>
                        </div>
                        <!--                                                                    <div class="form-group">
                           <label for="staticEmail">Quantity</label>
                           <input type="text" class="form-control" id="" value="" placeholder="" ng-model="user2.quantity" ng-pattern="/^[0-9]/" name="quantity" required>
                                                                                                 <span style="color:Red" ng-show="submitted && addProductForm.quantity.$error.required">{{language.this_field_is_required}}! </span>
                                                                                                 <span style="color:Red" ng-show="addProductForm.quantity.$dirty && addProductForm.quantity.$error.pattern">{{language.only}} {{language.numbers}} {{language.allowed}}</span>
                           </div>-->
                        <!--    <label>Upload the file</label>
                           <div>
                              
                              <div class="btn btn-default" ngf-select ng-model="user2.image" name="image" ngf-pattern="'image/*'"
                           ngf-accept="'image/*'"  ngf-min-height="100"
                           ngf-resize="{width: 100, height: 100}">Browse</div>
                           <img class="thumbnail_upload_img" ngf-thumbnail="user2.image"  style="width:50px;height:50px;">
                           
                           </div> -->
                        
                        
                        
                        
                        <button class="btn btn-primary" ng-click="submitted=true">{{language.next}}</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<script>
   $("ul.status-watch").on("click", ".init", function () {
       $(this).closest("ul.status-watch").children('li:not(.init)').toggle();
   });
   
   var allOptions = $("ul.status-watch").children('li:not(.init)');
   $("ul.status-watch").on("click", "li:not(.init)", function () {
       allOptions.removeClass('selected');
       $(this).addClass('selected');
       $("ul.status-watch").children('.init').html($(this).html());
       allOptions.toggle();
   });    
   
   $(document).ready(function() {
   
   $(".select dt").click(function(e) {
       e.stopPropagation();
       var select = $(this).closest('.select');
       // close all other selects
       $('.select').not(select).find('ul').hide();
     
       select.find('ul').toggle();
       select.find("dt, dd ul").css('border-color', 'rgb(128,128,128)')
   
       select.find("dt, span, dd ul").css('background-color', 'rgb(255,255,196)')
   
   
   });
   
   $(".select dd ul li a").click(function(e) {
       var text = $(this).html();
       var select = $(this).closest('.select');
   
       if ((select.data('val') == 'multiple') && (e.ctrlKey)) {
           e.stopPropagation()
           $(this).addClass('selected');
           select.find('dt span').html("(" + select.find('a.selected').length + ")");
   
       }
       else {
           var text = $(this).html();
           select.find("dd a").removeClass('selected');
           $(this).addClass('selected');
           select.find("dt span").html(text);
           //select.find("dt a").css("background-color", "");
           select.find("dd ul").hide();
       }
   });
   
   $(document).bind('click', function() {
       $(".select dd ul").hide();
       $(".select dt, .select dd ul").css('border-color', '');
   });
   
   });
</script>
<style>
   .select {
   margin: 0;
   padding: 0;
   }
   .select dd, .select dt, .select ul {
   margin: 0px;
   padding: 0px;
   }
   .select dd {
   position: relative;
   }
   .select a, .select a:visited {
   color: #000;
   text-decoration: none;
   outline: none;
   }
   .select dt:hover, .select dd ul:hover {
   border-color: rgb(128,128,128);
   }
   .select dd ul li a:hover {
   background-color: rgb(112, 146, 190);
   color: #FFF;
   }
   .select dt {
   background: url(arrow.png) no-repeat scroll right center;
   display: block;
   padding-right: 20px;
   border: 1px solid rgb(170, 170, 170);
   width: 180px;
   overflow: hidden;
   }
   .select dt span {
   cursor: pointer;
   display: block;
   padding: 4px;
   height: 15px;
   }
   .select dd ul {
   background: #fff none repeat scroll 0 0;
   border-bottom: 1px solid rgb(170, 170, 170);
   border-left: 1px solid rgb(170, 170, 170);
   border-right: 1px solid rgb(170, 170, 170);
   border-top: 0;
   display: none;
   left: 0px;
   padding: 5px 0px;
   position: absolute;
   top: -1px;
   width: auto;
   min-width: 200px;
   list-style: none;
   }
   .select dd ul li a {
   padding-left: 10px;
   padding-top: 3px;
   padding-bottom: 3px;
   display: block;
   }
   .selected {
   background: rgb(195, 195, 195);
   }
   .header-list, .header-list:hover {
   padding-left: 3px;
   font-weight: bold;
   font-style: italic;
   cursor: pointer;
   }
</style>
<style>
   .fa{
   position: absolute;
   left: 18%;
   top: 3%;
   }
</style>