<section class="innerbody">
   <div class="container">
      <div class="row">
         <div class="col-lg-3 col-md-4" data-ng-include=" 'app/views/partials/sidebar.html' "></div>
         <div class="col-lg-9 col-md-8">
            <h5 class="common-title p-3 mb-0">{{language.add_product}}</h5>
            <div class="edit-pro p-3">
               <div class="row">
                  <div class="col-lg-7 col-md-12">
                     <form name="addProductForm" ng-submit="addProduct(user2)" novalidate>
                        <div class="form-group">
                           <label for="staticEmail"> {{language.movement}}*</label>
                           <select class="form-control" name="movement" ng-model="user2.movement" required>
                              <option value="" selected>{{language.Please_Choose_A_Movement}}</option>
                              <option value="Automatic Movement">{{language.automatic}}</option>
                              <option value="Quartz Movement">{{language.quartz}}</option>
                              <option value="Other Movement">{{language.other}}</option>
                           </select>
                           <!--<input type="text" class="form-control" id="" value="" ng-model="user2.movement" ng-pattern="/^[a-z A-Z]+$/" name="movement" required>-->
                           <span style="color:Red" ng-show="addProductForm.$submitted && addProductForm.movement.$error.required"> {{language.this_field_is_required}}! </span>
                        </div>
                        <div class="form-group">
                           <label for="staticEmail">{{language.gender}}*</label>
                           <div class="row m-0">
                              <div class="custom-control custom-radio col-sm-4">
                                 <input type="radio" id="customRadio1" name="gender" class="custom-control-input" value="Male" ng-model="user2.gender" required>
                                 <label class="custom-control-label" for="customRadio1">{{language.male}}</label>
                              </div>
                              <div class="custom-control custom-radio col-sm-4">
                                 <input type="radio" id="customRadio2" name="gender" class="custom-control-input" value="Female" ng-model="user2.gender" required>
                                 <label class="custom-control-label" for="customRadio2">{{language.female}}</label>
                              </div>
                              <div class="custom-control custom-radio col-sm-4">
                                 <input type="radio" id="customRadio3" name="gender" class="custom-control-input" value="Unisex" ng-model="user2.gender" required>
                                 <label class="custom-control-label" for="customRadio3">{{language.unisex}}</label>
                              </div>
                              <span class="icon"></span>
                              </br>
                              <span style="color:Red" ng-show="addProductForm.$submitted && addProductForm.gender.$error.required"> {{language.please_choose_your_gender}} </span>
                           </div>
                        </div>
                        <!--                                                                    <div class="form-group">
                           <label for="staticEmail">{{language.gender}}</label>
                           <input type="radio" class="input-field"  name="gender" value="Male" ng-model="user2.gender" required>
                           <span>{{language.male}}</span>
                           <input type="radio" class="input-field"  name="gender" value="Female" ng-model="user2.gender" required>
                           <span>{{language.female}}</span>
                           <input type="radio" class="input-field"  name="gender" value="Unisex" ng-model="user2.gender" required>
                           <span>Unisex</span>
                                                             
                                                             <span class="icon"></span>
                                                                           </br><span style="color:Red" ng-show="addProductForm.$submitted && addProductForm.gender.$error.required"> {{language.please}} {{language.Choose}} {{language.your}} Gender </span>
                                                               </div>-->
                        <div class="form-group">
                           <label for="staticEmail"> {{language.reference_code}}*</label>
                           <input type="text" class="form-control" value="" ng-model="user2.reference" name="reference" required>
                           <span style="color:Red" ng-show="addProductForm.$submitted && addProductForm.reference.$error.required"> {{language.this_field_is_required}}! </span>
                           <!--                                                                                <span style="color:Red" ng-show="addProductForm.reference.$dirty && addProductForm.reference.$error.pattern">{{language.only}} {{language.numbers}} {{language.allowed}}</span>-->
                        </div>
<!--                        <div class="form-group">
                           <label for="staticEmail"> {{language.date_of_purchased}}</label>
                           <input type="date" class="form-control" max="{{preferred_date}}" id="" value="" placeholder="" ng-model="user2.date_of_purchase"
                              name="date_of_purchase">
                        </div>-->

                        <div class="form-group mb-5">
                           <label for="staticEmail"> {{language.date_of_purchased}}</label>
<!--                           <input type="date" class="form-control" max="{{preferred_date}}" id="" value="" placeholder="" ng-model="user2.date_of_purchase"
                              name="date_of_purchase">-->
                        <datepicker date-format="yyyy-MM-dd" selector="form-control" datepicker-mobile="true">
                                                                                    
                                                                                
                        <input class="form-control"  ng-model="user2.date_of_purchase" name="preferred_date" placeholder="Choose a date" readonly/>
                        </datepicker>
                        </div>
<!--                                                                                            <div class="form-group">
                           <label for="staticEmail"> Status of the watch*</label>
                                                                                                 
                           <select class="form-control" name="status" ng-model="user2.status"  required>
                                                                                                     <option  ng-repeat="status_list in statuslist" value="{{status_list.name}}">{{status_list.name}} </option>
                           </select>
                                                                                                 
                                                                                                 
                                                                                                 
                                                                                                 <span style="color:Red" ng-show="addProductForm.$submitted && addProductForm.status.$error.required">{{language.please}} {{language.Choose}} A Status</span>
                           </div>-->
<!--                         <div class="form-group">
                           <label for="staticEmail"> {{language.status_of_the_watch}}*</label>
                           <div data-drop-down class="dd ddl dropdown status-watch-wrap">
                              <p class="btn btn-outline-dark btn-block dropdown-toggle" data-toggle="dropdown"> Status of the watch</p>
                              <div class="dropdown-menu">
                               <dl class="select list-unstyled status-watch">
                                <dt><span id="vegetables"></span></dt>
                               <dd>
                              <ul class="">
                                 <li class="init">
                                    <a href="javascript:void(0)">
                                       <span>{{language.please}} {{language.select}} {{language.your}} {{language.watch_status}}</span>
                                       <p></p>
                                    </a>
                                 </li>
                                 <li data-value="Mint">
                                    <a ng-click="selectedstatus('New')" href="javascript:void(0)">
                                       <span>{{language.new}}</span>
                                       <p></p>
                                    </a>
                                 </li>
                                 <li data-value="Mint">
                                    <a ng-click="selectedstatus('Mint')" href="javascript:void(0)">
                                       <span>{{language.Mint}}</span>
                                       <p>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                       </p>
                                    </a>
                                 </li>
                                 <li data-value="Excellent">
                                    <a ng-click="selectedstatus('Excellent')" href="javascript:void(0)">
                                       <span>{{language.Excellent}}</span>
                                       <p>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                       </p>
                                    </a>
                                 </li>
                                 <li data-value="Good">
                                    <a ng-click="selectedstatus('Good')" href="javascript:void(0)">
                                       <span>{{language.Good}} </span>
                                       <p>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                       </p>
                                    </a>
                                 </li>
                                 <li data-value="Fair">
                                    <a ng-click="selectedstatus('Fair')" href="javascript:void(0)">
                                       <span>{{language.Fair}}</span>
                                       <p>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                       </p>
                                    </a>
                                 </li>
                                 <li data-value="Poor">
                                    <a ng-click="selectedstatus('Poor')" href="javascript:void(0)">
                                       <span>{{language.Poor}}</span>
                                       <p>
                                          <i class="fa fa-star"></i>
                                       </p>
                                    </a>
                                 </li>
                              </ul>
                                    </dd>
                            </dl>
                              </div>
                              <input type="hidden" class="form-control" id="" value="" ng-model="user2.status" name="hidden2" required>
                              <span style="color:Red" ng-show="addProductForm.$submitted && addProductForm.hidden2.$error.required">{{language.this_field_is_required}}! </span>
                           </div>
                        </div>
                        -->
                        
                        <div class="form-group relative">
                           <label for="staticEmail" class="mt-1"> {{language.status_of_the_watch}}*</label>
                           <div class="dropdown">
                              <p class="adprod dropdown-toggle currency star-new" data-toggle="dropdown"> {{statusofwatch}}
                              <img  src="https://thegmt24.com/app/assets/images/{{image}}" alt="" class="img-fluid">
                              </p>
                              <div class="dropdown-menu countru-menu">
                              <div>
                                
                                   <!-- <a href="javascript:void(0)">
                                       <span></span>
                                       <p></p>
                                    </a>
                                
                               
                                    <a ng-click="selectedstatus('New')" href="javascript:void(0)">
                                       <span>{{language.new}}</span>
                                       <p></p>
                                    </a>
                                 -->
                                 
                                 <a href="javascript:void(0)" ng-click="selectedstatus('{{statuslists.name}}','{{statuslists.images}}')" ng-repeat="statuslists in statuslist">
                                    <span class="ng-binding d-inline">{{statuslists.name}}</span>
                                  
                                    <img src="https://thegmt24.com/app/assets/images/{{statuslists.images}}" alt="">
                                   
                                 </a>

                                 
                              </div>
                              </div>
                              <input type="hidden" class="form-control" id="" value="" ng-model="user2.status" name="hidden2" required>
                              <span style="color:Red" ng-show="addProductForm.$submitted && addProductForm.hidden2.$error.required">{{language.this_field_is_required}}! </span>
                           </div>
                        </div>
                        <!--                                <div class="form-group">
                           <label for="exampleInputEmail1">Status of the watch*</label>
                           
                            <div class="dropdown select-dropdown">
                                                      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Choose watch status
                                                      <span class="caret"></span></button>
                           
                                                      <ul class="dropdown-menu">
                                                                  
                           
                           <li ng-repeat="status_list in statuslist"><label> <input type="checkbox" name="" value=""><span>{{status_list.name}}</span>
                           <span ng-bind-html="status_list.rating"></span>
                           </label></li>
                           
                                                      </ul>
                                                    </div>
                           </div>-->
                        <!--                                                                        <div class="form-group">
                           <label for="staticEmail"> Status of the watch</label>
                           <input type="text" class="form-control" id="" value="" ng-model="user2.status" name="status" required>
                                                                                                 <span style="color:Red" ng-show="addProductForm.$submitted && addProductForm.status.$error.required"> {{language.this_field_is_required}}! </span>
                                                                                                 
                                                                                                 
                           </div>-->
                        <div class="form-group">
                           <label for="staticEmail">{{language.country}}*</label>
                           <select class="form-control" name="country" ng-model="user2.country" ng-change="state(user2.country)" required>
                              <option ng-repeat="country_list in countrylist" value="{{country_list.id}}">{{country_list.name}}</option>
                           </select>
                           <span style="color:Red" ng-show="addProductForm.$submitted && addProductForm.country.$error.required">{{language.please_choose_a_country}}</span>
                        </div>
                        <div class="form-group">
                           <label for="staticEmail">{{language.state}}*</label>
                           <select class="form-control" name="state" ng-model="user2.state" ng-change="city(user2.state)" required>
                              <option ng-repeat="statelists in statelist" value="{{statelists.id}}">{{statelists.name}}</option>
                           </select>
                           <span style="color:Red" ng-show="addProductForm.$submitted && addProductForm.state.$error.required">{{language.please_choose_a_state}}</span>
                        </div>
                        <div class="form-group">
                           <label for="staticEmail">{{language.Owner_Number}}*</label>
                           <div class="input-group">
                              <div class="input-group-prepend">
                                 <span class="input-group-text"> + {{phonecode}}</span>
                              </div>
                               <input type="text" ng-if="user.user_type == 1" class="form-control" id="Owner_number" ng-model="user2.owner_number" ng-pattern="/^[1-9][0-9]*$/" name="owner_number" readonly required>
                               <input type="text" ng-if="user.user_type == 2" class="form-control" id="Owner_number" ng-model="user2.owner_number" ng-pattern="/^[1-9][0-9]*$/" name="owner_number" required>
                           </div>
                           <span style="color:Red" ng-show="addProductForm.$submitted && addProductForm.owner_number.$error.required"> {{language.this_field_is_required}}! </span>
                           <span style="color:Red" ng-show="addProductForm.owner_number.$dirty && addProductForm.owner_number.$error.pattern">{{language.only_numbers_allowed}}</span>
                        </div>
                        <!--                                                                        <div class="form-group">
                           <label for="staticEmail">City*</label>
                                                                                                 
                           <select class="form-control" name="city" ng-model="user2.city"  required>
                               <option  ng-repeat="citylists in citylist" value="{{citylists.id}}">{{citylists.name}}</option>
                           </select>
                                                                                                 <span style="color:Red" ng-show="addProductForm.$submitted && addProductForm.city.$error.required">{{language.please}} {{language.Choose}} A City</span>
                           </div>-->
                        <!--                                    <div class="form-group">
                           <label for="staticEmail">Country</label>
                           <input type="text" class="form-control" id="" value="" ng-pattern="/^[a-z A-Z]+$/" placeholder="" ng-model="user2.country" name="country" required>
                                                                                                 <span style="color:Red" ng-show="addProductForm.$submitted && addProductForm.country.$error.required">  {{language.this_field_is_required}}!</span>
                                                                                                 
                                                                                                 <span style="color:Red" ng-show="addProductForm.country.$dirty && addProductForm.country.$error.pattern">Only Letters Allowed</span>
                           </div>-->
                        <div class="form-group">
                           <label for="staticEmail">{{language.size}}*</label>
                           <input type="text" class="form-control" id="" value="" ng-pattern="/^[1-9][0-9]*$/" placeholder="" ng-model="user2.size"
                              name="size" required="required">
                           <span style="color:Red" ng-show="addProductForm.$submitted && addProductForm.size.$error.required">{{language.this_field_is_required}}! </span>
                           <span style="color:Red" ng-show="addProductForm.size.$dirty && addProductForm.size.$error.pattern">{{language.only_numbers_allowed}}</span>
                        </div>
                        <!-- <div class="form-group">
                           <label for="staticEmail">Base Auction Price</label>
                           <input type="text" class="form-control" id="" value="" placeholder="" ng-model="user2.baseauctionprice" name="baseauctionprice" required>
                           </div>
                        <div class="form-group">
                           <label for="staticEmail">Threshold Price</label>
                           <input type="text" class="form-control" id="" value="" placeholder="" ng-model="user2.thresholdprice" name="thresholdprice" required>
                           </div>-->
                        <input type="hidden" id="lat" ng-model="user2.my_latitude" name="my_latitude">
                        <input type="hidden" id="long" ng-model="user2.my_longitude" name="my_longitude">
                        <div class="form-group">
                           <label for="staticEmail">{{language.Work_Hours}}</label>
                           <input type="text" class="form-control" id="" value="" placeholder="" ng-model="user2.work_hours" name="work_hours">
                           <!-- <span style="color:Red" ng-show="addProductForm.work_hours.$dirty && addProductForm.work_hours.$error.pattern">Only Letters Allowed</span>-->
                        </div>
                        <label>{{language.upload}} {{language.the_image}}* (maximum 5 photos accepted.)</label>
                        <div>
                           <div class="form-group">
                              <div class="btn btn-primary" accept="image/*" name="image" ngf-select ng-model="user2.image" ngf-keep="true" ngf-multiple="true"
                                  ngf-fix-orientation="true">{{language.add}} {{language.photos}}
                              </div>
                              <input type="hidden" id="" name="pimage" ng-model="user2.image" required>
                              <!--                                                                                 <div class="btn btn-primary" ngf-change="selectFiles($files)"   accept="image/*" name="image" ngf-select ng-model="user2.image" ngf-multiple="true" ngf-max-files="5" ngf-fix-orientation="true">Add Photos
                                 </div>-->
                              <span style="color:Red" ng-show="addProductForm.$submitted && addProductForm.pimage.$error.required">{{language.this_field_is_required}}! </span>
                           <!--<span style="color:Red" ng-show="addProductForm.size.$dirty && addProductForm.pimage.$error.pattern">{{language.only}} {{language.numbers}} {{language.allowed}}</span>-->
                           </div>
                           
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-sm-3 mb-2" ng-repeat="f in user2.image">
                                    <!--                                                {{f.name}} 
                                       <i ng-click="f = null" ng-show="f" class="fa fa-times" aria-hidden="true"></i> 
                                        <img ng-show="myForm.location.files.$valid" ngf-thumbnail="f" class="thumbnail img-responsive" style="height: 150px;"> -->
                                    <a class="deleteHandle" ng-click="deleteFile($index)">
                                    <i class="fa fa-close new-close"></i>
                                    </a>
                                       
                                    <img width="100%" height="90" ng-show="addProductForm.user2.image.$valid" ngf-thumbnail="f" ngf-resize="{width: 100, height: 100}" class="thumbnail" />

                                    <!--<video style="width: 150px; height: 100px;" controls ngf-src="f" ng-show="myForm.location.files.$valid" class="thumbnail"></video>-->
                                 </div>
                              </div>
                           </div>
                            
                            <span style="color:Red" ng-if="imageserror == 1">{{language.can_Upload_Only_Five_Images}}.</span>
                           <!--<span style="color:Red" ng-if="addProductForm.image.$error.maxFiles">{{language.can}} {{language.upload}} {{language.only}} {{language.five}} {{language.images}}.</span>-->
                        </div>
                        <div class="form-group map-search">
                            <input id="pac-input" class="controls" type="text" placeholder="Search Box" style="display:none">

                           <div id="dvMap" style="width: 500px; height: 500px"></div>
                        </div>
                        <div class="form-group">
                           <label for="staticEmail">{{language.location}}</label>
                           <p class="" id="addressshow">{{language.Choose_your_location}} </p>
                           <input type="hidden" class="form-control" id="address" value="" placeholder="" ng-pattern="/^[a-z A-Z]+$/" ng-model="user2.location"
                              name="location" readonly>
                        </div>
                        <!--                                          <div ng-if="ptype == 2">
                           <div class="btn btn-default" ngf-select ng-model="user2.image" name="image" ngf-pattern="'image/*'" ngf-accept="'image/*'"  ngf-min-height="100" ngf-validate="{ height: {min:420}, width: {min:420}}" ngf-resize="{width: 100, height: 100}" required>Browse</div>
                                    <span style="color:Red" ng-if="addProductForm.movement.$error.required && !user2.image" >Upload Image with Minimum Height:420 And Minimum Width:420</span>
                                    
                           <img class="thumbnail_upload_img" ngf-thumbnail="user2.image"  style="width:50px;height:50px;">
                           
                           </div>  -->
                        <button ng-if="loader" class="btn btn-primary" type="submit">{{language.save}}</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="modal fade" id="subscription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title mx-auto" id="exampleModalLabel">{{language.Attention}}!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="form-group">
               {{msg}}
            </div>
            <div class="form-group">
               <button type="submit" class="btn btn-block btn-primary">{{language.ok}}</button>
            </div>
         </div>
      </div>
   </div>
</div>

<div id="nosubscriptionerror" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button>-->
            <h4 class="modal-title"></h4>
         </div>
         <div class="modal-body">
            <h5>{{subscriptionerrormsg}}</h5>
         </div>
         <div class="modal-body">
            <a class="nav-link" ng-click="gotosubscriptionlink()" href="javascript:void(0)">{{language.Click_Here_To_Buy_Subscriptions}} </a>
         </div>
         
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{language.close}}</button>
         </div>
      </div>
   </div>
</div>

<div ng-if='!loader' class="loading">{{language.Loading}}&#8230;</div>
<div ng-if='!loader' class="content">{{language.Wait_for_a_while}}..</div>
<style>
   /* Absolute Center Spinner */
   .loading {
   position: fixed;
   z-index: 999;
   height: 2em;
   width: 2em;
   overflow: show;
   margin: auto;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   }
   /* Transparent Overlay */
   .loading:before {
   content: '';
   display: block;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));
   background: -webkit-radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));
   }
   /* :not(:required) hides these rules from IE9 and below */
   .loading:not(:required) {
   /* hide "loading..." text */
   font: 0/0 a;
   color: transparent;
   text-shadow: none;
   background-color: transparent;
   border: 0;
   }
   .loading:not(:required):after {
   content: '';
   display: block;
   font-size: 10px;
   width: 1em;
   height: 1em;
   margin-top: -0.5em;
   -webkit-animation: spinner 1500ms infinite linear;
   -moz-animation: spinner 1500ms infinite linear;
   -ms-animation: spinner 1500ms infinite linear;
   -o-animation: spinner 1500ms infinite linear;
   animation: spinner 1500ms infinite linear;
   border-radius: 0.5em;
   -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
   box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
   }
   /* Animation */
   @-webkit-keyframes spinner {
   0% {
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -ms-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   }
   100% {
   -webkit-transform: rotate(360deg);
   -moz-transform: rotate(360deg);
   -ms-transform: rotate(360deg);
   -o-transform: rotate(360deg);
   transform: rotate(360deg);
   }
   }
   @-moz-keyframes spinner {
   0% {
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -ms-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   }
   100% {
   -webkit-transform: rotate(360deg);
   -moz-transform: rotate(360deg);
   -ms-transform: rotate(360deg);
   -o-transform: rotate(360deg);
   transform: rotate(360deg);
   }
   }
   @-o-keyframes spinner {
   0% {
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -ms-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   }
   100% {
   -webkit-transform: rotate(360deg);
   -moz-transform: rotate(360deg);
   -ms-transform: rotate(360deg);
   -o-transform: rotate(360deg);
   transform: rotate(360deg);
   }
   }
   @keyframes spinner {
   0% {
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -ms-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   }
   100% {
   -webkit-transform: rotate(360deg);
   -moz-transform: rotate(360deg);
   -ms-transform: rotate(360deg);
   -o-transform: rotate(360deg);
   transform: rotate(360deg);
   }
   }
   .fa {
   position: absolute;
   left: 18%;
   top: 3%;
   }
</style>
<style>
    .select {
  margin: 0;
  padding: 0;
}
.select dd, .select dt, .select ul {
  margin: 0px;
  padding: 0px;
}
.select dd {
  position: relative;
}
.select a, .select a:visited {
  color: #000;
  text-decoration: none;
  outline: none;
}
.select dt:hover, .select dd ul:hover {
  border-color: rgb(128,128,128);
}
.select dd ul li a:hover {
  background-color: rgb(112, 146, 190);
  color: #FFF;
}
.select dt {
  background: url(arrow.png) no-repeat scroll right center;
  display: block;
  padding-right: 20px;
  border: 1px solid rgb(170, 170, 170);
  width: 180px;
  overflow: hidden;
}
.select dt span {
  cursor: pointer;
  display: block;
  padding: 4px;
  height: 15px;
}
.select dd ul {
  background: #fff none repeat scroll 0 0;
  border-bottom: 1px solid rgb(170, 170, 170);
  border-left: 1px solid rgb(170, 170, 170);
  border-right: 1px solid rgb(170, 170, 170);
  border-top: 0;
  display: none;
  left: 0px;
  padding: 5px 0px;
  position: absolute;
  top: -1px;
  width: auto;
  min-width: 200px;
  list-style: none;
}
.select dd ul li a {
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: block;
}
.selected {
  background: rgb(195, 195, 195);
}
.header-list, .header-list:hover {
  padding-left: 3px;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
}
    
</style>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyA9TtgcmRWCs9APKw2Sh4W5gujBJVOYaPo&callback=initMap&libraries=places"
   async defer></script>
   
   <script>
      // This example adds a search box to a map, using the Google Place Autocomplete
      // feature. People can enter geographical searches. The search box will return a
      // pick list containing a mix of places and predicted search terms.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">


      function initMap() {
     if (navigator.geolocation) {
       navigator.geolocation.getCurrentPosition(showPosition);
     } else {
       x.innerHTML = "Geolocation is not supported by this browser.";
     }
   }




      function showPosition(position) {
//        var map = new google.maps.Map(document.getElementById('dvMap'), {
//          center: {lat: -33.8688, lng: 151.2195},
//          zoom: 13,
//          mapTypeId: 'roadmap'
//        });
        
        var myLatLng = { lat: position.coords.latitude, lng: position.coords.longitude };
   
     $('#lat').val(position.coords.latitude);
     $('#long').val(position.coords.longitude);
   console.log('spandan',position);
   
     var map = new google.maps.Map(document.getElementById('dvMap'), {
       zoom: 13,
       center: myLatLng,
       mapTypeId: 'roadmap'
     });
        // Create the search box and link it to the UI element.
        
        var input = document.getElementById('pac-input');
        //alert(input);
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            
                 //==========================
          if(place.geometry.location){       
                //alert('1') ;
          var marker = new google.maps.Marker({
                position: place.geometry.location,
                map: map,
                title: place.name,
                draggable: true,
              });
   
   
   
             /*$('#lat').val(lat);
             $('#long').val(lng);
             $('#address').val(address);
             */
            $('#address').val(place.formatted_address);
             $("#addressshow").html(place.formatted_address);
            google.maps.event.addListener(marker, 'dragend', function () {
              geocodePosition(marker.getPosition());
            });
            //================
        }else{
            //alert('2');
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: place.name,
                draggable: true,
              });
   
   
            google.maps.event.addListener(marker, 'dragend', function () {
              geocodePosition(marker.getPosition());
            });
            
        } 
            
             function geocodePosition(pos) {
       var lat, lng, address;
       geocoder = new google.maps.Geocoder();
       geocoder.geocode
         ({
           latLng: pos
         },
         function (results, status) {
           if (status == google.maps.GeocoderStatus.OK) {
             lat = pos.lat();
             lng = pos.lng();
             address = results[0].formatted_address;
             //alert("Latitude: " + lat + "\nLongitude: " + lng + "\nAddress: " + address);
             $('#lat').val(lat);
             $('#long').val(lng);
             $('#address').val(address);
             $("#addressshow").html(address);
           }
           else {
             $("#mapErrorMsg").html('Cannot determine address at this location.' + status).show(100);
           }
         }
         );
     }
            
            
            


            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });
        //$("#pac-input").css("display", "block");
      }

    </script>


   
<script>
  
   $("ul.status-watch").on("click", ".init", function () {
     $(this).closest("ul.status-watch").children('li:not(.init)').toggle();
   });
   
   var allOptions = $("ul.status-watch").children('li:not(.init)');
   $("ul.status-watch").on("click", "li:not(.init)", function () {
     allOptions.removeClass('selected');
     $(this).addClass('selected');
     $("ul.status-watch").children('.init').html($(this).html());
     allOptions.toggle();
   });
 $(document).ready(function() {

    $(".select dt").click(function(e) {
        e.stopPropagation();
        var select = $(this).closest('.select');
        // close all other selects
        $('.select').not(select).find('ul').hide();
      
        select.find('ul').toggle();
        select.find("dt, dd ul").css('border-color', 'rgb(128,128,128)')

        select.find("dt, span, dd ul").css('background-color', 'rgb(255,255,196)')


    });

    $(".select dd ul li a").click(function(e) {
        var text = $(this).html();
        var select = $(this).closest('.select');

        if ((select.data('val') == 'multiple') && (e.ctrlKey)) {
            e.stopPropagation()
            $(this).addClass('selected');
            select.find('dt span').html("(" + select.find('a.selected').length + ")");

        }
        else {
            var text = $(this).html();
            select.find("dd a").removeClass('selected');
            $(this).addClass('selected');
            select.find("dt span").html(text);
            //select.find("dt a").css("background-color", "");
            select.find("dd ul").hide();
        }
    });

    $(document).bind('click', function() {
        $(".select dd ul").hide();
        $(".select dt, .select dd ul").css('border-color', '');
    });
    setTimeout(function(){  $("#pac-input").css("display", "block"); }, 3000);

});
</script>
