
	<section class="innerbody">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4" data-ng-include=" 'app/views/partials/sidebar.html' " ></div>
				<div class="col-lg-9 col-md-8">
					<h5 class="common-title p-3 mb-0">{{language.change_password}}</h5>
					<div class="edit-pro p-3">
						<div class="row">
							<div class="col-lg-7 col-md-12">
								<form name="change_pass" ng-submit="updatePassword(user)" novalidate>
									
                                                                    <div class="form-group">
										<label for="staticEmail">{{language.old_password}}</label>
										<input type="password" class="form-control" id="" value=""  name="old_password" ng-model="user.old_password" required>
									</div>
                                                                    <div class="form-group">
										<label for="staticEmail">{{language.new_password}}</label>
										<input type="password" class="form-control" id="" value=""  name="password" ng-model="user.password" required>
									</div>
                                                                    <div class="form-group">
										<label for="staticEmail">{{language.retype_password}}</label>
										<input type="password" class="form-control" id="" value=""  name="conf_password" ng-model="user.conf_password" required>
                                                                                 <label ng-if="showErrorMsg==1">
                                    <span style="color:#FF0000 !important; width:100%">{{language.password_match_error}}!</span>
                                    &nbsp;
                                </label>
									</div>
									
									
									<button class="btn btn-primary" ng-disabled="change_pass.$invalid">{{language.save_changes}}</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		