
	<section class="innerbody" ng-init="expiredproduct()">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4" data-ng-include=" 'app/views/partials/sidebar.html' " ></div>
				<div class="col-lg-9 col-md-8">
					<h5 class="common-title p-3 mb-0">{{language.last_expired_product}}</h5>
					<div class="edit-pro p-3 w-100 float-left">
						<ul class="wish-list">
							<li class="p-3 ng-scope col-md-4 float-left ml-1" ng-repeat="ProductList in productLists">
								<div class="wishlist-image w-100 float-left">
									  <a href="#/productDetails/{{ProductList.id}}"><img src="{{ProductList.image}}" alt="" class="img-fluid"></a>
								</div>
								<div class="wishlist-content w-100 float-left">
									<!--<h6>{{ProductList.productname}} <span><i class=""></i></span></h6>-->
									<p class="mb-1">{{ProductList.description}}</p>
									<b class="d-block mb-2">{{selectedCurr}}{{ProductList.price}}</b>
									<!--<p><button type="button" class="btn btn-primary"><i class="ion-android-cart"></i> Buy It</button>-->
									
                                                                            <p>
                                                                               
                                                                                <button type="button" ng-click="markextension(ProductList.id)" class="btn btn-primary btn-dark" onclick="return confirm('Are you sure to extend this product with your current slot?')"> {{language.Get_Extension}}</button> 
                                                                            </p> 
                                                                               
                                                                                
                                                                               
                                                                               <p> 
                                                                                   <button type="button" ng-click="deleteProduct(ProductList.id)" class="btn btn-primary btn-dark" onclick="return confirm('Are you sure to remove this product?')"><i class="ion-trash-a"></i> {{language.Remove}}</button>
                                                                            </p>
                                                                       
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
								</div>
							</li>
							<!--<li class="p-3 d-flex">
								<div class="wishlist-image mr-3">
									<img src="images/watch.jpg" alt="">
								</div>
								<div class="wishlist-content">
									<h6>Rolex Cosmograph Daytona <span><i class="ion-heart"></i></span></h6>
									<p class="mb-1">Lorem Ipsum is simply dumy text of the  watch printing and typeseing industry. Lorem Ipsum
is simply dumy text of the  watch printing and typesetting industry.</p>
									<b class="d-block mb-2">$ 27.25</b>
									<p><button type="button" class="btn btn-primary"><i class="ion-android-cart"></i> Buy It</button>
									<button type="button" class="btn btn-primary btn-dark"><i class="ion-trash-a"></i> Delete</button></p>
								</div>
							</li>-->
						</ul>
                        <h4 style="text-align: center;" ng-if="exists==0">{{language.no_records_found}}</h4>
					</div>
				</div>
			</div>
		</div>
	</section>

	