
	<section class="innerbody" ng-init="myproduct()">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4" data-ng-include=" 'app/views/partials/sidebar.html' " ></div>
				<div class="col-lg-9 col-md-8">
					<h5 class="common-title p-3 mb-0">{{language.product_by_my_location}}</h5>
					<div class="edit-pro p-3 w-100 float-left">
						<ul class="wish-list">
							<li class="p-3 ng-scope col-md-4 float-left ml-1" ng-repeat="ProductList in productLists">
								<div class="wishlist-image w-100 float-left">
									  <a href="#/productDetails/{{ProductList.id}}"><img src="{{ProductList.image}}" alt="" class="img-fluid"></a>
								</div>
								<div class="wishlist-content w-100 float-left">
									
                                                                    <p class="mb-1"><span>{{language.seller}}:</span> {{ProductList.seller_name}}</p>
                                                                    <p class="mb-1"><span>{{language.price}}</span> ${{ProductList.price}}</p>
                                                                   <a href="#/productDetails/{{ProductList.id}}" class="btn btn-primary">{{language.show_interest}}</a> 
									
									
								</div>
							</li>
							
						</ul>
                        <h4 style="text-align: center;" ng-if="exists==0">{{language.no_records_found}}</h4>
					</div>
				</div>
			</div>
		</div>
	</section>

	