
<link href="app/assets/css/slick.css" rel="stylesheet">
<link href="app/assets/css/slick-theme.css" rel="stylesheet">

<div id="carouselExampleControls" class="carousel slide new_mt" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img class="d-block w-100" src="{{banner.image}}" alt="First slide" style="height: 100vh;">
			<!-- 			<div class="scroller-container">
            <a class="icon ion-android-arrow-down"></a>
            </div> -->
			<div class="slider-text">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 ml-auto border-left">
							<h1 class="mb-3">{{banner.name}}</h1>
							<p>{{banner.description}}</p>
							<!--<button class="btn btn-outline-primary">View Product</button>-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--
         <div class="carousel-item">
           <img class="d-block w-100" src="images/banner1.png" alt="First slide">
           <div class="slider-text">
           	<div class="container">
            	<div class="row">
             	<div class="col-lg-6 ml-auto border-left">
              	<h1 class="mb-3">The Worldwide Marketplace for Luxury Watches</h1>
              	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </p>
              	<button class="btn btn-outline-primary">View Product</button>
             	</div>
            	</div>
           	</div>
           </div>
         </div>
         <div class="carousel-item">
           <img class="d-block w-100" src="images/banner1.png" alt="First slide">
           <div class="slider-text">
           	<div class="container">
            	<div class="row">
             	<div class="col-lg-6 ml-auto border-left">
              	<h1 class="mb-3">The Worldwide Marketplace for Luxury Watches</h1>
              	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </p>
              	<button class="btn btn-outline-primary">View Product</button>
             	</div>
            	</div>
           	</div>
           </div>
         </div>-->
	</div>
	<!--<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="fa fa-angle-left mr-auto" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="fa fa-angle-right ml-auto" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
      </a>-->
</div>
<section class="brand" id="section">
	<div class="container">
		<h1>{{language.our_brands}}</h1>

		<!-- <ul class="d-flex py-5 w-100 float-left">
			<li ng-repeat="brandLists in brandList">
				<a href='#/productlisting/{{brandLists.brand_id}}'>
					<img src="{{brandLists.brand_image}}" alt="" />
				</a>
			</li>
		</ul> -->

		<div class="w-100 float-left">
			<div data-slick='{"slidesToShow": 4, "slidesToScroll": 4}' class="your-class autoplay slider">
				<div>
					<a href="#">
						<img src="http://178.62.61.183/upload/brand_image/Audemars_Piguet_logo.png" alt="" class="img-fluid">
					</a>
				</div>

				<div>
					<a href="#">
						<img src="http://178.62.61.183/upload/brand_image/Breguet.png" alt="" class="img-fluid">
					</a>
				</div>

				<div>
					<a href="#">
						<img src="http://178.62.61.183/upload/brand_image/Breitling.png" alt="" class="img-fluid">
					</a>
				</div>

				<div>
					<a href="#">
						<img src="http://178.62.61.183/upload/brand_image/cartier.jpg" alt="" class="img-fluid">
					</a>
				</div>

				<div>
					<a href="#">
						<img src="http://178.62.61.183/upload/brand_image/Chopard.png" alt="" class="img-fluid">
					</a>
				</div>

				<div>
					<a href="#">
						<img src="http://178.62.61.183/upload/brand_image/Corum.png" alt="" class="img-fluid">
					</a>
				</div>

				<div>
					<a href="#">
						<img src="http://178.62.61.183/upload/brand_image/Dior.png" alt="" class="img-fluid">
					</a>
				</div>

				<div>
					<a href="#">
						<img src="http://178.62.61.183/upload/brand_image/Harry-Winston.png" alt="" class="img-fluid">
					</a>
				</div>

				<div>
					<a href="#">
						<img src="http://178.62.61.183/upload/brand_image/Hublot.png" alt="" class="img-fluid">
					</a>
				</div>

				<div>
					<a href="#">
						<img src="http://178.62.61.183/upload/brand_image/IWC-Schaffhausen.png" alt="" class="img-fluid">
					</a>
				</div>

				<div>
					<a href="#">
						<img src="http://178.62.61.183/upload/brand_image/jaeger-lecoultre.jpg" alt="" class="img-fluid">
					</a>
				</div>
				<div>
					<a href="#">
						<img src="http://178.62.61.183/upload/brand_image/Mont-Blanc.jpg" alt="" class="img-fluid">
					</a>
				</div>
				<div>
					<a href="#">
						<img src="http://178.62.61.183/upload/brand_image/Omega.png" alt="" class="img-fluid">
					</a>
				</div>
				<div>
					<a href="#">
						<img src="http://178.62.61.183/upload/brand_image/Paneri.png" alt="" class="img-fluid">
					</a>
				</div>
				<div>
					<a href="#">
						<img src="http://178.62.61.183/upload/brand_image/Patek-Philippe.png" alt="" class="img-fluid">
					</a>
				</div>
				<div>
					<a href="#">
						<img src="http://178.62.61.183/upload/brand_image/Richard-Mile.png" alt="" class="img-fluid">
					</a>
				</div>
				<div>
					<a href="#">
						<img src="http://178.62.61.183/upload/brand_image/Roger-Dubuis.png" alt="" class="img-fluid">
					</a>
				</div>
				<div>
					<a href="#">
						<img src="http://178.62.61.183/upload/brand_image/Rolex.png" alt="" class="img-fluid">
					</a>
				</div>
				<div>
					<a href="#">
						<img src="http://178.62.61.183/upload/brand_image/Tag-Heuer.png" alt="" class="img-fluid">
					</a>
				</div>
				<div>
					<a href="#">
						<img src="http://178.62.61.183/upload/brand_image/TUDOR.png" alt="" class="img-fluid">
					</a>
				</div>
				<div>
					<a href="#">
						<img src="http://178.62.61.183/upload/brand_image/Vacheron-Constantin.png" alt="" class="img-fluid">
					</a>
				</div>
				<div>
					<a href="#">
						<img src="http://178.62.61.183/upload/brand_image/Van-Cleef.jpg" alt="" class="img-fluid">
					</a>
				</div>
				<div>
					<a href="#">
						<img src="http://178.62.61.183/upload/brand_image/Zenith.jpg" alt="" class="img-fluid">
					</a>
				</div>
			</div>
		</div>


	</div>
</section>
<section class="new-collection">
	<ul>
		<li>
			<!--<img src="{{imageSpecialauction}}" alt="" />-->
			<img src="app/assets/images/new-collection/itm1.png" alt="" />
			<div class="collection-text">
				<h2>{{language.special}} {{language.auction}}</h2>
				<p></p>
				<button ng-click="sendtoproduct('sp_auction')" class="btn btn-outline-primary">View</button>
			</div>
		</li>
		<li>
			<ul>
				<li>
					<img src="app/assets/images/new-collection/itm2.png" alt="" />
					<div class="collection-text">
						<h2>{{language.best_sellers}}
							<br/>
						</h2>
						<button ng-click="sendtoproduct('top_seller')" class="btn btn-outline-primary">View</button>
					</div>
				</li>
				<li>
					<!--<img src="{{imageWomenwatch}}" alt="" height='237px'/>-->
					<img src="app/assets/images/new-collection/itm3.png" alt="" />
					<div class="collection-text">
						<h2>{{language.ladies_watch}}</h2>
						<button ng-click="sendtoproduct('Female')" class="btn btn-outline-primary">View</button>
					</div>
				</li>
			</ul>
		</li>
		<li>
			<!--<img src="{{imageCertifiedwatch}}" alt="" />-->
			<img src="app/assets/images/new-collection/itm4.png" alt="" />
			<div class="collection-text">
				<h2>{{language.top_products}}</h2>
				<p></p>
				<button ng-click="sendtoproduct('top_product')" class="btn btn-outline-primary">View</button>
			</div>
		</li>
	</ul>
</section>
<section class="topmodels">
	<div class="container">
		<h1>{{language.top_models}} </h1>
		<!--<h4>Lorem Ipsum is simply dummy text of the printing </h4>-->
		<div class="row" ng-if="topmodellist">
			<div ng-repeat="topmodels in topmodellist">
				<div class="col-md-12 mt-3">
					<div class="model-box">
						<img src="{{topmodels.product_image}}" alt="" />
						<p>{{topmodels.product_name}}</p>
					</div>
				</div>
			</div>
		</div>
		<!--                        <div class="row" ng-if="!topmodellist">
         <div ng-repeat="launchedproduct in launchedproductList">
         <div class="col-lg-4 col-md-6 mt-3">
         <div class="model-box">
         <img src="{{launchedproduct.product_name}}" alt="" />
         <p>{{launchedproduct.product_name}}</p>
         
         
         </div>
         </div>
             </div>
         </div>-->
	</div>
</section>
<section class="collection">
	<div class="container">
		<h1>{{language.more_collection_of_watch}}</h1>
		<h4 ng-if="selectedlanguageNo== 1">{{footertextList.sub_heading_english}}</h4>
		<h4 ng-if="selectedlanguageNo== 2">{{footertextList.sub_heading_arabic}}</h4>
		<p class="my-5" ng-if="selectedlanguageNo == 1">{{footertextList.text_english}}</p>
		<p class="my-5" ng-if="selectedlanguageNo == 2">{{footertextList.text_arabic}}</p>
		<!--<button ></button>-->
		<a href='#/productlisting/' class="btn btn-outline-primary">View Product</a>
	</div>
</section>
<section class="footer-top middle-area">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-3 border-right">
				<h4>{{language.contact_information}}</h4>
				<p>{{contactinfo.address}}</p>
				<p>{{contactinfo.phone}}</p>
				<p>{{contactinfo.email}}</p>
			</div>
			<div class="col-md-6 col-lg-3 border-right">
				<h4>{{language.newsletter}}</h4>
				<p>Lorem Ipsum is simply dummy and type setting industry.
				</p>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Enter Your Email" aria-label="Recipient's username" ng-model="newsletter"
					 aria-describedby="basic-addon2">
					<div class="input-group-append">
						<button class="btn" ng-click="registernewsletter(newsletter)" type="button">
							<i class="fa fa-envelope"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 border-right">
				<h4>{{language.follow_us}}</h4>
				<p>Lorem Ipsum is simply dummy and type setting industry.
				</p>
				<!--				<div class="social justify-content-between">
               <a href="" class="fa fa-facebook"></a>
               <a href="" class="fa fa-twitter"></a>
               <a href="" class="fa fa-instagram"></a>
               <a href="" class="fa fa-pinterest"></a>
               <a href="" class="fa fa-google-plus"></a>
               </div>-->
				<div class="social justify-content-between">
					<div ng-repeat="sociallink in sociallinks">
						<a href="{{sociallink.link}}" class="{{sociallink.class}}"></a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 download">
				<h4>{{language.download_app}}</h4>
				<button class="btn btn-outline-primary">
					<i class="fa fa-apple"></i>
					<span>Download from App Store</span>
				</button>
				<button class="btn btn-outline-primary mt-3">
					<i>
						<img src="app/assets/images/new-collection/play.png" alt="" />
					</i>
					<span>Download from App Store</span>
				</button>
			</div>
		</div>
	</div>
</section>
<script src="app/assets/js/slick.js"></script>
<script type="text/javascript">
	$('.autoplay').slick({
		dots: true,
		infinite: true,
		speed: 500,
		slidesToShow: 4,
		slidesToScroll: 1,
		autoplay: true,
		autoplaySpeed: 500
	});
</script>

