
<section class="innerbody" ng-init="interestedproduct()">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4" data-ng-include=" 'app/views/partials/sidebar.html'" ></div>
            <div class="col-lg-9 col-md-8">
                <h5 class="common-title p-3 mb-0">{{language.interested_product_by_users}}</h5>
                <div class="edit-pro p-3 w-100 float-left">
                    <ul class="wish-list">
                        <li class="p-3 ng-scope col-md-4 float-left ml-1 new-auodiv" ng-repeat="ProductList in productLists">
                            <div class="wishlist-image w-100 float-left">
                                <a href="#/productDetails/{{ProductList.product_id}}"><img src="{{ProductList.image}}" alt="" class="img-fluid"></a>
                            </div>
                            <div class="wishlist-content w-100 float-left">

                                <p class="mb-1">{{ProductList.description}}</p>
                                <b class="d-block mb-2">{{usersSelectedCurrency}} {{ProductList.price}}</b>

                                <!--for complete product-->

                                <div>
                                    <div class="row mx-sm-0">
                                        <div class="col-md-12 mb-1"> 
                                          <div class="d-flex justify-content-between">    
                                            <button type="button" ng-click="deleteInterest(ProductList.id)" class="btn btn-primary btn-dark"><i class="ion-trash-a"></i> {{language.Remove}}</button>
                                            <button type="button" ng-click="showuser(ProductList.customer_id)" class="btn btn-primary btn-dark">{{language.show_user}}</button>                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <h4 style="text-align: center;" ng-if="exists == 0">{{language.no_records_found}}</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="myModal" class="modal fade scroll_modal" role="dialog">
   <div class="modal-dialog">
      
         
         <div class="modal-content">
            <div class="modal-body">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <div class="top-bar-part">
                  <div class="left-count">
                     
                  </div>
                  
                  
               </div>
               <figure>
                  <div class="my-imagepart">
                     <img src="{{userinfo.image}}" alt="User Image" height="100%" width="100%">
                  </div>
                 
               </figure>
              
               <h5>
                  Name : &nbsp;
                  <p>{{userinfo.fullname}}</p>
               </h5>
               <h5>
                  Email : &nbsp;
                  <p>{{userinfo.email}}</p>
               </h5>
               <h5>
                  Phone : &nbsp;
                  <p>{{userinfo.phone}}</p>
               </h5>
              
              
               
               </div>
               
               
              
            </div>
            
         </div>
      
   </div>
</div>
