
	<section class="innerbody" ng-init="myPurchase();">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4" data-ng-include=" 'app/views/partials/sidebar.html' " ></div>
				<div class="col-lg-9 col-md-8">
					<h5 class="common-title p-3 mb-0">{{language.purchase_won_auction_list}}</h5>
					<div class="edit-pro p-3">
					
                        <!--<h4 style="text-align: center;" ng-if="isExists==0">No Records Found.</h4>-->
                        
                        <table class="table">
                            <thead class="thead-inverse">
                                <tr>
                                  <!--<th scope="col">Sl No.</th>-->
                                  <th scope="col">{{language.product}}</th>
                                  <th scope="col">{{language.Total_Amount}}</th>
                                  <th scope="col" class="text-center">{{language.auction_date}}</th>
                                  <th scope="col" class="text-center">{{language.status}}</th>
                                  <th scope="col" class="text-center">{{language.view}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr ng-repeat="allorder in allorders">
                                      <!--<th scope="row">{{allorder.id}}</th>-->
                                      <td><img src="{{allorder.product_image}}" height="50"></td>
                                      <td scope="row">{{selectedCurr}} {{allorder.total_price}}</td>
                                      <td class="text-center">{{allorder.date}}</td>
                                      <td class="text-center" ng-if="allorder.status==0"><a  href="#/auctionpayment/{{allorder.id}}" class="btn btn-primary btn-dark">{{language.Pay}}</a></td>
                                      <td class="text-center" ng-if="allorder.status==1">{{language.Purchased}}</td>

                                      <td class="text-center"><a href="#/viewwinauction/{{allorder.id}}" class="btn btn-primary btn-dark">{{language.view_details}}</a></td>

                                    </tr>
                                    
                                    <tr><td  ng-if="isExists==0">{{language.no_records_found}}</td></tr>

                            </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	