
	<section class="innerbody">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4" data-ng-include=" 'app/views/partials/sidebar.html' " ></div>
				<div class="col-lg-9 col-md-8">
                                    <h5 class="common-title p-3 mb-0"><div class="row"><div class="col-sm-6">{{language.Message_listing}}</div><div class="col-sm-6" align="right"><a href="#/adminmessageDetails/{{user_id}}/{{admin_id}}" style="color:white">{{language.Admin_Messages}}</a></div></div></h5>
                                        
					<div class="message-list p-4">
						<div class="row">
							<div class="col-md-12">
                                                            <div ng-repeat="message_list in message">
								<div class="media mt-2 mb-3">
								  <!--<img class="mr-4 rounded-circle" src="{{message_list.image}}">-->
                                                                  <img class="mr-4 rounded-circle" ngf-thumbnail="message_list.image" style="width:120px;height:120px;">
								  <div class="media-body">
								   <!--<p>{{message_list.message}}</p>-->
                                                                   <p>{{message_list.productname}}</p>
                                                                   <p><span>{{message_list.date_diff}} {{language.Days_ago}} </br>&nbsp;<a href="#/messageDetails/{{message_list.to_id}}/{{message_list.product_id}}/{{message_list.from_id}}"><i class="fa fa-comments"></i></a> <i class="ion-thumbsup"></i><i class="ion-android-happy"></i><i class="ion-heart"></i></span></p>
								  </div>
								</div>

                                                             </div>
<!--                                                            <div class="page-bt">
									<i class="ion-ios-arrow-left"></i><i class="ion-ios-arrow-right"></i>
								</div>-->
                                                            </div>
							</div>
						</div>
					</div>

					
				</div>
			</div>
		</div>
	</section>


<script>
	$('.grid-list li').on('click',function(e) {
    if ($(this).hasClass('grid')) {
        $('.list-item').removeClass('list').addClass('grid');
    }
    else if($(this).hasClass('list')) {
        $('.list-item').removeClass('grid').addClass('list');
    }
    //alert('ok');
	});
</script>
<style>
    
    .message-list{
	border: 1px solid #ececec;
    background: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}
.message-list .media img{
	border: 1px solid #d9d8d7 !important;
	object-fit: cover !important;
}
.rounded-circle {
    border-radius: 50% !important;
}
.message-list p span{
	font-weight: 600;
	color: #052c50;
}
.message-list p i{
	font-size: 18px;
	padding-left: 12px;
	line-height: 0;
	color: #d82a2a;
	cursor: pointer;
}
.page-bt{
	display: flex;
    justify-content: center;
}
.page-bt i{
	padding: 10px 20px;
	font-size: 40px;
	color: #afafae;
	cursor: pointer;
}
.page-bt i:hover{
	color: #001e3a;
}
.message-bg{
	background: #f0f0f0;
	border: 1px solid #dddddd;
	border-radius: 8px;
	padding: 15px 20px;
	margin-left: 90px;
    margin-top: 20;
}
</style>