
	<section class="innerbody">
		<div class="container">
			<div class="row">
				<!--<div class="col-lg-3 col-md-4" data-ng-include=" 'app/views/partials/sidebar.html' " ></div>-->
				<div class="col-lg-9 col-md-8">
					<h5 class="common-title p-3 mb-0">{{language.enter_your}} OTP</h5>
					<div class="edit-pro p-3">
						<div class="row">
							<div class="col-lg-7 col-md-12">
								<form name="change_pass"  novalidate>
									
									<div class="form-group">
										<label for="staticEmail">{{language.your}} {{language.mobile_number}}</label>
                                                                                <input type="text" class="form-control" name="mobile" ng-model="user.mobileno" readonly required>
                                                                                 <input type="hidden" class="form-control" name="mobile" ng-model="user.code" required>
										<!--<input type="text"  id="" value=""  name="otp" ng-model="user.otp" required>-->
									</div>
                                                                    
                                                                        <div class="form-group">
										<label for="staticEmail">{{language.enter_your}} OTP</label>
										<input type="text" class="form-control" id="" value=""  name="otp" ng-model="user.otp" required>
									</div>
                                                                         
									<button class="btn btn-primary" ng-click="tomobileverifying1(user)">{{language.verify}}</button>
                                                                        <button disabled="" ng-if="timeoutvar == 0" class="btn btn-primary">{{language.resend}} OTP</button>
                                                                        <span ng-if="timeoutvar == 0" class="disclaimer" tooltips tooltip-template=" Otp might take upto 2-5min to be delivered'" tooltip-side="top">i</span>
                                                                        <button ng-if="timeoutvar == 1" class="btn btn-primary" ng-click="resend()">{{language.resend}} OTP</button>
                                                                        <span ng-if="timeoutvar == 1" class="disclaimer" tooltips tooltip-template=" Otp might take upto 2-5min to be delivered'" tooltip-side="top">i</span>
                                                                        {{counter | secondsToDateTime | date:'mm:ss'}}
                                                                            

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


<style>
    
#countdown {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#countdown > div{
    padding: 10px;
    border-radius: 8px;
    background: #00BF96;
    display: inline-block;
}

#countdown div > span{
    padding: 15px;
    border-radius: 50%;
    background: #00816A;
    display: inline-block;
}

.label{
    padding-top: 5px;
    font-size: 16px;
}
</style>	