<section class="innerbody">
   <div class="container">
      <div class="row">
         <div class="col-lg-3 col-md-4" data-ng-include=" 'app/views/partials/sidebar.html'" ></div>
         <div class="col-lg-9 col-md-8">
            <h5 class="common-title p-3 mb-0">{{language.edit}} {{language.profile}}</h5>
            <div class="edit-pro p-3">
               <div class="row">
                  <div class="col-lg-7 col-md-12">
                     <form name="myaccountForm" ng-submit="myaccountForm.$valid && updateProfile(user)" novalidate>
                        <div class="form-group" ng-if="current_user_type == '2'">
                           <label for="staticEmail">{{language.shop_or_individual}}</label>
                           <select class="form-control" ng-model="user.business_type" name="business_type">
                              <option value="1">{{language.individual}}</option>
                              <option value="2">{{language.shop}}</option>
                           </select>
                        </div>
                        <div class="form-group">
                           <label for="staticEmail">{{language.first_name}}</label>
                           <input type="text" class="form-control" id="" value="" placeholder="" ng-model="user.fname" name="fname" required>
                        </div>
                        <div class="form-group">
                           <label for="staticEmail">{{language.last_name}}</label>
                           <input type="text" class="form-control" id="" value="" placeholder="" ng-model="user.lname" name="lname" required>
                        </div>
                        <div class="form-group">
                           <label for="staticEmail">{{language.gender}}</label>
                           <select class="form-control" ng-model="user.gender" name="gender"  required>
                              <option value="" selected>{{language.please}} {{language.select}} {{language.your}} {{language.gender}}</option>
                              <option value="Male">{{language.male}}</option>
                              <option value="Female">{{language.female}}</option>
                           </select>
                           <span style="color:Red" ng-show="submitted && myaccountForm.gender.$error.required">{{language.this_field_is_required}} </span>
                        </div>
                        <div class="form-group">
                           <label for="staticEmail">{{language.email}}</label>
                           <input type="text" class="form-control" id="" value="" placeholder="christnknight@gmail.com" ng-model="user.email" name="email" readonly required>
                        </div>
                        <div class="form-group">
                           <label for="staticEmail">{{language.country}}</label>
                           <select class="form-control" name="country" ng-model="user.country" ng-change="state(user.country)"  required>
                              <option value="">{{language.please}} {{language.select}} {{language.a}} {{language.country}}</option>
                              <option  ng-repeat="countrylists in countrylist" value="{{countrylists.id}}">{{countrylists.name}}</option>
                           </select>
                           <span style="color:Red" ng-show="submitted && myaccountForm.country.$error.required">{{language.this_field_is_required}} </span>
                        </div>
                        <div class="form-group">
                           <label for="staticEmail">{{language.state}}</label>
                           <select class="form-control" name="state" ng-model="user.state" ng-change="city(user.state)" required>
                              <option value="">{{language.please}} {{language.select}} {{language.a}} {{language.state}}</option>
                              <option  ng-repeat="statelists in statelist" value="{{statelists.id}}">{{statelists.name}}</option>
                           </select>
                           <span style="color:Red" ng-show="submitted && myaccountForm.state.$error.required">{{language.this_field_is_required}}! </span>
                        </div>
                        <div class="form-group">
                           <label for="staticEmail">{{language.mobile_number}}</label>
                           <div class="input-group">
                              <div class="input-group-prepend">
                                 <span class="input-group-text"> + {{phonecode}}</span>
                              </div>
                              <!--<input type="text" class="form-control" id="" ng-blur="openverifymodal(user.phone)" value="" placeholder="Mobile No" ng-model="user.phone" name="phone" ng-pattern="/^[1-9][0-9]*$/" required>-->
                              <input type="text" class="form-control" id="" value="" placeholder="Mobile No" ng-model="user.phone" name="phone" ng-pattern="/^[1-9][0-9]*$/" required>
                           </div>
                           <span style="color:Red" ng-show="submitted && myaccountForm.phone.$error.required">{{language.this_field_is_required}} </span>
                           <span style="color:Red" ng-show="myaccountForm.phone.$dirty && myaccountForm.phone.$error.pattern">{{language.only}} {{language.numbers}} {{language.allowed}} </span>
                        </div>
                        <div class="form-group" tooltips tooltip-template="Contact your bank for the details" tooltip-side="top">
                           <label for="staticEmail">IBAN {{language.number}}</label>
                           <input type="text"   ng-minlength="20" ng-maxlength="34" class="form-control" id="" value="" placeholder="IBAN {{language.number}}" ng-model="user.ibanno" name="ibanno">
                           <!--<span style="color:Red" ng-show="submitted && myaccountForm.ibanno.$error.required">{{language.this_field_is_required}}! </span>-->
                           <!--<span style="color:Red" ng-show="myaccountForm.ibanno.$dirty && myaccountForm.ibanno.$error.pattern">Only Numbers Allowed</span>-->
                           <span style="color:Red"  ng-show="((myaccountForm.ibanno.$error.minlength || myaccountForm.ibanno.$error.maxlength) && myaccountForm.ibanno.$dirty) && !myaccountForm.ibanno.$error.pattern">IBAN No must be between 20-34 digits.</span>
                        </div>
                        <div class="form-group">
                           <label for="staticEmail">{{language.Bank}} {{language.Name}}</label>
                           <input type="text" class="form-control" id="" value="" placeholder="{{language.Bank}} {{language.Name}}" ng-model="user.bankname" name="bankname" >
                           
                        </div>
                        <div class="form-group">
                           <label for="staticEmail">{{language.preferred}} {{language.language}}</label>
                           <select class="form-control" ng-model="user.language_preference" name="language_preference" required>
                              <option value="" selected>{{language.please}} {{language.select}} {{language.your}} {{language.language}}</option>
                              <option value="Arabic">Arabic</option>
                              <option value="English">English</option>
                           </select>
                           <span style="color:Red" ng-show="submitted && myaccountForm.language_preference.$error.required">{{language.this_field_is_required}} </span>
                        </div>
                        <div class="form-group">
                           <label for="staticEmail">{{language.Preferred_Country}}</label>
                           <select class="form-control" name="country_preference" ng-model="user.country_preference" required>
                              <option value="">{{language.please}} {{language.select}} {{language.preferred}} {{language.country}}</option>
                              <option  ng-repeat="countrylists in countrylist" value="{{countrylists.id}}">{{countrylists.name}}</option>
                           </select>
                           <span style="color:Red" ng-show="submitted && myaccountForm.country_preference.$error.required">{{language.this_field_is_required}} </span>
                        </div>
                        <!--                                <div class="form-group">
                           <label for="staticEmail">{{language.preferred}} {{language.currency}}</label>
                           <select class="form-control" name="currency_preference" ng-model="user.currency_preference"  required>
                               <option value="">{{language.please}} {{language.select}} {{language.preferred}} {{language.currency}}</option>   
                               <option  ng-repeat="currencylists in currencylist" value="{{currencylists.code}}">{{currencylists.code}}</option>
                           </select>
                           <span style="color:Red" ng-show="submitted && myaccountForm.currency_preference.$error.required">{{language.please}} {{language.Choose}} {{language.currency}}</span>
                           </div>-->
                           <div class="form-group relative">
                           <label class="ng-binding">{{language.Preferred_Currency }}<span class="disclaimer" tooltips tooltip-template="These are approx conversions as taken from 'currencyconverterapi.com'" tooltip-side="top">?</span></label>

                           <p for="staticEmail" class="adprod dropdown-toggle ng-binding currency"  data-toggle="dropdown">
                           {{selectedcurrencies}} <img  src="https://thegmt24.com/app/assets/images/{{image}}" alt=""></p>
                           <div class="dropdown-menu countru-menu flag-menu">
                              <div>
                                 
                                <a href="javascript:void(0)" ng-click="selectedcurrency('{{currencylists.code}}','{{currencylists.image}}')" ng-repeat="currencylists in currencylist">
                                    <span class="ng-binding d-inline">{{currencylists.code}}</span>
                                  
                                    <img src="https://thegmt24.com/app/assets/images/{{currencylists.image}}" alt="">
                                   
                                 </a>
<!--                                 <a ng-click="selectedcurrency('KWD')" href="javascript:void(0)">
                                    <span class="ng-binding d-inline">KWD</span>
                                   
                                    <img src="http://178.62.61.183/app/assets/images/kwd.jpg" alt="">
                                   
                                 </a>
                                 <a ng-click="selectedcurrency('AED')" href="javascript:void(0)">
                                    <span class="ng-binding">AED</span>
                                   
                                       <img src="http://178.62.61.183/app/assets/images/uae.jpg" alt="">
                                    
                                 </a>
                                 <a ng-click="selectedcurrency('OMR')" href="javascript:void(0)">
                                    <span class="ng-binding">OMR</span>
                                    
                                       <img src="http://178.62.61.183/app/assets/images/omr.jpg" alt="">
                                    
                                 </a>
                                 <a ng-click="selectedcurrency('QAR')" href="javascript:void(0)">
                                    <span class="ng-binding">QAR</span>
                                    
                                       <img src="http://178.62.61.183/app/assets/images/qar.jpg" alt="">
                                    
                                 </a>
                                 <a ng-click="selectedcurrency('SAR')" href="javascript:void(0)">
                                    <span class="ng-binding">SAR</span>
                                   
                                       <img src="http://178.62.61.183/app/assets/images/sar.jpg" alt="">
                                    
                                 </a>
                                 <a ng-click="selectedcurrency('BHD')" href="javascript:void(0)">
                                    <span class="ng-binding">BHD</span>
                                  
                                       <img src="http://178.62.61.183/app/assets/images/bhd.jpg" alt="">
                                    
                                 </a>
                                 <a ng-click="selectedcurrency('USD')" href="javascript:void(0)">
                                    <span class="ng-binding">USD</span>
                                    
                                       <img src="http://178.62.61.183/app/assets/images/usd.jpg" alt="">
                                    
                                 </a>
                                 <a ng-click="selectedcurrency('EUR')" href="javascript:void(0)">
                                    <span class="ng-binding">EUR</span>
                                    
                                       <img src="http://178.62.61.183/app/assets/images/euro.png" alt="">
                                    
                                 </a>
                                 <a ng-click="selectedcurrency('GBP')" href="javascript:void(0)">
                                    <span class="ng-binding">GBP</span>
                                    
                                       <img src="http://178.62.61.183/app/assets/images/en.gif" alt="">     
                                   
                                 </a>-->
                              </div>
                           </div>
                        </div>

                        <div>
                           <div class="form-group">
                              <label for="staticEmail">{{language.Civil_ID_Attachment}}</label>
                              <div class="btn btn-primary" accept="image/*" ngf-keep="true"  ngf-select ng-model="user.image"  ngf-multiple="true" name="image" ngf-fix-orientation="true">{{language.add}} {{language.photos}}
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-sm-3" ng-repeat="f in user.image">
                                    <!--                                                {{f.name}} 
                                       <i ng-click="f = null" ng-show="f" class="fa fa-times" aria-hidden="true"></i> 
                                        <img ng-show="myForm.location.files.$valid" ngf-thumbnail="f" class="thumbnail img-responsive" style="height: 150px;"> -->
                                    <a ng-if="f" class="deleteHandle" ng-click="deleteFile($index, f)">
                                       <i class="fa fa-close new-close"></i>
                                       <!-- {{f.name}} -->
                                    </a>
                                    <img ng-if="f" width="100%" height="90" ng-show="myaccountForm.user.image.$valid" ngf-thumbnail="f" ngf-resize="{width: 100, height: 100}" class="thumbnail">
                                    <!--<video style="width: 150px; height: 100px;" controls ngf-src="f" ng-show="myForm.location.files.$valid" class="thumbnail"></video>-->
                                 </div>
                              </div>
                              <span id="imageeerror" style="color:Red" ng-if="imageserror==1" >{{language.Can_Upload_Only_Two_Images}}</span>
                           </div>
                        </div>
<!--                        <div class="form-group">
                           <div id="dvMap" style="width: 500px; height: 500px">
                           </div>
                        </div>
                        <div class="form-group">
                           <label for="staticEmail">{{language.location}}</label>
                           <p class="" id="addressshow">{{language.Choose_your_location}} </p>
                           <input type="hidden" class="form-control" id="address" value="" placeholder=""  ng-model="user.address"
                              name="address"  readonly>
                          
                        </div>-->
                        <div class="form-group map-search">
                            <input id="pac-input" class="controls" type="text" placeholder="Search Box" style="display:none">

                           <div id="dvMap" style="width: 500px; height: 500px"></div>
                        </div>
                        <div class="form-group">
                           <label for="staticEmail">{{language.location}}</label>
                           <p class="" id="addressshow">{{user.address}} </p>
                           <input type="hidden" class="form-control" id="address"  ng-model="user.address" name="address" readonly> 
                        </div>
                        <input type="hidden"  id="lat" ng-model="user.my_latitude" name="my_latitude" >
                        <input type="hidden"  id="long" ng-model="user.my_longitude" name="my_longitude" >                                                  
                        <!--<input type="hidden" id="address" value="" placeholder="" ng-model="user.address" name="address" >-->                                                  
                        <!--                                                                <div class="form-group">
                           <label for="staticEmail">Civil ID Attachment1</label>
                           <div class="btn btn-default" ngf-select ng-model="user.civilid1" name="civilid1" ngf-pattern="'image/*'"
                           ngf-accept="'image/*'"  ngf-min-height="100"  required>Browse</div>
                           <span style="color:Red" ng-if="myaccountForm.movement.$error.required && !user.image" >Upload Image with Minimum Height:420 And Minimum Width:420</span>
                           
                           <img class="thumbnail_upload_img" ngf-thumbnail="user.civilid1"  style="width:50px;height:50px;">
                           </div>
                           <div class="form-group">
                           <label for="staticEmail">Civil ID Attachment2</label>
                           <div class="btn btn-default" ngf-select ng-model="user.civilid2" name="civilid2" ngf-pattern="'image/*'"
                           ngf-accept="'image/*'"  ngf-min-height="100"  required>Browse</div>
                           <span style="color:Red" ng-if="myaccountForm.movement.$error.required && !user.image" >Upload Image with Minimum Height:420 And Minimum Width:420</span>
                           
                           <img class="thumbnail_upload_img" ngf-thumbnail="user.civilid2"  style="width:50px;height:50px;">
                           </div>       -->
                        <!------------------------------->
                        <button class="btn btn-primary" ng-click="submitted = true">{{language.save_changes}}</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<div id="check_otp" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <form class="modal-content animate" ng-submit="verifyotp(mobileno)">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <!-- <button type="button" class="close" data-dismiss="modal">&times;</button>-->
               <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
               <!--                    <h5>Please Enter Your OTP Below</h5>   
                  <input type="text" class="input-field"  name="password" value="2" ng-model="pass.password" capitalize required>-->
               <h5>Your Mobile Number</h5>
               <input type="text" class="input-field" name="password" value="2" ng-model="mobileno.mobile" capitalize required>                    
               <p ng-if="error" style="color:red" capitalize> {{error}}</p>
               <hr>
               <!--                    <h5>Confirm Your Mobile Number</h5>   
                  <i ng-click="verifyotp(pass.phone)" class="fa fa-check"></i>-->
               <hr>
               <div>
                  <div>
                     <input type="submit" value="Confirm" >
                     <!--<button ng-click="verifyotp(pass.phone)" type="button">Confirm</button>-->
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
         </div>
      </form>
   </div>
</div>
<div id="check_otp1" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <form class="modal-content animate" ng-submit="check_otp(pass)">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <!-- <button type="button" class="close" data-dismiss="modal">&times;</button>-->
               <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
               <h5>Please Enter Your OTP Below</h5>
               <input type="text" class="input-field"  name="password" value="2" ng-model="pass.password" capitalize required>
               <!--<input type="text" class="input-field"  name="password" value="2" ng-model="pass.mobile" capitalize required>                    <p ng-if="error" style="color:red" capitalize> {{error}}</p>-->
               <hr>
               <div>
                  <div>
                     <input type="submit" value="Continue" >
                     <button ng-click="resendotp()" type="button">Resend</button>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
         </div>
      </form>
   </div>
</div>
<style>
   .fa{
   position: absolute;
   left: 18%;
   top: 3%;
   }
</style>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyA9TtgcmRWCs9APKw2Sh4W5gujBJVOYaPo&callback=initMap&libraries=places"
   async defer></script>
<!--<script>
   function initMap() {
       if (navigator.geolocation) {
           navigator.geolocation.getCurrentPosition(showPosition);
       } else {
           x.innerHTML = "Geolocation is not supported by this browser.";
       }
   }
   
   
   function showPosition(position) {
       var myLatLng = {lat: position.coords.latitude, lng: position.coords.longitude};
   
       $('#lat').val(position.coords.latitude);
       $('#long').val(position.coords.longitude);
       //$('#address').val(address);
   
   
       var map = new google.maps.Map(document.getElementById('dvMap'), {
           zoom: 17,
           center: myLatLng
       });
   
       var marker = new google.maps.Marker({
           position: myLatLng,
           map: map,
           title: address,
           draggable: true,
       });
   
   
       google.maps.event.addListener(marker, 'dragend', function ()
       {
           geocodePosition(marker.getPosition());
       });
   
       function geocodePosition(pos)
       {
           var lat, lng, address;
           geocoder = new google.maps.Geocoder();
           geocoder.geocode
                   ({
                       latLng: pos
                   },
                   function (results, status)
                   {
                       if (status == google.maps.GeocoderStatus.OK)
                       {
                           lat = pos.lat();
                           lng = pos.lng();
                           address = results[0].formatted_address;
                           //alert("Latitude: " + lat + "\nLongitude: " + lng + "\nAddress: " + address);
                           $('#lat').val(lat);
                           $('#long').val(lng);
                           $('#address').val(address);
                           $("#addressshow").html(address);
                       }
                       else
                       {
                           $("#mapErrorMsg").html('Cannot determine address at this location.' + status).show(100);
                       }
                   }
                   );
       }
   
   
   }
   
   
</script>-->
<script>
      // This example adds a search box to a map, using the Google Place Autocomplete
      // feature. People can enter geographical searches. The search box will return a
      // pick list containing a mix of places and predicted search terms.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">


      function initMap() {
     if (navigator.geolocation) {
       navigator.geolocation.getCurrentPosition(showPosition);
     } else {
       x.innerHTML = "Geolocation is not supported by this browser.";
     }
   }




      function showPosition(position) {
//        var map = new google.maps.Map(document.getElementById('dvMap'), {
//          center: {lat: -33.8688, lng: 151.2195},
//          zoom: 13,
//          mapTypeId: 'roadmap'
//        });
        
        var myLatLng = { lat: position.coords.latitude, lng: position.coords.longitude };
   
     $('#lat').val(position.coords.latitude);
     $('#long').val(position.coords.longitude);
   console.log('spandan',position);
   
     var map = new google.maps.Map(document.getElementById('dvMap'), {
       zoom: 13,
       center: myLatLng,
       mapTypeId: 'roadmap'
     });
        // Create the search box and link it to the UI element.
        
        var input = document.getElementById('pac-input');
        //alert(input);
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            
                 //==========================
          if(place.geometry.location){       
                //alert('1') ;
          var marker = new google.maps.Marker({
                position: place.geometry.location,
                map: map,
                title: place.name,
                draggable: true,
              });
   
   
   
             /*$('#lat').val(lat);
             $('#long').val(lng);
             $('#address').val(address);
             */
            $('#address').val(place.formatted_address);
             $("#addressshow").html(place.formatted_address);
            google.maps.event.addListener(marker, 'dragend', function () {
              geocodePosition(marker.getPosition());
            });
            //================
        }else{
            //alert('2');
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: place.name,
                draggable: true,
              });
   
   
            google.maps.event.addListener(marker, 'dragend', function () {
              geocodePosition(marker.getPosition());
            });
            
        } 
            
             function geocodePosition(pos) {
       var lat, lng, address;
       geocoder = new google.maps.Geocoder();
       geocoder.geocode
         ({
           latLng: pos
         },
         function (results, status) {
           if (status == google.maps.GeocoderStatus.OK) {
             lat = pos.lat();
             lng = pos.lng();
             address = results[0].formatted_address;
             //alert("Latitude: " + lat + "\nLongitude: " + lng + "\nAddress: " + address);
             $('#lat').val(lat);
             $('#long').val(lng);
             $('#address').val(address);
             $("#addressshow").html(address);
           }
           else {
             $("#mapErrorMsg").html('Cannot determine address at this location.' + status).show(100);
           }
         }
         );
     }
            
            
            


            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });
      }
setTimeout(function(){  $("#pac-input").css("display", "block"); }, 3000);
    </script>
<script>
   $("ul.status-watch").on("click", ".init", function () {
       $(this).closest("ul.status-watch").children('li:not(.init)').toggle();
   });
   
   var allOptions = $("ul.status-watch").children('li:not(.init)');
   $("ul.status-watch").on("click", "li:not(.init)", function () {
       allOptions.removeClass('selected');
       $(this).addClass('selected');
       $("ul.status-watch").children('.init').html($(this).html());
       allOptions.toggle();
   });    
   
   
</script>