
	<section class="innerbody" ng-init="myauction()">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4" data-ng-include=" 'app/views/partials/sidebar.html' " ></div>
				<div class="col-lg-9 col-md-8">
					<h5 class="common-title p-3 mb-0">{{language.my_auction}}</h5>
					<div class="edit-pro p-3 w-100 float-left">
						<ul class="wish-list">
							<li class="p-3 ng-scope col-md-4 float-left ml-1 new-auodiv" ng-repeat="ProductList in productLists">
								<div class="wishlist-image w-100 float-left">
									 <a href="#/auctionDetails/{{ProductList.product_id}}"><img src="{{ProductList.image}}" alt="" class="img-fluid"></a>
								</div>
								<div class="wishlist-content w-100 float-left">
									<!--<h6>{{ProductList.productname}} <span><i class=""></i></span></h6>-->
									<p class="mb-1">{{ProductList.description}}</p>
									<b class="d-block mb-2">{{selectedCurr}} {{ProductList.price}}</b>
									<!--<p><button type="button" class="btn btn-primary"><i class="ion-android-cart"></i> Buy It</button>-->
                                                                        <div class="row mx-sm-0">
                                                                            <div class="col-sm-12" ng-if="ProductList.approved == 0">
									<button type="button" ng-click="deleteProduct(ProductList.id)" class="btn btn-primary btn-dark"><i class="ion-trash-a"></i> {{language.delete}}</button>
                                                                            </div>
                                                                             <div class="col-sm-6" ng-if="ProductList.approved == 1">
									<button type="button" ng-click="deleteProduct(ProductList.id)" class="btn btn-primary btn-dark"><i class="ion-trash-a"></i> {{language.delete}}</button>
                                                                            </div><br>
                                                                            
                                                                             <div class="col-sm-12" ng-if="ProductList.approved == 0">
                                                                <button type="button"  disabled="disabled" class="btn btn-primary btn-dark"> {{language.Awaiting_Admin_Approval}}</button>
                                                                            </div>
                                                                           
                                                                            <div class="col-sm-12" ng-if="(ProductList.approved ==0 || ProductList.status==0) && ProductList.auction_fee_paid == 1">
                                                                            <p><div class="row">
                                                                            <div class="col-md-6">    
                                                                                <button type="button" class="btn btn-primary btn-dark" disabled="disabled"> {{language.Awaiting_Admin_Approval}}</button>
                                                                            </div>
                                                                                
                                                                            </div>
                                                                        
                                                                        
                                                                        </div>
                                                                            
                                                                        
                                                                            <div class="col-sm-6" ng-if="ProductList.auction_fee_paid == 0 && ProductList.approved == 1">
                                                                <button type="button" ng-click="auctionFeesPayment(ProductList.id)" class="btn btn-primary btn-dark"> {{language.pay_now}}</button>
                                                                            </div>
                                                                            
                                                                            
                                                                            
                                                                             
                                                                            
                                                                            
                                                                            
                                                                        </div>
								</div>
							</li>
							<!--<li class="p-3 d-flex">
								<div class="wishlist-image mr-3">
									<img src="images/watch.jpg" alt="">
								</div>
								<div class="wishlist-content">
									<h6>Rolex Cosmograph Daytona <span><i class="ion-heart"></i></span></h6>
									<p class="mb-1">Lorem Ipsum is simply dumy text of the  watch printing and typeseing industry. Lorem Ipsum
is simply dumy text of the  watch printing and typesetting industry.</p>
									<b class="d-block mb-2">$ 27.25</b>
									<p><button type="button" class="btn btn-primary"><i class="ion-android-cart"></i> Buy It</button>
									<button type="button" class="btn btn-primary btn-dark"><i class="ion-trash-a"></i> {{language.delete}}</button></p>
								</div>
							</li>-->
						</ul>
                        <h4 style="text-align: center;" ng-if="exists==0">{{language.no_records_found}}</h4>
					</div>
				</div>
			</div>
		</div>
	</section>

<script>
   var clock;
   $(".gg").click(function () {
       var clock;
       
       var   endtime= $(".auction_end_time").val();
       //alert(endtime);
       clock = $('.clock').FlipClock(endtime,{
           //clockFace: 'DailyCounter',
           autoStart: false,
           callbacks: {
               stop: function () {

                   //demo();
                   //$("#myModal").hide();
                  // angular.element(document.getElementById('divID')).scope().TestAngularMethod();
                   $('.message').html('The clock has stopped!')
               }
           }
       });
      // clock.setTime(endtime);
       clock.setCountdown(true);
       clock.start();
   });
   
</script>	