
<section class="innerbody" ng-init="myloyalty()">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4" data-ng-include=" 'app/views/partials/sidebar.html'" ></div>
            <div class="col-lg-9 col-md-8">
                <h5 class="common-title p-3 mb-0">{{language.my}} {{language.loyalty}}</h5>
                <div class="edit-pro p-3 w-100 float-left">
                    <ul class="wish-list">
                        <li class="p-3 ng-scope col-md-4 float-left ml-1">
                            <div class="wishlist-image w-100 float-left">
                                <a href="#"><img src="{{sidebar_image}}" alt="" class="img-fluid"></a>
                            </div>
                            <div class="wishlist-content w-100 float-left">

                                <b class="d-block mb-2">{{language.total}} {{language.loyalty}}: {{totalloyalty}}</b>

                                <div>
                                    <p><div class="row mx-sm-0">
                                        <div class="col-md-6">    
                                            <button type="button" ng-click="loyaltydetails()" class="btn btn-primary btn-dark"><i class="ion-attach"></i> {{language.view}} {{language.details}}</button>
                                        </div>

                                    </div></p>

                                </div> 



                            </div>
                        </li>

                    </ul>
                    <!--<h4 style="text-align: center;" ng-if="exists == 0">No Records Found.</h4>-->
                </div>
            </div>
        </div>
    </div>
</section>

