
	<section class="innerbody" ng-init="myproduct()">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4" data-ng-include=" 'app/views/partials/sidebar.html' " ></div>
				<div class="col-lg-9 col-md-8">
					<h5 class="common-title p-3 mb-0">{{language.my_product}} </h5>
					<div class="edit-pro p-3 w-100 float-left">
						<ul class="wish-list">
							<li class="p-3 ng-scope col-md-4 float-left ml-1 new-prodiv" ng-repeat="ProductList in productLists">
								<div class="wishlist-image w-100 float-left">
                                                                    <div class="top-product" ng-if="ProductList.top_product!= 0"><img src="app/assets/images/top.png" alt="" /></div>
									  <a href="#/productDetails/{{ProductList.product_id}}"><img src="{{ProductList.image}}" alt="" class="img-fluid"></a>
								</div>
								<div class="wishlist-content w-100 float-left">
									<!--<h6>{{ProductList.productname}} <span><i class=""></i></span></h6>-->
									<p class="mb-1">{{ProductList.description}}</p>
									<b class="d-block mb-2">{{usersSelectedCurrency}} {{ProductList.price}}</b>
                                                                        <b ng-if="ProductList.approved==1 && ProductList.live_status==1" class="d-block mb-2">{{language.Expired_On}}: {{ProductList.expiry_date}}</b>
									<!--<p><button type="button" class="btn btn-primary"><i class="ion-android-cart"></i> Buy It</button>-->
                                                                        
                                                                        
                                                                        
                                                                        <!--for complete product-->
                                                                        
                                                                        
									<div ng-if="ProductList.approved==1 && ProductList.live_status==1">
                                                                            
                                                                        
                                                                        <p>
                                                                            <button ng-if="ProductList.product_status!= 1" type="button" ng-click="sendforauction(ProductList.id)" class="btn btn-primary btn-dark">{{language.send_for_auction}} </button>
                                                                        </p>
                                                                        <p ng-if="ProductList.product_status== 0">
                                                                        <button type="button" ng-click="marksold(ProductList.id)" class="btn btn-primary btn-dark">{{language.mark_as_sold}}</button>
                                                                        </p>
                                                                        
                                                                        <p ng-if="ProductList.product_status== 1">
                                                                            <button type="button" disabled="" class="btn btn-primary btn-dark"> {{language.sold}}</button>
                                                                        </p>
                                                                        
                                                                        <p ng-if="ProductList.top_product==0 && ProductList.product_status !=1">
                                                                        <button type="button" ng-click="marktop(ProductList.id)" class="btn btn-primary btn-dark">{{language.mark_as_top}}</button>
                                                                        </p>
                                                                        
                                                                        <p><div class="row mx-sm-0">
                                                                            <div class="col-md-6 pl-0">    
                                                                                <button type="button" ng-click="deleteProduct(ProductList.id)" class="btn btn-primary btn-dark">{{language.delete}}</button>
                                                                            </div>
<!--                                                                                <div class="col-md-6"> 
                                                                                    <a href='#/addProduct/{{ProductList.id}}' class="btn btn-primary btn-dark"><i class="ion-creat-outline"></i> Edit</a>
                                                                                </div>-->
                                                                            </div>
                                                                        </p>
                                                                        </div>
                                                                        
                                                                        
                                                                        
                                                                       
                                                                        
                                                                        
                                                                      <!--for payment pending -->  
                                                                        
                                                                       <div ng-if="ProductList.live_status== 0 && current_user_type== 1">
                                                                            <p><div class="row mx-sm-0">
                                                                            <div class="col-md-6 mb-1">    
                                                                                <button type="button" ng-click="pay(ProductList.id)" class="btn btn-primary btn-dark"><i class="ion-attach"></i> {{language.pay_now}}</button>
                                                                            </div>
                                                                                <div class="col-md-6 mb-1">    
                                                                                <button type="button" ng-click="deleteProductpermanently(ProductList.id)" class="btn btn-primary btn-dark">{{language.delete}}</button>
                                                                            </div>
                                                                                
                                                                            </div></p>
                                                                        
                                                                        </div> 
                                                                        
                                                                        <!--approval awaiting product-->
                                                                        
                                                                        <div ng-if="ProductList.approved==0 && ProductList.live_status== 1">
                                                                            <p><div class="row mx-sm-0">
                                                                            <div class="col-md-6 mb-1">    
                                                                                <button type="button" class="btn btn-primary btn-dark" disabled="disabled"> {{language.Awaiting_Admin_Approval}}</button>
                                                                            </div>
                                                                                
                                                                            </div></p>
                                                                        
                                                                        <div class="col-md-6 mb-1">    
                                                                                <button ng-if="current_user_type== 2" type="button"  ng-click="deleteProductpermanently(ProductList.id)" class="btn btn-primary btn-dark">{{language.delete}}</button>
                                                                            </div>
                                                                        
                                                                        
                                                                        
                                                                        </div>
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
								</div>
							</li>
							<!--<li class="p-3 d-flex">
								<div class="wishlist-image mr-3">
									<img src="images/watch.jpg" alt="">
								</div>
								<div class="wishlist-content">
									<h6>Rolex Cosmograph Daytona <span><i class="ion-heart"></i></span></h6>
									<p class="mb-1">Lorem Ipsum is simply dumy text of the  watch printing and typeseing industry. Lorem Ipsum
is simply dumy text of the  watch printing and typesetting industry.</p>
									<b class="d-block mb-2">$ 27.25</b>
									<p><button type="button" class="btn btn-primary"><i class="ion-android-cart"></i> Buy It</button>
									<button type="button" class="btn btn-primary btn-dark"><i class="ion-trash-a"></i> Delete</button></p>
								</div>
							</li>-->
						</ul>
                        <h4 style="text-align: center;" ng-if="exists==0">{{language.no_records_found}}</h4>
					</div>
				</div>
			</div>
		</div>
	</section>

	