
	<section class="innerbody">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4" data-ng-include=" 'app/views/partials/sidebar.html' " ></div>
				<div class="col-lg-9 col-md-8">
					<h5 class="common-title p-3 mb-0">{{language.notification_settings}}</h5>
					<div class="edit-pro p-3">
						<div class="row">
							<div class="col-lg-7 col-md-12">
								<form name="addProductForm" ng-submit="notificationsetting(user2)" novalidate>
                                    
<!--                                    <div class="form-group" ng-if="user2.type=='2'">
										<label for="staticEmail" > {{language.Notify}} me {{language.when}} my product is sold</label><br>
							
			              		<input type="radio" class="input-field"  name="sale_notify" value="1" ng-model="user2.sale_notify">
			              		<span>Yes</span>
			              		<input type="radio" class="input-field"  name="sale_notify" value="0" ng-model="user2.sale_notify">
			              		<span>No</span>
			              		
			              		<span class="icon"></span>
									</div>-->

									 <div class="form-group">
										<label for="staticEmail">{{language.When_I_receive_a_new_message}}</label><br>

			              		<input type="radio" class="input-field"  name="new_message_notify" value="1" ng-model="user2.new_message_notify">
			              		<span>{{language.Yes}}</span>
			              		<input type="radio" class="input-field"  name="new_message_notify" value="0" ng-model="user2.new_message_notify">
			              		<span>{{language.No}}</span>
			              		
			              		<span class="icon"></span>
									</div>
                                                                        
                                                                        <div class="form-group">
										<label for="staticEmail">{{language.notify_me_when_my_product_is_approved_or_added}}</label><br>

			              		<input type="radio" class="input-field"  name="add_product_notify" value="1" ng-model="user2.add_product_notify">
			              		<span>{{language.Yes}}</span>
			              		<input type="radio" class="input-field"  name="add_product_notify" value="0" ng-model="user2.add_product_notify">
			              		<span>{{language.No}}</span>
			              		
			              		<span class="icon"></span>
									</div>

                                                                        <div class="form-group">
										<label for="staticEmail">{{language.notify_me_when_my_auction_is_approved_or_added}}</label><br>

			              		<input type="radio" class="input-field"  name="auction_notify" value="1" ng-model="user2.auction_notify">
			              		<span>{{language.Yes}}</span>
			              		<input type="radio" class="input-field"  name="auction_notify" value="0" ng-model="user2.auction_notify">
			              		<span>{{language.No}}</span>
			              		
			              		<span class="icon"></span>
									</div>

									 <div class="form-group">
										<label for="staticEmail">{{language.Notify_me_When_my_product_has_been_reviewed}} </label><br>
			              		<input type="radio" class="input-field"  name="review_notify" value="1" ng-model="user2.review_notify">
			              		<span>{{language.Yes}}</span>
			              		<input type="radio" class="input-field"  name="review_notify" value="0" ng-model="user2.review_notify">
			              		<span>{{language.No}}</span>
			              		
			              		<span class="icon"></span>
									</div>

<!--									 <div class="form-group" ng-if="user2.type=='2'">
										<label for="staticEmail">{{language.Notify}} me {{language.when}} my subscription ends</label><br>
			              		<input type="radio" class="input-field"  name="subscription_notify" value="1" ng-model="user2.subscription_notify">
			              		<span>Yes</span>
			              		<input type="radio" class="input-field"  name="subscription_notify" value="0" ng-model="user2.subscription_notify">
			              		<span>No</span>
			              		
			              		<span class="icon"></span>
									</div>-->

                                                                  
									
									<button class="btn btn-primary">{{language.Save_Changes}}</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		