<style>
    .ovr {
        text-decoration: line-through;
    }    
</style>
<section class="innerbody" ng-init="packagedetails()">
    <div class="container">
        <div class="row">
            <!--				<div class="col-lg-3 col-md-4" data-ng-include=" 'app/views/partials/sidebar.html' " ></div>-->
            <div class="col-lg-4 col-md-12" ></div>
            <div class="col-lg-4 col-md-12">
                <h5 class="common-title p-3 mb-0">Customer Details</h5>
                <div class="edit-pro p-3">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <form name="addPaymentForm" ng-submit="addPaymentForm.$valid && addPayment(value)"  novalidate>




                                <div class="form-group">
                                    <label for="staticEmail"> Name*</label>
                                    <input type="text" class="form-control"  name="name" ng-model="value.name" required>
                                    <span style="color:Red" ng-show="submitted && addPaymentForm.name.$error.required">{{language.this_field_is_required}}! </span>
                                </div>
                                <div class="form-group">
                                    <label for="staticEmail"> Email*</label>
                                    <input type="email" class="form-control"  name="email"  ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-model="value.email" required>
                                    <span style="color:Red" ng-show="addPaymentForm.email.$dirty && addPaymentForm.email.$error.pattern">{{language.enter}} {{language.valid}} {{language.email_address}}</span>
                                    <span style="color:Red" ng-show="submitted && addPaymentForm.email.$error.required">{{language.this_field_is_required}}! </span>

                                </div>

                                <div class="form-group">
                                    <label for="staticEmail"> Mobile Number*</label>
                                    <input type="text" class="form-control"   name="phone" ng-pattern="/^[0-9]{0,10}?$/" ng-model="value.phone" required>
                                    <span style="color:Red" ng-show="addPaymentForm.phone.$dirty && addPaymentForm.phone.$error.pattern">{{language.only}} {{language.numbers}} {{language.allowed}}</span>
                                    <span style="color:Red" ng-show="submitted && addPaymentForm.phone.$error.required">{{language.this_field_is_required}}! </span>
                                </div>

                                 <div>
                                   
                                    Pay Amount: {{package.price}}
                                
                                </div><br>



                                <button class="btn btn-primary" ng-click="submitted = true">Process payment</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12" ></div>
        </div>
    </div>
</section>
