
	<section class="innerbody" ng-init="allsubscriptions()">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4" data-ng-include=" 'app/views/partials/sidebar.html' " ></div>
				<div class="col-lg-9 col-md-8">
					<h5 class="common-title p-3 mb-0">{{language.Purchased}} {{language.subscriptions}}</h5>
					<div class="edit-pro p-3 w-100 float-left">
						<ul class="wish-list">
							<li class="p-3 ng-scope col-md-4 float-left ml-1" ng-repeat="subscription in subscriptionLists">
								<div class="wishlist-content w-100 float-left">
									<h6>{{language.Name}}: {{subscription.name}} <span><i class=""></i></span></h6>
									<b class="d-block mb-2">{{language.price}}{{subscription.prefered_currency}} {{subscription.price}}</b>
									<b class="d-block mb-2">{{language.Slots}}: {{subscription.slots}}</b>
									<b class="d-block mb-2">{{language.Duration}}: {{subscription.duration}}  {{language.Days}}</b>
<!--									<p><button type="button" class="btn btn-primary" ng-click="purchase(subscription.id)"> Purchase</button></p>-->
                                                                        
                                                                        <p><button type="button" class="btn btn-primary" ng-click="payment(subscription.id)"> {{language.Purchased}}</button> <b class="blink" ng-if="subscription.type == 'O'">{{language.offers}}</b></p> 
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
									<!-- <span ng-if="new_subscriber=='0'">
									<p><button type="button" class="btn btn-primary" ng-click="purchase(subscription.id)"> Purchase</button></span></p> -->
									<!-- <span ng-if="new_subscriber=='1' && subscription_id=='subscription.id'">
									<p><button type="button" class="btn btn-primary"> Purchased</button></span></p> -->
									<!-- <span ng-if="new_subscriber=='1' && subscription_id!='subscription.id'">
									<p><button type="button" class="btn btn-primary" ng-disabled="button"> Purchase</button></span> -->
								</div>
							</li>
						</ul>
                        <h4 style="text-align: center;" ng-if="exists==0">{{language.no_records_found}}.</h4>
					</div>
				</div>
			</div>
		</div>
	</section>

	