
	<section class="innerbody">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4" data-ng-include=" 'app/views/partials/sidebar.html' " ></div>
				<div class="col-lg-9 col-md-8">
					<h5 class="common-title p-3 mb-0">{{language.send_for_auction}}</h5>
					<div class="edit-pro p-3">
						<div class="row">
							<div class="col-lg-7 col-md-12">
								<form name="processforauctionfrom" ng-submit="processforauctionfrom.$valid && processforauction(user2)" novalidate>
                                                                    
                                                                    
                                                                    
<!--                                                                    <div class="form-group">
										<label for="staticEmail">{{language.bracelet}} {{language.type}}</label>-->
<!--										<select class="form-control" name="breslet_type" ng-model="user2.breslet_type" required>
											<option  value="">Please Select</option>  
                                                                                        
                                                                                       <option   value="M">{{language.metal}}</option>  
                                                                                        <option   value="L">{{language.leather}}</option>  
										</select>-->
                                                                                
<!--                                                                                 <select class="form-control" name="breslet_type" ng-model="user2.breslet_type" required>
                                                                                    <option  value=""> {{language.please}} {{language.select}}</option>  

                                                                                    <option ng-repeat="braceletlists in braceletlist" value="{{braceletlists.id}}">{{braceletlists.type}}</option>  

                                                                                </select>
                                                                                
                                                                                <span style="color:Red" ng-show="submitted && processforauctionfrom.breslet_type.$error.required"> Please Choose A Bracelet Type </span>
									</div>-->

<!--									 <div class="form-group">
										<label for="staticEmail"> Auction Threshold Bid</label>
										<input type="text" class="form-control" id="" value="" ng-model="user2.bid" name="bid" required>
									</div>-->
                                                                            

<!--                                                                            <div class="form-group">
										<label for="staticEmail">Model Year</label>
										<select class="form-control" name="model_year" ng-model="user2.model_year"  required>
											<option  value="">Please Select</option>  
                                                                                      <option  ng-repeat="year in YearsList" value="{{year}}">{{year}}</option>    
                                                                                       <option  ng-repeat="subcategorylists in subcategorylist" value="{{subcategorylists.subcat_id}}">{{subcategorylists.name}}</option>  
										</select>
                                                                                <span style="color:Red" ng-show="submitted && processforauctionfrom.model_year.$error.required"> Please Choose A Model Year </span>
									</div>-->
                                                                    
<!--                                    	<div class="form-group">
										<label for="staticEmail">Comments for Admin</label>
                                         <textarea type="text" class="form-control" id=""  ng-model="user2.comments" name="comments" required></textarea>
									</div>-->


										
                                         <input type="hidden" class="form-control" id=""  ng-model="user2.comments" name="comments">


                                            <div class="form-group">
                                           <label for="staticEmail">{{language.auction_date}}* </label>
                                           <!--<input type="text" class="form-control" id="datepicker" value="" placeholder="" ng-model="user2.preferred_date" name="preferred_date" required>-->
                                           <!--<input type="text" class="form-control" ng-model="user2.preferred_date" date="{{listAuctionDtates}}" name="preferred_date" required datepicker />-->
<!--                                                                                <datepicker date-format="yyyy-MM-dd" selector="form-control" ng-click="getAuctionTime(user2.preferred_date)" date-enabled-dates="{{listAuctionDtates}}">-->
                                               <datepicker date-format="yyyy-MM-dd"  selector="form-control" ng-click="getAuctionTime(user2.preferred_date)" date-enabled-dates="{{listAuctionDtates}}">


                                               <input class="form-control"  ng-model="user2.preferred_date" name="preferred_date" required placeholder="Choose a date" readonly/>
                                               <span style="color:Red" ng-show="processforauctionfrom.preferred_date.$touched && processforauctionfrom.preferred_date.$error.required"> Please Choose Auction Date </span>



                                       </datepicker>
                                   </div>

                                   <div>&nbsp;</div>
<!--                                                                        <div class="form-group" ng-if="timeslot" >
										<label for="staticEmail"> {{language.auction_Timing}} </label>
                                                                                <span>
                                                                                <div ng-repeat="time in timeslot" >
                                                                                   
                                                                                 <div ng-if="time.status== 0">   
                                                                                  {{time.start_time}}&nbsp; To &nbsp;{{time.end_time}} &nbsp; <input class="input-field"  type="radio"  id="" value="{{time.id}}" ng-model="user2.time_slot_id" name="time_slot_id"  required>
                                                                                 </div>
                                                                                    <div class="ovr" ng-if="time.status== 1">   
                                                                                  {{time.start_time}}&nbsp; To &nbsp;{{time.end_time}} &nbsp; 
                                                                                 </div>
                                                                                </div>
                                                                                </span>
                                                                                <span style="color:Red" ng-show="submitted && processforauctionfrom.time_slot_id.$touched && processforauctionfrom.time_slot_id.$error.required"> {{language.Please_Choose_A_Time_Slot}} </span>
                                                                                
                                                                                
									</div>-->
                                  <div class="form-group" ng-if="timeslot ">
                                    <label for="staticEmail"> {{language.auction_Timing}} *</label>
                                    <span>
                                       <div ng-repeat="time in timeslot" >

                                          <div ng-if="time.status== 0">   
                                             {{time.start_time}}&nbsp; To &nbsp;{{time.end_time}} &nbsp; <input class="input-field"  type="radio"  id="" value="{{time.id}}" ng-model="user2.time_slot_id" name="time_slot_id"  required>
                                          </div>
                                          <div class="ovr" ng-if="time.status== 1">   
                                             {{time.start_time}}&nbsp; To &nbsp;{{time.end_time}} &nbsp; 
                                          </div>
                                       </div>
                                    </span>
                                    <span ng-if="drpmodel=='2'" style="color:Red" ng-show="addProductForm.time_slot_id.$touched && addProductForm.time_slot_id.$error.required"> {{language.this_field_is_required}}! </span>
                                    <span ng-if="drpmodel=='2'" style="color:Red" ng-show="submitted && addProductForm.time_slot_id.$error.required">{{language.please_Choose_currency}}</span>
                                    <!--<span style="color:Red" ng-show="addProductForm.name.$dirty && addProductForm.name.$error.pattern">Only Letters Allowed</span>-->
                                 </div>
                                                                    
                                <div class="form-group">
                                    <label for="staticEmail">{{language.price}}*</label>
                                    <input type="text" class="form-control" id="" value="" placeholder="" ng-model="user2.price" name="price"  ng-pattern="/^[0-9]{0,6}(\.[0-9]{1,2})?$/" required>
                                    <span style="color:Red" ng-show="submitted && addProductForm.price.$error.required">{{language.this_field_is_required}}! </span>
                                    <span style="color:Red" ng-show="addProductForm.price.$dirty && addProductForm.price.$error.pattern">{{language.only_numbers_allowed}}</span>
                                 </div>                
                                                                    

									
                                                                
									<button class="btn btn-primary" ng-click="submitted=true">Send</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
<style>
   .ovr {
   text-decoration: line-through;
   }    
</style>