<section class="innerbody search-list" ng-init="searchListing();">
		<div class="container">
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="#">{{language.home}}</a></li>
			    <li class="breadcrumb-item active">{{language.watches}}</li>
			  </ol>
			</nav>
<!--			<div class="search-header widte-bg py-3 px-4 mb-3">
				<form class="m-0" ng-submit="normalsearch(formdata)">
				  <div class="form-row align-items-center">
				    <div class="col-sm-4 my-1">
				      <div class="input-group">
				        <div class="input-group-prepend">
				          <div class="input-group-text"><i class="fa fa-user"></i></div>
				        </div>
				        


                                                <select class="custom-select" id="inputGroupSelect01" ng-change="searchListing()" ng-model="gender">
                                                            <option value="" selected="selected">Gender</option>
							    <option value="Male">Male</option>
							    <option value="Female">Female</option>
                                                            <option value="Unisex">Unisex</option>
							    
						  </select>



				      </div>
				    </div>
				    <div class="col-sm-4 my-1">
                                        <select class="form-control"  ng-model="breslettype" ng-change="searchListing()">
        <option  value="">Please Select Bracelet Type</option>  

        <option ng-repeat="braceletlists in braceletlist" value="{{braceletlists.id}}">{{braceletlists.type}}</option>  
        
    </select>
                                        
					    	<select class="custom-select" id="inputGroupSelect01" ng-model="breslettype" ng-change="searchListing()">
							    <option value="" selected="selected">Breslet</option>
							    <option value="L">Leather</option>
							    <option value="M">Metal</option>
							    
						  </select>
					 </div>
				     <div class="col-sm-4 my-1">
				      <div class="input-group">
				        <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
				      </div>
				    </div> 
				     <div class="col-sm-4 my-1">
					    	 <select class="custom-select" ng-change="searchListing()" ng-model='year' ng-options='year for year in YearsList'></select>
                                                 <select class="form-control"  ng-model="year" ng-change="searchListing()">
                                                    <option  value="">Please Select Model Year</option>  

                                                    <option ng-repeat="year in YearsList" value="{{year}}">{{year}}</option>  

                                                </select>
					 </div>
				    <div class="col-sm-1 my-1">
				      <button type="submit" class="btn btn-primary btn-block">Submit</button>
				    </div>
				  
                                
                                
                                
                            <div class="col-sm-3 my-1">
                                        
                                        <datepicker date-format="yyyy-MM-dd" selector="form-control"  date-enabled-dates="{{listAuctionDtates}}">

                                       <input class="form-control" ng-change="searchListing()"  ng-model="preferred_date" name="preferred_date" required placeholder="Choose auction date" readonly/>

                                    </datepicker>
                                </div>
                                
                                
                                </div>
                                
                                
                                
				</form>
			</div>-->
			<div class="row d-flex">
				<div class="col-md-3 header" id="myHeader">
					<div class="filter widte-bg py-3 px-3">
							<div class="d-flex justify-content-between">
								<h3 class="pb-2 my-h3 desktop">{{language.filter_by}}</h3>
								<h3 class="pb-2 my-h3 collapsed mobile" data-toggle="collapse" data-target="#navbarNavDropdown2">{{language.filter_by}}<i class="fa fa-angle-double-down"></i></h3>

                  <select class="filter-box custom-select form-control mx-sm-3 ng-pristine ng-untouched ng-valid ng-not-empty" id="inputGroupSelect01" ng-model="drpmodel" ng-change="cobchange()">
                    <option value="0" class="ng-binding" selected="selected">Relevance</option>
                    <option value="1" class="ng-binding">Price  Low   To   High</option>
                    <option value="2" class="ng-binding">Price  High    To   Low</option>
                    <option value="3" class="ng-binding">Newest</option>
                    <option value="4" class="ng-binding">Popularity</option>
                  </select>
              </div>
                                                
							<div class="toggle-filter navbar-collapse collapse" id="navbarNavDropdown2">                                
									<div class="filter-holder">
										<button class="btn btn-secondary btn-block mb-2 " ng-click="top_productss2()">{{language.Reset_Filters}}</button>
									</div>
                                                
                  <div class="filter-holder">
                                                    <!--<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapseOne4">Simple collapsible</button>-->
											<a class="card-link"  data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne4" href="javascript:void(0)">
												{{language.brands}}
											</a>
											<div id="collapseOne4" class="in collapse " ng-init = "getBrands();">
												<div  ng-repeat="brandlists in brandlist| limitTo: limit">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" ng-model="brandlists.Selected" ng-click="updatecheckbox(brandlists.Selected,brandlists.id)" ng-checked="user.brand.indexOf(brandlists.id)>=0" ng-true-value="'{{brandlists.id.replace('\'', '\\\'')}}'" id="test{{brandlists.id}}">
													<label class="form-check-label" for="test{{brandlists.id}}">
														{{brandlists.name}}
													</label>
												</div>
											</div>
																								<a href ng-click="incrementLimit()">{{language.view_all}}</a>	
																								<a href ng-if="limit >= 10" ng-click="incrementless()">{{language.view_less}}</a>
											</div>
							
									</div>

                  <div class="filter-holder">					    
							<a class="card-link" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseOne41" href="javascript:void(0)">
								{{language.category}}
							</a>
							<div id="collapseOne41" class="in collapse" ng-init = "getcategory();">
								 <div  ng-repeat="category in categorylist| limitTo: limit1">
								<div class="form-check">
								  <input class="form-check-input" type="checkbox" ng-model="category.Selected" ng-click="updatecheckboxcat(category.Selected,category.id)" ng-checked="user.category.indexOf(category.id)>=0" ng-true-value="'{{category.id.replace('\'', '\\\'')}}'" id="test{{category.id}}">
								  <label class="form-check-label" for="test{{category.id}}">
								    {{category.name}}
								  </label>
								</div>
							</div>
                    <a href ng-click="incrementLimit1()">{{language.view_all}}</a>	
                    <a href ng-if="limit1 >= 10" ng-click="incrementless1()">{{language.view_less}}</a>
							</div>
							
					   			</div>
                                                
                  <div class="filter-holder">
                                                
                                                    <a class="card-link" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOnelocation" href="javascript:void(0)">
								{{language.location}}
							</a>
                                                    <div class="in collapse" id="collapseOnelocation" >
                                                <div class="form-group">

                                                                <select class="form-control" name="country" ng-model="user.country" ng-change="state(user.country)"  required>
                                                                   <option value="">{{language.select}} {{language.country}}</option>
                                                                    <option  ng-repeat="countrylists in countrylist" value="{{countrylists.id}}">{{countrylists.name}}</option>
                                                                </select>


                                                            </div>


                                                            <div class="form-group">

                                                                <select class="form-control" name="state" ng-model="user.state" ng-change="city(user.state)"  required>
                                                                    <option value="">{{language.select}} {{language.state}}</option>
                                                                    <option  ng-repeat="statelists in statelist" value="{{statelists.id}}">{{statelists.name}}</option>
                                                                </select> 
                                                            </div>



<!--                                                            <div class="form-group">


                                                                <select class="form-control" name="city_id" ng-change="searchListing()" ng-model='city_id'   required>
                                                                    <option value="">Select city</option>
                                                                    <option  ng-repeat="citylists in citylist" value="{{citylists.id}}">{{citylists.name}}</option>
                                                                </select>  
                                                            </div>-->
                                                
                                                </div>
                  </div>
                                                
                  <div class="filter-holder">					    
							<a class="card-link" data-toggle="collapse" data-parent="#accordiongender" data-target="#collapseOnegender" href="javascript:void(0)">
								{{language.gender}}
							</a>
                                                     <div class="in collapse " id="collapseOnegender" >
							<select class="custom-select" id="inputGroupSelect01" ng-change="searchListing()" ng-model="gender">
                                                            <option value="" selected="selected">{{language.select}} {{language.gender}}</option>
							    <option value="Male">{{language.male}}</option>
							    <option value="Female">{{language.female}}</option>
                                                            <option value="Unisex">{{language.unisex}}</option>
							    
						  </select>
                                                     </div>
							
					   			</div>
                                                
									<div class="filter-holder">					    
										<a class="card-link" data-toggle="collapse" data-parent="#accordion"  data-target="#collapseOneprice" href="javascript:void(0)">
											{{language.price}}
										</a>
																													
																													
																													<hr>
			<!--                                                    <div class="in collapse show" id="collapseOneprice" >
																													<p>{{language.amount_min}}: <span id="min_price">{{amount_min}}</span>
																															<input type="hidden"  ng-model="amount_min" readonly/> </p>
																															<p>{{language.amount_max}}: <span id="max_price">{{amount_max}}</span>
																															<input type="hidden" ng-model="amount_min" readonly/> </p>
					<slider-range min="{{amount_min}}" max="{{amount_max}}" step="10" ng-mouseup="searchListing()" value-min="amount_min" value-max="amount_max"></slider-range>
					<hr>
																													</div>	-->


																													<div class="in collapse" id="collapseOneprice">
																														
																															<p>{{language.amount_min}} :  <span id="min_price">{{selectedCurr}} {{amount_min}}</span></p>
																															<p>{{language.amount_max}} : <span id="max_price">{{selectedCurr}} {{amount_max}}</span></p>
																																<rzslider rz-slider-model="amount_min" rz-slider-high="amount_max" ng-mouseup="searchListing()" rz-slider-options="visSlider.options"></rzslider>

																																<input type="hidden" ng-model="amount_min">
																																<input type="hidden" ng-model="amount_max">
																															</div>
										
									</div>
                                                
                	<div class="filter-holder">					    
										<a class="card-link" data-toggle="collapse" data-parent="#accordiongender" data-target="#collapseOneCondition" href="javascript:void(0)">
											{{language.more}} {{language.filters}}
										</a>
                    <div class="collapse" id="collapseOneCondition" >
											<div class="form-group">
                                                              <a class="card-link" data-toggle="collapse" data-parent="#accordionbracelet" data-target="#collapseOnebracelet" href="javascript:void(0)">
								{{language.bracelet}} {{language.type}}
							</a>
                                                            <div id="collapseOnebracelet" class="in collapse">
                                                         <select class="form-control"  ng-model="breslettype" ng-change="searchListing()">
                                                            <option  value="">{{language.please}} {{language.select}} {{language.bracelet}} {{language.type}}</option>  

                                                            <option ng-repeat="braceletlists in braceletlist" value="{{braceletlists.id}}">{{braceletlists.type}}</option>  

                                                        </select>
                                                            </div>
                      </div>
                      <div class="form-group">
                                                          
                                                              <a class="card-link" data-toggle="collapse" data-parent="#accordionmodelyear" data-target="#collapseOnemodelyear" href="javascript:void(0)">
								{{language.model}} {{language.year}}
							</a>
                                                            <div id="collapseOnemodelyear" class="in collapse">   
                                                         <select class="form-control"  ng-model="year" ng-change="searchListing()">
                                                    <option  value="">{{language.please}} {{language.select}} {{language.model}} {{language.year}}</option>  

                                                    <option ng-repeat="year in YearsList" value="{{year}}">{{year}}</option>  

                                                </select>
                                                         </div>     
                  		</div>  
                                                         
                      <div class="form-group">
                                                         <a class="card-link" data-toggle="collapse" data-parent="#accordionm" data-target="#collapseOnemovement" href="javascript:void(0)">
								{{language.movement}}
							</a>
							<div id="collapseOnemovement" class="in collapse" ng-init = "getmovements();">
								 <div  ng-repeat="move in movementlist| limitTo: limit">
								<div class="form-check">
                                                                    
								  <input class="form-check-input" type="checkbox" ng-model="move.Selected" ng-click="updatecheckboxmovement(move.Selected,move.name)" ng-checked="user.move.indexOf(move.name)>=0" ng-true-value="'{{move.name.replace('\'', '\\\'')}}'" id="test{{move.id}}">
                                                                  <!--<input class="form-check-input" type="checkbox" ng-model="brandlists.Selected" ng-click="updatecheckbox(brandlists.Selected,brandlists.id)" ng-checked="user.brand.indexOf(brandlists.id)>=0" ng-true-value="'{{brandlists.id.replace('\'', '\\\'')}}'" id="test{{brandlists.id}}">-->
								  <label class="form-check-label" for="movement{{move.id}}">
								    {{move.name}}
								  </label>
								</div>
							</div>
							</div>
                      </div>
                                                         
                                                         
                			<div class="form-group">
                                                         <a class="card-link" data-toggle="collapse" data-parent="#accordion"  data-target="#collapseOnesize" href="javascript:void(0)">
								{{language.size}}
							</a>
                                                    
                                                    
                                                    <hr>
                                                    <div class="in collapse" id="collapseOnesize" >
                                                    <p>{{language.size}} {{language.amount_max}}: <span id="min_size_price">{{size_amount_min}}</span>
                                                        <input type="hidden"  ng-model="size_amount_min" readonly/> </p>
                                                        <p>{{language.size}} {{language.amount_min}}: <span id="max_size_price">{{size_amount_max}}</span>
                                                        <input type="hidden" ng-model="size_amount_max" readonly/> </p>
    <slider-range min="0" max="100" step="5" ng-mouseup="searchListing()" value-min="size_amount_min" value-max="size_amount_max"></slider-range>
    <hr>
                                                    </div>
                      </div>
                                                         
                      <div class="form-group">
                                                         <a class="card-link" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOneseller" href="javascript:void(0)">
								{{language.seller}}
							</a>
							<div id="collapseOneseller" class="collapse" ng-init = "getShops();">
								 <div  ng-repeat="shops in shopOwners| limitTo: limit">
								<div class="form-check">
                                                                    
								  <input class="form-check-input" type="checkbox" ng-model="shops.Selected" ng-click="updatecheckbox2(shops.Selected,shops.id)" ng-checked="user.shops.indexOf(shops.id)>=0" ng-true-value="'{{shops.id.replace('\'', '\\\'')}}'" id="test{{shops.id}}">
								  <label class="form-check-label" for="shop{{shops.id}}">
								    {{shops.name}}
								  </label>
								</div>
							</div>
							</div>
                      </div>
                                                         
                    </div>
								
					   			</div>
						
						 
							</div>
                                                
                                                
                                                
<!--                                                <div class="filter-holder">					    
							<a class="card-link" data-toggle="collapse" data-parent="#accordion"  data-target="#collapseOnesize" href="javascript:void(0)">
								Size
							</a>
                                                    
                                                    
                                                    <hr>
                                                    <div class="collapse" id="collapseOnesize" >
                                                    <p>Size Amount Min: <span id="min_size_price">{{size_amount_min}}</span>
                                                        <input type="hidden"  ng-model="size_amount_min" readonly/> </p>
                                                        <p>Size Amount Max: <span id="max_size_price">{{size_amount_max}}</span>
                                                        <input type="hidden" ng-model="size_amount_max" readonly/> </p>
    <slider-range min="0" max="1000" step="10" ng-mouseup="searchListing()" value-min="size_amount_min" value-max="size_amount_max"></slider-range>
    <hr>
                                                    </div>	
							
					   </div>-->
                                                
<!--					   <div class="filter-holder">					    
							<a class="card-link" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOneseller" href="javascript:void(0)">
								Seller
							</a>
							<div id="collapseOneseller" class="collapse" ng-init = "getShops();">
								 <div  ng-repeat="shops in shopOwners| limitTo: limit">
								<div class="form-check">
                                                                    
								  <input class="form-check-input" type="checkbox" ng-model="shops.Selected" ng-click="updatecheckbox2(shops.Selected,shops.id)" ng-checked="user.shops.indexOf(shops.id)>=0" ng-true-value="'{{shops.id.replace('\'', '\\\'')}}'" id="test{{shops.id}}">
								  <label class="form-check-label" for="shop{{shops.id}}">
								    {{shops.name}}
								  </label>
								</div>
							</div>
							</div>
							<a href="" class="view-all">{{language.view_all}}</a>	
					   </div>-->
<!--					   <div class="filter-holder">					    
							<a class="card-link" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOnerating" href="javascript:void(0)">
								Rating
							</a>
							<div id="collapseOnerating" class="collapse">
								<div class="form-check">
								  <input class="form-check-input" type="checkbox" value="" id="defaultCheck12">
								  <label class="form-check-label" for="defaultCheck12">
								    <i class="fa fa-star active"></i>
								    <i class="fa fa-star active"></i>
								    <i class="fa fa-star active"></i>
								    <i class="fa fa-star active"></i>
								    <i class="fa fa-star"></i>
								    & Up (12)
								  </label>
								</div>
								<div class="form-check">
								  <input class="form-check-input" type="checkbox" value="" id="defaultCheck22">
								  <label class="form-check-label" for="defaultCheck22">
								    <i class="fa fa-star active"></i>
								    <i class="fa fa-star active"></i>
								    <i class="fa fa-star active"></i>
								    <i class="fa fa-star"></i>
								    <i class="fa fa-star"></i>
								    & Up (12)
								  </label>
								</div>
								<div class="form-check">
								  <input class="form-check-input" type="checkbox" value="" id="defaultCheck32">
								  <label class="form-check-label" for="defaultCheck32">
								    <i class="fa fa-star active"></i>
								    <i class="fa fa-star active"></i>
								    <i class="fa fa-star"></i>
								    <i class="fa fa-star"></i>
								    <i class="fa fa-star"></i>
								    & Up (12)
								  </label>
								</div>
								<div class="form-check">
								  <input class="form-check-input" type="checkbox" value="" id="defaultCheck42">
								  <label class="form-check-label" for="defaultCheck42">
								    <i class="fa fa-star active"></i>
								    <i class="fa fa-star"></i>
								    <i class="fa fa-star"></i>
								    <i class="fa fa-star"></i>
								    <i class="fa fa-star"></i>
								    & Up (12)
								  </label>
								</div>
							</div>
							<a href="" class="view-all">{{language.view_all}}</a>	
					   </div>-->
<!--						<div class="filter-holder">					    
							<a class="card-link" data-toggle="collapse" data-parent="#accordionm" data-target="#collapseOnemovement" href="javascript:void(0)">
								Movement
							</a>
							<div id="collapseOnemovement" class="collapse" ng-init = "getmovements();">
								 <div  ng-repeat="move in movementlist| limitTo: limit">
								<div class="form-check">
                                                                    
								  <input class="form-check-input" type="checkbox" ng-model="move.Selected" ng-click="updatecheckboxmovement(move.Selected,move.name)" ng-checked="user.move.indexOf(move.name)>=0" ng-true-value="'{{move.name.replace('\'', '\\\'')}}'" id="test{{move.id}}">
                                                                  <input class="form-check-input" type="checkbox" ng-model="brandlists.Selected" ng-click="updatecheckbox(brandlists.Selected,brandlists.id)" ng-checked="user.brand.indexOf(brandlists.id)>=0" ng-true-value="'{{brandlists.id.replace('\'', '\\\'')}}'" id="test{{brandlists.id}}">
								  <label class="form-check-label" for="movement{{move.id}}">
								    {{move.name}}
								  </label>
								</div>
							</div>
							</div>
							<a href="" class="view-all">{{language.view_all}}</a>	
					   </div>-->
					</div>
				</div>
				<div class="col-md-9">
					<div class="widte-bg py-3 px-3">
						<div class="header-list pb-3">
							<div class="form-inline">
							  <div class="form-group sort-by">
							    <label for="inputPassword6">{{language.short_by}} </label>							    
							    <select class="custom-select form-control mx-sm-3" id="inputGroupSelect01" ng-model="drpmodel" ng-change="cobchange()">
								    <option value="0" selected="selected">{{language.relevance}}</option>
								    <option value="1">{{language.low_to_high}}</option>
								    <option value="2">{{language.high_to_low}}</option>
								    <option value="3">{{language.newest}}</option>
								    <option value="4">{{language.popularity}}</option>
								 </select>		
							  </div>
                      <ul class="pull-right grid-list">
                        <li class="list" id="list"><i class="fa fa-th-list"></i></li>
                        <li class="grid active" id="grid"><i class="fa fa-th-large"></i></li>
                      </ul>
                                                            
<!--                                                            <div class="form-group">
                        
                        <button class="btn btn-primary top-product123 ml-2" ng-click="top_productss2()">{{language.Reset_Filters}}</button>
                     </div>-->
                                                            
                                                            
                                                            
							</div>
<!--							<ul class="pull-right grid-list">
							<li class="list"><i class="fa fa-th-list"></i></li>
								<li class="grid active"><i class="fa fa-th-large"></i></li>
							</ul>-->
						</div>						
						<div class="row list-item">
							<div class="col-md-4 mt-3 gridview" ng-if="exists==1" ng-repeat="productLists in productList">
								<div class="card">
								  <div class="top-product" ng-if="productLists.top==1"><img src="app/assets/images/top.png" alt="" /></div>
                                                                  <a href="#/productDetails/{{productLists.id}}"> <img class="card-img-top" src="{{productLists.image}}" alt="Card image cap"></a>
								  <div class="card-body">
										<div class="fix">
								    <!--<h5 class="card-title">{{productLists.productname}}</h5>-->
												<p class="card-text"><span>{{language.seller}}:</span> {{productLists.seller_name}}</p>
												<p class="card-text"><span>{{language.brands}}:</span> {{productLists.brands}}</p>
												<p class="card-text"><span>{{language.category}}:</span> {{productLists.category_name}}</p>
																																				
												<ul>
													<b>{{productLists.currency_code}} {{productLists.price}}</b>
												
												</ul>
										</div>

								    <a href="#/productDetails/{{productLists.id}}" class="btn btn-primary">{{language.contact_seller}}</a>
								  </div>
								</div>
							</div>
                                                    <h4 class="col-md-4 mt-3" ng-if="exists==0">{{language.no_records_found}}</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		<section class="footer-top">
		<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-3 border-right">
                            <h4>{{language.contact_information}}</h4>
                            <p>{{contactinfo.address}}</p>
                            <p>{{contactinfo.phone}}</p>
                            <p>{{contactinfo.email}}</p>
                         </div>
			<div class="col-md-6 col-lg-3 border-right">
				<h4>{{language.newsletter}}</h4>
				<p>Subscribe to get updates on Latest products and deals. </p>
				<div class="input-group">
				  <input type="text" class="form-control" placeholder="Enter Your Email" aria-label="Recipient's username" aria-describedby="basic-addon2">
				  <div class="input-group-append">
				     <button class="btn" ng-click="registernewsletter(newsletter)" type="button"><i class="fa fa-envelope"></i></button>
				  </div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 border-right">
				<h4>{{language.follow_us}}</h4>
				<p> </p>
<!--				<div class="social justify-content-between">
					<a href="" class="fa fa-facebook"></a>
					<a href="" class="fa fa-twitter"></a>
					<a href="" class="fa fa-instagram"></a>
					<a href="" class="fa fa-pinterest"></a>
					<a href="" class="fa fa-google-plus"></a>
				</div>-->

                                 <div class="social justify-content-between">
                                    <div ng-repeat="sociallink in sociallinks">
					<a  href="{{sociallink.link}}" class="{{sociallink.class}}" target="_blank"></a>
                                    </div>
				</div>   
			</div>
			<div class="col-md-6 col-lg-3 download">
				<h4>{{language.download_app}}</h4>
                                <a href="https://itunes.apple.com/us/app/gmt24/id1329672908?ls=1&mt=8"><button class="btn btn-outline-primary"><i class="fa fa-apple"></i><span>Download from App Store</span></button></a>
                                <a href="https://play.google.com/store/apps/details?id=io.ionic.gmt24&hl=en"><button class="btn btn-outline-primary mt-3"><i><img src="app/assets/images/new-collection/play.png" alt="" /></i><span>Download from Play Store</span></button></a>
			</div>
		</div>
		</div>
	</section>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
<script src="http://jvandemo.github.io/angularjs-google-maps/dist/angularjs-google-maps.js"></script>

<script>
   $(document).ready(function() {
           
    $('#list').click(function(event){
        event.preventDefault();
        $('.col-md-4').removeClass('gridview');
        $('#grid').removeClass('active');
        $('#list').addClass('active');
        $('.col-md-4').addClass('listview');
        
       
    });
    
    
    
    $('#grid').click(function(event){
        event.preventDefault();
        $('.col-md-4').removeClass('listview');
         $('#list').removeClass('active');
        $('#grid').addClass('active');
        $('.col-md-4').addClass('gridview');
        
        
        
    });
   
}); 
    
</script>

<script>
	window.onscroll = function() {myFunction()};

// Get the header
var header = document.getElementById("myHeader");

// Get the offset position of the navbar
var sticky = header.offsetTop;

// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
} 
</script>

<style>
    .slider {
  position: relative;
  text-align: left;
  border: 1px solid gray;
  height: 0.6em;
}

.slider .handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  background-color: gray;
}

.handle {
  top: -0.3em;
  margin-left: -0.6em;
}

.slider .range {
  position: absolute;
  z-index: 1;
  display: block;
  font-size: .7em;
  background-color: red;
  top: 0;
  height: 100%;
}
    
</style>