<section class="innerbody" ng-init="allsubscriptions()">
   <div class="container">
      <div class="row">
         <div class="col-lg-3 col-md-4" data-ng-include=" 'app/views/partials/sidebar.html' " ></div>
         <div class="col-lg-9 col-md-8">
            <h5 class="common-title p-3 mb-0">{{language.subscribed_package_list}}</h5>
            <div class="edit-pro p-3 w-100 float-left">
               <ul class="wish-list">
                  <li class="p-3 ng-scope col-md-4 float-left ml-1 new-partli" ng-repeat="subscription in subscribedLists">
                     <div class="wishlist-content w-100 float-left">
                        <h6>{{language.Package}}: {{subscription.name}} <span><i class=""></i></span></h6>
                        <b class="d-block mb-2">{{language.Price}}:{{subscription.prefferd_currency}} {{subscription.price}}</b>
                        <b class="d-block mb-2" ng-if="subscription.subscribed_id==subscription.active">{{language.slots_remain}}: {{subscription.slot_remain}} of {{subscription.slots}}</b>
                        <b class="d-block mb-2" ng-if="subscription.subscribed_id!=subscription.active">{{language.Slots}}:{{subscription.slots}}</b>
                        <b class="d-block mb-2">{{language.subscription_date}}: {{subscription.subscription_date}}</b>
                        <b class="d-block mb-2">{{language.expiry_date}}: {{subscription.expiry_date}}</b>
                        <p><button type="button" class="btn btn-primary" ng-click="renew(subscription.id,subscription.package_status)"> {{language.Renew}}</button> </p>
                        <b class="blink" ng-if="subscription.subscribed_id==subscription.active && subscription.expirydate >= subscription.currentdate">{{language.Active}}</b>
                     </div>
                  </li>
               </ul>
               <h4 style="text-align: center;" ng-if="exists==0">{{language.no_records_found}}</h4>
            </div>
         </div>
      </div>
   </div>
</section>