
	<section class="innerbody" ng-init="adduserpayment()">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-12 col-md-12">
					<h5 class="common-title p-3 mb-0">Payment Status</h5>
					<div class="edit-pro p-3 text-center">
						<p class="mt-3"><img src="app/assets/images/thumbsup.png" class="ing-fluid"></p>
						<h3 class="mb-3 mt-3 success-h4">{{msg}}</h3>
						
                                                <p><a href="#/myProduct"><button type="button" class="btn btn-primary btn-dark"> Go To My Product</button> </a></p>
					</div>
				</div>
			</div>
		</div>
	</section>

	