
	<section class="innerbody margin-top" ng-init="myproduct()">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4" data-ng-include=" 'app/views/partials/sidebar.html' " ></div>
				<div class="col-lg-9 col-md-8">
					<h5 class="common-title p-3 mb-0">{{language.dashboard}}</h5>
					<div class="edit-pro p-3">
						<div class="row d-flex flex-wrap">
							<div class="col-md-3 mb-3">
								<a href="#/SubscribedList" class="dash-box-container p-2 d-block">
									<i class="ion-android-person"></i>
									<div class="info">{{subcriptions}}</div>
									<p>{{language.my_subscriptions}}</p>
									<div class="box-counter">{{subcriptions}}</div>
								</a>
							</div>
							<div class="col-md-3 mb-3">
								<a href="#/myAuction" class="dash-box-container p-2 d-block">
									<i class="ion-android-person"></i>
									<div class="info">{{auctionlist}}</div>
									<p>{{language.my_auction}}</p>
									<div class="box-counter">{{auctionlist}}</div>
								</a>
							</div>
							<div class="col-md-3 mb-3">
								<a href="#/myProduct" class="dash-box-container p-2 d-block">
									<i class="ion-android-person"></i>
									<div class="info">{{productlist}}</div>
									<p>{{language.my_product}}</p>
									<div class="box-counter">{{productlist}}</div>
								</a>
							</div>
<!--							<div class="col-md-3 mb-3">
								<a href="" class="dash-box-container p-2 d-block">
									<i class="ion-android-person"></i>
									<div class="info">6</div>
									<p>My Orders</p>
									<div class="box-counter">6</div>
								</a>
							</div>-->
<!--							<div class="col-md-3 mb-3">
								<a href="" class="dash-box-container p-2 d-block">
									<i class="ion-android-star"></i>
									<div class="info">{{reviewlist}}</div>
									<p>Reviews</p>
									<div class="box-counter">{{reviewlist}}</div>
								</a>
							</div>-->
                                                            <div class="col-md-3 mb-3">
								<a href="#/messagelisting" class="dash-box-container p-2 d-block">
									<i class="ion-android-star"></i>
									<div class="info">{{messagelist}}</div>
									<p>{{language.my_messaage}}</p>
									<div class="box-counter">{{messagelist}}</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	