
	<section class="innerbody" ng-init="wishlist()">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4" data-ng-include=" 'app/views/partials/sidebar.html' " ></div>
				<div class="col-lg-9 col-md-8">
					<h5 class="common-title p-3 mb-0">{{language.favorite_or_wishlist}}</h5>
					<div class="edit-pro p-3">
						<ul class="wish-list">
							<li class="p-3 d-flex" ng-repeat="ProductLists in favouriteProductList">
								<div class="wishlist-image mr-3">
									<img src="{{ProductLists.pro_image}}" alt="">
								</div>
								<div class="wishlist-content">
									<h6>{{ProductLists.pro_name}} <span><i class="ion-heart"></i></span></h6>
									<p class="mb-1">{{ProductLists.product_description}}</p>
									<b class="d-block mb-2">{{ProductLists.currency_pref}} {{ProductLists.pro_price}}</b>
									<!--<p><button type="button" class="btn btn-primary"><i class="ion-android-cart"></i>{{language.buy_it}} </button>-->
									<!--<button type="button" class="btn btn-primary btn-dark"><i class="ion-trash-a"></i>{{language.delete}} </button></p>-->
								</div>
							</li>
							<!--<li class="p-3 d-flex">
								<div class="wishlist-image mr-3">
									<img src="images/watch.jpg" alt="">
								</div>
								<div class="wishlist-content">
									<h6>Rolex Cosmograph Daytona <span><i class="ion-heart"></i></span></h6>
									<p class="mb-1">Lorem Ipsum is simply dumy text of the  watch printing and typeseing industry. Lorem Ipsum
is simply dumy text of the  watch printing and typesetting industry.</p>
									<b class="d-block mb-2">$ 27.25</b>
									<p><button type="button" class="btn btn-primary"><i class="ion-android-cart"></i> Buy It</button>
									<button type="button" class="btn btn-primary btn-dark"><i class="ion-trash-a"></i> Delete</button></p>
								</div>
							</li>-->
						</ul>
                                             <h4 style="text-align: center;" ng-if="exists==0">{{language.no_records_found}}</h4>
					</div>
				</div>
			</div>
		</div>
	</section>

	